/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

/* "Source" button label */
.cke_button__source_label,
.cke_button__sourcedialog_label {
    display: inline;
}

/* "Font Size" combo width */
.cke_combo__fontsize .cke_combo_text {
    width: 30px;
}

/* "Font Size" panel size */
.cke_combopanel__fontsize {
    width: 120px;
}

/* Editable regions */
.cke_source {
    font-family: 'Courier New' , Monospace;
    font-size: small;
    background-color: #fff;
    white-space: pre;
}

.cke_wysiwyg_frame, .cke_wysiwyg_div {
    background-color: #fff;
}
