/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

/*
dialog_opera.css
===============

This file contains styles to used by all versions of Opera only.
*/

/* Base it on dialog.css, overriding it with styles defined in this file. */
@import "../../dialog/dialog";

/* Opera has problem with box-shadow and td with border-collapse: collapse */
/* inset shadow is mis-aligned */
.cke_dialog_footer
{
    display: block;
    height: 38px;
}

.cke_ltr .cke_dialog_footer > *
{
    float:right;
}
.cke_rtl .cke_dialog_footer > *
{
    float:left;
}
