<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style></style>
        <style></style>
        <style type="text/css"></style>
    </head>
    <body>

        
            <div style="margin:0;padding:0">
            <div style="font-size:15px;color:#666">
            <table style="table-layout:fixed;width:100%">
            <tbody><tr><td>
            <table align="center" style="margin:0 auto;font-size:inherit;line-height:inherit;text-align:center;border-spacing:0;border-collapse:collapse;padding:0;border:0" cellpadding="0" cellspacing="0">
            <tbody><tr><td colspan="3" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;height:16px" height="16"></td></tr>
            <tr>
            <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;width:685px">
            <table align="center" style="margin:0 auto;font-size:inherit;line-height:inherit;padding:0;border:0">
            <tbody><tr>
            <td align="center" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
            <div align="center" style="padding-left:10px">
            <img width="296" height="176" src="http://i.imgur.com/qHbQ1X6.png" alt="" class="CToWUd">
            </div>
            </td>
            </tr>
            <tr>
            <td align="center" style="word-break:break-word;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#2b2b2b;font-size:27px;font-weight:300;padding:0px 0 17px">
            </td>
            </tr>
            <tr>
            <td align="center" style="word-break:break-word;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;font-size:15px;font-weight:300;line-height:20px;padding-bottom:4px">
            Do you own or manage a small business?<br>Add or correct your business information to help your customers find you in Apple Maps.<br>Sign up to find out more about how to get indoor positioning at your venue.
            </td>
            </tr>
            </tbody></table>
            </td>
            </tr>
            <tr>
            <td colspan="3" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;width:685px;padding:17px 0 8px 0">
            <table align="center" style="margin:0 auto;padding:0;border:0">
            <tbody><tr>
            <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
            <table height="43" cellpadding="0" cellspacing="0" style="font-size:inherit;line-height:inherit;padding:0;border:0">
            <tbody>
            <tr>
            <td height="45" width="129" background="http://i66.tinypic.com/24wwvah.png" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;txt-align:center;color:#2b2b2b;font-size:15px;font-weight:500;background-repeat:repeat-x;background-color:#efefef;padding:0 0px" align="center"bgcolor="#efefef">
            <div><a href="{{link}}" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#2b2b2b;text-decoration:none;font-weight:500;padding-left:20px" target="_blank">
            <u></u>Sign up<u></u>
            </a></div>
            </td>
            </tr>
            </tbody>
            </table>
            </td>
            </tr>
            </tbody></table>
            </td>
            </tr>
            <tr style="height:24px" height="24"><td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
            </td></tr>
            <tr>
            <td colspan="3" background="http://i66.tinypic.com/2e52y69.jpg" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;width:685px;font-size:11px;color:#888;text-align:center;background-repeat:no-repeat;background-position:center top;padding:15px 0 10px" align="center">
            <img width="81" height="29" src="http://i.imgur.com/ghAZ4lv.png" style="width:81px;min-height:22px" class="CToWUd">
            </td>
            </tr>
            <tr>
            <td colspan="3" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;width:685px;font-size:11px;line-height:14px;color:#888;text-align:center" align="center">
            <span>
            Apple Maps is a service provided by Apple.
            </span>
            <br>
            <span colspan="3">
            <span style="white-space:nowrap">
            Copyright
            </span>
            <span>
            Apple Distribution International, <span>Hollyhill Industrial Estate, Hollyhill, Cork, Republic of Ireland.</span>
            </span>
            <span style="white-space:nowrap">
            All rights reserved.
            </span>
            </span>
            </td>
            </tr>
            <tr style="height:50px" height="50"><td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif"></td></tr>
            </tbody></table>
            </td></tr></tbody></table>
            </div>
            </div>


    </body>
</html>

