/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */



//Setting for Media Query >>

//@media only screen and (max-width: $screen-sm-min)
//@media only screen and (max-width: $screen-sm-max)
//@media only screen and (max-width: $screen-xs-min)
//@media only screen and (max-width: $screen-xs-max)



// special setting
$blackcolor: #333;
$full-width: 970px;
$BlueColor: #3986FB;
$redColor: #ea133e;
$yellowColor:#e9ac40;
$greenColor:#229C74;
$brand-whight: #ffffff;
$brand-primary:         #2980B9;
$brand-success:         #27AE60;
$brand-info:            #3498DB;
$brand-warning:         #F39C12;
$brand-danger:          #E74C3C;
$brand-green:          #1ABC9C;
$brand-greenb:          #27AE60;
$brand-blue:          #3498DB;
$brand-pur:          #9B59B6;
$brand-purb:          #8E44AD;
$brand-dark:          #162330;
$brand-darkb:			#0c131a;
$brand-darkw:          #34495E;
$brand-gray:          #ECF0F1;
$brand-grayb:          #BDC3C7;
$brand-graybb:          #95A5A6;
$brand-grayd:          #7F8C8D;
$brand-yellow:          #F1C40F;
$brand-orang:          #E67E22;
$brand-orangb:          #D35400;
$brand-red:          #E74C3C;

// media query
$screen-xs-max:480px - 1;
$screen-xs-min:480px;
$screen-sm-max:768px - 1;
$screen-sm-min:768px;
$screen-md-max:992px - 1;
$screen-md-min:992px;
$screen-lg-max:1200px - 1;
$screen-lg-min:1200px;