/*
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

body {
  margin: 0;
  padding: 0; }

#header {
  background: #000; }

/*# sourceMappingURL=aid.css.map */
