/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

@import "compass", "bourbon", "setting";

body {
	position: relative;
	padding: 0;
	margin: 0;
	background: #fff url('../img/background.png') repeat-x top left;
	background-size: cover;
	direction: rtl;
	height: 100vh;
	min-height: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 100 !important;
	//@include image-rendering(optimizeSpeed);
}
body.find {
	background: #e0e0e0 repeat-x top left;
	background-image: url('../img/map.png'), url('../img/map2.png');
	background-size: cover;
}	
.hiden {
	display: none !important;
}
.show {
	display: block !important;
}
.snippet-container {
	word-break: break-all;
	text-align: left !important;
	white-space: nowrap;
	word-wrap: break-word;
	max-height: 200px !important;
	overflow-z: auto;
}
.applef {
	font-size: 11px;
	font-family: 'sf-pro', Arial, Helvetica, sans-serif;
	font-weight: 300 !important;
}
a, a:hover, input {
	text-decoration: none;
	outline: none !important;
}
.container-fluid {
	padding: 0 10px !important;
}
#header {

	.rightH {
		position: relative;
		min-height: 44px;
		padding-top: 11px;

		a, span {
			cursor: default;
			display: inline-block;
			@include transition(all 0.1s ease);
		}

		> a.help {
			position: relative;
			height: 22px;
			width: 22px;
			padding: 0 10px;
			background: url('../img/help.png') no-repeat 0px 0px;
			margin-right: 3px;
			@include opacity(0.8);
			&:hover {
				@include opacity(0.6);
			}
		}
		> span.spreat {
			position: relative;
			width: 1px;
			background: #fff;
			height: 22px;
			margin: -2px 7px 0 8px;
			@include opacity(0.9);
		}
		> a.setup {
			position: absolute;
			color: #fff;
			@include opacity(0.6);
			//height: 22px;
			top: 8px;
			right: 58px;
			font: normal 21px 'sf-pro', Arial, Helvetica, sans-serif;
			/* Smartphones (portrait and landscape) ----------- */
			@media only screen 
			and (min-width : 320px) 
			and (max-width : 480px) {
				/* Styles */
				font-size: 18px;
				top: 10px;
			}
			&:hover {
				@include opacity(0.8);
			}
		}
	}

	.leftH {
		position: relative;

		span.icloud {
			position: absolute;
			display: inline-block;
			width: 56px;
			height: 16px;
			background: url('../img/icloud.png') no-repeat 0 0;
			top: 14px;
			left: 13px;
			@include opacity(0.8);
		}
	}
}

#header2 {
	background: #fff;
	color: #24a337;

	.rightH {
		position: relative;
		min-height: 44px;
		padding-top: 11px;

		a, span {
			cursor: default;
			display: inline-block;
			@include transition(all 0.1s ease);
		}

		> a.help {
			position: relative;
			height: 22px;
			width: 22px;
			padding: 0 10px;
			background: url('../img/help2.png') no-repeat 0px 0px;
			margin-right: 3px;
			@include opacity(0.8);
			&:hover {
				@include opacity(0.6);
			}
		}
		> span.spreat {
			position: relative;
			width: 1px;
			background: #24a337;
			height: 22px;
			margin: -2px 7px 0 8px;
			@include opacity(0.9);
		}
		> a.setup {
			position: absolute;
			color: #24a337;
			@include opacity(0.6);
			//height: 22px;
			top: 8px;
			right: 58px;
			font: normal 21px 'sf-pro', Arial, Helvetica, sans-serif;
			/* Smartphones (portrait and landscape) ----------- */
			@media only screen 
			and (min-width : 320px) 
			and (max-width : 480px) {
				/* Styles */
				font-size: 18px;
				top: 10px;
			}
			&:hover {
				@include opacity(0.8);
			}
		}
	}

	.leftH {
		position: relative;

		span.find {
			position: absolute;
			left: 75px;
			top: 10px;
			font: normal normal 300 20px 'sf-pro', Tahoma, Verdana, Segoe, sans-serif;
		}

		span.icloud {
			position: absolute;
			display: inline-block;
			width: 56px;
			height: 16px;
			background: url('../img/icloud.png') no-repeat;
			background-position: -56px 0;
			top: 14px;
			left: 13px;
			float: left;
			@include opacity(0.8);
		}

		a
		{
			position: relative;
			color: #24a337;
			font: normal normal 500 20px 'sf-pro', Tahoma, Verdana, Segoe, sans-serif;
			top: 10px;
			right: 140px;
		}

	}
}
.imessage {
	position: relative;
	//width: 1000px;
	margin: 65px auto 0 auto;
	min-height: 200px;
	text-align: center !important;
	direction: ltr !important;

	a {
		position: relative;
		display: block;
		img
		{
			position: relative;
			width: 130px;
			height: 130px;
			display: block;
			left:0;
			right:0;
			margin-left: auto;
			margin-right: auto;
		}
		span
		{
			position: relative;
			display: block;
			font: normal normal 100 19px 'sf-pro', Tahoma, Verdana, Segoe, sans-serif;
			color: #fff;
			text-align: center;
			padding: 15px 0 50px 0;
		}
	}
}

.login-form {
	position: relative;
	width: 324px;
	margin: 0 auto 0 auto;
	padding-top: 17px;

	@media only screen 
	and (min-width : 320px) 
	and (max-width : 480px) {
		/* Styles */
		width: 300px;
	}

	img.img-cloud {
		position: relative;
		//display: inline-block;
		margin: 0px auto;
	}
	h2 {
		position: relative;
		font-weight: 300 !important;
		font: 32px 'sf-pro', Arial, Helvetica, sans-serif;
		color: #fff;
		@include opacity(0.95);
		text-align: center;
		margin-bottom: 10px;
	}

	form.cloud-login {
		position: relative;
		background: rgba(255,255,255,0.75);
		background-clip: padding-box;
		@include border-radius(6px);
		//overflow: hidden;
		cursor: default;
		margin-top: 25px;

		input[type=text], input[type=password] {
			position: relative;
			width: 100%;
			padding: 13px 10px;
			border: 0px;
			background: transparent;
			text-align: left;
			font: 18px 'sf-pro', Arial, Helvetica, sans-serif;
			font-weight: 100 !important;
			//border: 1px transparent solid;
			@include transition( all 0.3s ease );
			outline: none !important;

		}
		> input[type=text] {
			@include border-radius( 6px 6px 0 0 );
			border-bottom: 1px solid rgba(0,0,0,0.1);
			&:focus {
				//border: 1px solid #078DFA;
				box-shadow: 0 0 0 1px #078DFA;
			}
		}
		> input[type=password] {
			z-index: 99;
			@include border-radius(  0 0 6px 6px );
			&:focus {
				//border: 1px solid #078DFA;
				box-shadow: 0 0 0 1px #078DFA;
			}
		}
		> input[type=submit] {
			position: absolute;
			top: 58px;
			right: 12px;
			background: transparent url('../img/login.png') no-repeat;
			width: 26px;
			height: 26px;
			border: 0;
			@include opacity(0.8);
			z-index: 9;
			//display: none;
		}
		img.loading {
			position: absolute;
			top: 60px;
			right: 12px;
			//background: transparent url('../img/login.png') no-repeat;
			width: 26px;
			height: 26px;
			border: 0;
			@include opacity(0.8);
			z-index: 9;
			display: none;
		}
		.alrt {
			position: absolute;
			z-index: 9999;
			width: 435px;
			//height: 100px;
			right: -58px;
			background: rgba(245, 228, 156, 1);
			direction: ltr;
			padding: 6px 10px 5px 10px;
			top: 105px;
			@include border-radius(6px);
			border: 1px rgba(80, 62, 48, 0.5) solid;
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
			display: none;

			@media only screen 
			and (min-width : 320px) 
			and (max-width : 480px) {
				/* Styles */
				width: 300px;
				right: 0px;
				padding-bottom: 10px;

				h3 {
					font-size: 13px;
					text-align: center;
				}
				p {
					font-size: 13px;
					margin-bottom: 10px;
					text-align: center;
				}
				a {
					padding: 2px 5px;
					position: relative;
					top:0;
					right:-40%;
					margin-right: 150px;
					//margin: 0 auto;
				}
			}

			&:after {
				position: absolute;
				top:-16px;
				left:0;
				right: 0;
				margin: 0 auto;
				content: " ";
				width: 0; 
				height: 0; 
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-bottom: 16px solid rgba(245, 228, 156, 1); 
				z-index: 99999;

			}

			h3 {
				margin: 0;
				padding: 0;
				font: bold 16px 'sf-pro', Arial, Helvetica, sans-serif;
				color: #503e30;
				text-align: left;
			}
			p {
				margin: 0;
				padding: 0;
				font: 16px 'sf-pro', Arial, Helvetica, sans-serif;
				color: #503e30;
				text-align: left;
			}
			a {
				position: absolute;
				right: 10px;
				top: 11px;
				@include border-radius(4px);
				font: bold 16px 'sf-pro', Arial, Helvetica, sans-serif;
				border: 1px rgba(80, 62, 48, 0.3) solid;
				color: #503e30;
				//width: 60px;
				padding: 5px 10px;
				//height: 30px;
			}
		}
	}

	.keepme {
		position: relative;
		margin-top: 20px;
		display: block;
		text-align: center;
		color: #fff;
		font-size: 15px !important;
		font-family: 'sf-pro', Arial, Helvetica, sans-serif !important;
		font-weight: 100 !important;
		@include opacity(0.8);
	}

	.forget {
		position: relative;
		margin-top: 30px;
		display: block;
		background: transparent url('../img/forgetbg.png') no-repeat top center;
		padding: 15px 0;
		color: #fff;
		font-family: 'sf-pro', Arial, Helvetica, sans-serif;
		font-weight: 100 !important;
		text-align: center;

		a {
			color: #fff;
			font-weight: 500 !important;
			text-decoration: underline;
		}
	}

}
.dologin {
	background: transparent url('../img/login2.png') no-repeat !important;
	z-index: 999 !important;
}
footer.foot {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: transparent;
	height: 41px;
	text-align: left;
	@media only screen 
	and (min-width : 320px) 
	and (max-width : 480px) {
		/* Styles */
		height: auto;
		position: relative;
		text-align: center !important;
	}

	.apple {
		position: relative;

		a.apple-logo {
			position: absolute;
			display: inline-block;
			width: 30px;
			height: 35px;
			background: transparent url('../img/apple.png') no-repeat;
			left: 3px;
			top: 4px;
			@media only screen 
			and (min-width : 320px) 
			and (max-width : 480px) {
				/* Styles */
				top: 0;
				left: 0;
				right: 0;
				margin-right: auto;
				margin-left: auto;
			}

		}
	}

	.foot-link {
		position: relative;
		text-align: right;
		padding-top: 10px;
		direction: ltr;
		color: #fff;
		font-family: 'sf-pro', Tahoma, Verdana, Segoe, sans-serif;
		font-size: 13px;
		font-weight: 500 !important;
		@media only screen 
			and (min-width : 320px) 
			and (max-width : 480px) {
				text-align: center;
			}
		a {
			position: relative;
			display: inline-block;
			color: #fff;
			padding: 0 7px;
			@include opacity(0.7);
			&:hover {
				@include opacity(1);
			}
		}
		span.copyright{
			padding: 0 5px;
			@include opacity(0.7);
		}
		span.footer-link-separator {
			position: relative;
			display: inline-block;
			height: 10px;
			width: 1px;
			background: #fff;
			@include opacity(0.2);
		}
	}
}

.text-center {
	text-align: center !important;
}
/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
#compass {
	
	position: absolute;
	z-index: 999;
	//margin-top: 100px;
	height: 100vh;
	min-height: 100%;
	width: 100%;
	background: #e0e0e0 repeat-x top left;
	background-image: url('../img/map.png'), url('../img/map2.png');
	background-size: cover;

	.compass
	{
		position: relative;
		display: block;
		width: 222px;
		height: 222px;
		margin: 0 auto;
		top: 100px;

		img {
			position: absolute;
		}
		img.compass1
		{
			top: 7px;
			left:0;
			right:0;
			margin-left: auto;
			margin-right: auto;
			@include animation(compass-oscillate 3s ease-in-out infinite);
		}
		img.compass2
		{
			top: 75px;
			left:0;
			right:0;
			margin-left: auto;
			margin-right: auto;
		}
		img.compass3
		{
			top: 0;
			left:0;
			right:0;
			margin-left: auto;
			margin-right: auto;
		}
		span
		{
			position: absolute;
			display: block;
			text-align: center;
			color: #777;
			font: normal normal 300 20px 'sf-pro', Tahoma, Verdana, Segoe, sans-serif;
			direction: ltr;
			width: 100%;
			bottom: -50px;
		}
	}
}
#findmap {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
@-webkit-keyframes compass-oscillate {
    0% {
        -webkit-transform: rotate(-25deg)
    }

    70% {
        -webkit-transform: rotate(35deg)
    }

    100% {
        -webkit-transform: rotate(-25deg)
    }
}

@-moz-keyframes compass-oscillate {
    0% {
        -moz-transform: rotate(-25deg)
    }

    70% {
        -moz-transform: rotate(35deg)
    }

    100% {
        -moz-transform: rotate(-25deg)
    }
}

@keyframes compass-oscillate {
    0% {
        transform: rotate(-25deg)
    }

    70% {
        transform: rotate(35deg)
    }

    100% {
        transform: rotate(-25deg)
    }
}
.ltr {
	direction: ltr !important;
}
.rtl{
	direction: rtl !important;
}
