/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

@import "compass", "bourbon", "setting";
@font-face {
	font-family: 'sf-pro';
	src: url('../font/sf-pro-display-regular.eot'); /* IE9 Compat Modes */
	src: url('../font/sf-pro-display-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/sf-pro-display-regular.woff') format('woff'), /* Modern Browsers */ url('../font/sf-pro-display-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/sf-pro-display-regular.svg#80d8021909d835b751af094d043ad177') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'sf-pro-light';
	src: url('../font/sf-pro-display-light.eot'); /* IE9 Compat Modes */
	src: url('../font/sf-pro-display-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/sf-pro-display-light.woff') format('woff'), /* Modern Browsers */ url('../font/sf-pro-display-light.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/sf-pro-display-light.svg#80d8021909d835b751af094d043ad177') format('svg'); /* Legacy iOS */
}
body {
	position: relative;
	padding: 0;
	margin: 0;
	background: #fff;
	background-size: cover;
	direction: rtl;
	height: 100vh;
	font-family: 'sf-pro-light', Tahoma, Verdana, Segoe, sans-serif !important;
	min-height: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 100 !important;
	//@include image-rendering(optimizeSpeed);
}
body.find {
	background: #e0e0e0 repeat-x top left;
	background-image: url('../img/map.png'), url('../img/map2.png');
	background-size: cover;
}	
.hiden {
	display: none !important;
}
.show {
	display: block !important;
}
.snippet-container {
	word-break: break-all;
	text-align: left !important;
	white-space: nowrap;
	word-wrap: break-word;
	max-height: 200px !important;
	overflow-z: auto;
}
.applef {
	font-size: 11px;
	font-family: 'sf-pro-light', Arial, Helvetica, sans-serif;
	font-weight: 300 !important;
}
a, a:hover, input {
	text-decoration: none;
	outline: none !important;
}
.container-fluid {
	padding: 0 10px !important;
}

.login-form {
	position: relative;
	width: 324px;
	margin: 0 auto 0 auto;
	padding-top: 30px;

	@media only screen 
	and (min-width : 320px) 
	and (max-width : 480px) {
		/* Styles */
		width: 300px;
	}

	img.img-cloud {
		position: relative;
		//display: inline-block;
		margin: 0px auto;
	}
	h2 {
		position: relative;
		font: 32px 'sf-pro-light', Arial, Helvetica, sans-serif;
		color: #111;
		@include opacity(0.95);
		text-align: center;
		margin-bottom: 10px;
	}

	form.cloud-login {
		position: relative;
		background: rgba(255,255,255,0.75);
		background-clip: padding-box;
		@include border-radius(12px);
		box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
		//overflow: hidden;
		cursor: default;
		margin-top: 25px;
		span.applids, span.applepwds {
			position: absolute;
			left: 13px;
			text-align: left;
			font: 18px 'sf-pro-light', Arial, Helvetica, sans-serif;
			font-weight: 100 !important;
			z-index: 99999;
		}
		span.applids {
			top: 13px;
		}
		span.applepwds {
			top: 60px;
		}

		> input[type=text] {
			@include border-radius( 12px 12px 0 0 );
			border-bottom: 1px solid rgba(0,0,0,0.3);
		}
		> input[type=password] {
			z-index: 99;
			@include border-radius(  0 0 12px 12px );
		}
		> input[type=submit] {
			position: absolute;
			bottom: -60px;
			right: 0;
			left: 0;
			color: rgba(36, 163, 55, 0.8);
			direction: ltr;
			margin-left: auto;
			margin-right: auto;
			background: transparent;
			width: auto;
			font: 24px 'sf-pro', Tahoma, Verdana, Segoe, sans-serif;
			border: 0;
			z-index: 9999;
			//display: none;
		}
		img.loading {
			position: absolute;
			top: 125px;
			right: 0;
			left: 0;
			margin-left: auto;
			margin-right: auto;
			//background: transparent url('../img/login.png') no-repeat;
			width: 26px;
			height: 26px;
			border: 0;
			@include opacity(0.8);
			z-index: 9;
			display: none;
		}
	}
	.forget {
		position: relative;
		margin-top: 90px;
		display: block;
		background: transparent;
		color: rgba(36, 163, 55, 0.2) !important;
		font-family: 'sf-pro', Arial, Helvetica, sans-serif;
		font-size: 14px;
		text-align: center;

		a {
			display: block;
			margin-bottom: 0px;
			color: rgba(36, 163, 55, 0.7);
			text-decoration: none;
		}
	}

}
.dologin {
	color: rgba(36, 163, 55, 1) !important;
}

.text-center {
	text-align: center !important;
}
/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
#compass {
	
	position: absolute;
	z-index: 999;
	//margin-top: 100px;
	height: 100vh;
	min-height: 100%;
	width: 100%;
	background: #e0e0e0 repeat-x top left;
	background-image: url('../img/map.png'), url('../img/map2.png');
	background-size: cover;

	.compass
	{
		position: relative;
		display: block;
		width: 222px;
		height: 222px;
		margin: 0 auto;
		top: 100px;

		img {
			position: absolute;
		}
		img.compass1
		{
			top: 7px;
			left:0;
			right:0;
			margin-left: auto;
			margin-right: auto;
			@include animation(compass-oscillate 3s ease-in-out infinite);
		}
		img.compass2
		{
			top: 75px;
			left:0;
			right:0;
			margin-left: auto;
			margin-right: auto;
		}
		img.compass3
		{
			top: 0;
			left:0;
			right:0;
			margin-left: auto;
			margin-right: auto;
		}
		span
		{
			position: absolute;
			display: block;
			text-align: center;
			color: #777;
			font: normal normal 300 20px 'sf-pro-light', Tahoma, Verdana, Segoe, sans-serif;
			direction: ltr;
			width: 100%;
			bottom: -50px;
		}
	}
}
section.alert {
	position: absolute;
	display: none;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	z-index: 9999999;
	.alert-body {
		position: absolute;
		width: 300px;
		height: 150px;
		background: rgba(255, 255, 255, 1);
		top: 50%;
   		margin-top: -150px;/* half of #content height*/
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		@include border-radius(15px);
		border: 1px #eee solid;
		direction: ltr;
		text-align: center;
		font-family: 'sf-pro', Tahoma, Verdana, Segoe, sans-serif;
		h1 {
			font-size: 20px;
		}
		p {
			font-size: 15px;
			font-family: 'sf-pro-light', Tahoma, Verdana, Segoe, sans-serif;
		}
		span.alert-foot {
			position: absolute;
			bottom: 0;
			display: block;
			width: 100%;
			padding: 12px 0;
			border-top: 1px #e0e0e0 solid;
			color: rgba(36, 163, 55, 1);
			font-size: 20px;
			cursor: pointer;
		}
	}
}
#findmap {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
@-webkit-keyframes compass-oscillate {
    0% {
        -webkit-transform: rotate(-25deg)
    }

    70% {
        -webkit-transform: rotate(35deg)
    }

    100% {
        -webkit-transform: rotate(-25deg)
    }
}

@-moz-keyframes compass-oscillate {
    0% {
        -moz-transform: rotate(-25deg)
    }

    70% {
        -moz-transform: rotate(35deg)
    }

    100% {
        -moz-transform: rotate(-25deg)
    }
}

@keyframes compass-oscillate {
    0% {
        transform: rotate(-25deg)
    }

    70% {
        transform: rotate(35deg)
    }

    100% {
        transform: rotate(-25deg)
    }
}
.ltr {
	direction: ltr !important;
}
.rtl{
	direction: rtl !important;
}
