/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

/* IMPORTANT NOTE: This file is licensed only for use in providing the iCloud service,
*   or any part thereof, and is subject to the iCloud Terms and Conditions. You may not
*   port this file to another platform without Apple's written consent. */

html {
    overflow: auto
}

body {
    overflow: auto !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: none;
    background: #686868;
    margin: 0
}

.main {
    height: 695px;
    width: 600px
}

.wrapper {
    z-index: 50
}

.background-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 695px;
    min-height: 600px;
    overflow: hidden;
    z-index: 0
}

.main.error {
    width: 100%;
    height: 100%;
    max-width: 705px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 210px
}

.heading {
    font-weight: 300;
    font-size: 45px;
    padding-top: 359px;
    color: #fff;
    text-align: center;
    height: 63px
}

.error .heading {
    height: 50%;
    line-height: 47px;
    padding: 0 2% 0;
    width: 100%;
    box-sizing: border-box
}

.textBody {
    line-height: 24px;
    font-weight: 300;
    font-size: 21px;
    color: #c3c3c3;
    text-align: center
}

.error .textBody {
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    margin-top: 10px
}

.copyright {
    background-image: url('../img/logos.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 20px;
    padding-top: 29px;
    width: 100%;
    margin-top: 10px;
    height: 35px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: normal;
    text-align: center;
    direction: ltr;
    color: #969696
}

@media only screen and (max-device-width: 550px) {
    .main.error {
        padding-top: 80px
    }

    .error .heading {
        font-size: 28px;
        line-height: 32px
    }

    .error .textBody {
        font-size: 15px;
        line-height: 18px
    }

    .error a {
        font-size: 14px
    }

    .error .copyright {
        font-size: 10px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.01) {
    .copyright {
        background-image: url('../img/Logo@2x.png')
    }
}

.cloudy {
    width: 175px;
    height: 124px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 175px 124px
}

.error .copyright {
    background-image: url('../img/logos.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 20px;
    line-height: 54px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.01) {
    .error .copyright {
        background-image: url('../img/Logo@2x.png')
    }
}

center {
    z-index: 50
}

.error {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default
}

a.underline:hover {
    text-decoration: underline
}

.footer-text, .copyRight, .footer {
    direction: ltr
}

.footer-message {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 11px;
    font-weight: 300;
    color: #999;
    direction: ltr;
    text-shadow: 1px 1px black
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/HelveticaNeue-Light.eot");
    src: local("Helvetica Neue Light"), local("HelveticaNeue-Light"), url("/fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg"), url("/fonts/HelveticaNeue-Light.woff") format("woff");
    font-weight: 300
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/HelveticaNeue-Medium.eot");
    src: local("Helvetica Neue Medium"), local("HelveticaNeue-Medium"), url("/fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg"), url("/fonts/HelveticaNeue-Medium.woff") format("woff");
    font-weight: 500
}

body.rtl {
    direction: rtl
}

a {
    color: #cfcfcf;
    font-weight: 500;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:after {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 11px;
    margin-left: 5px;
    top: 1px;
    content: "";
    background-image: url('../img/packed-1.png');
    background-position: -6px -44px;
    background-repeat: no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.01), only screen and (min-device-pixel-ratio: 1.01) {
    a:after {
        background-size: 6px 28px;
        background-image: url('../img/packed-1.png');
        background-position: 0px -11px;
        background-repeat: no-repeat
    }
}

body.rtl a:after {
    background-image: url('../img/packed-1.png');
    background-position: 0px -44px;
    background-repeat: no-repeat;
    margin-right: 5px;
    top: 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.01), only screen and (min-device-pixel-ratio: 1.01) {
    body.rtl a:after {
        background-size: 6px 28px;
        background-image: url('../img/packed-1.png');
        background-position: 0px 0px;
        background-repeat: no-repeat
    }
}

.cloudy {
    background-image: url('../img/not_found_175x124.png')
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.01), only screen and (min-device-pixel-ratio: 1.01) {
    .cloudy {
        background-image: url('../img/not_found_175x124@2x.png')
    }
}


