/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

@import "compass";
input.iforgot-pwd {
	font-size: 15px;
	display: inline-block;
	height: 32px;
	padding: 6px;
	line-height: 1.33333;
	color: #555555;
	background-image: none;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	background: white;
	background-clip: padding-box;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	font-weight: 400;
	letter-spacing: normal;
	width: 360px;
}

form.iforgot-form {
	position: relative;

.error {
  position: absolute;
  z-index: 9999;
  top: 35px;
  display: none;
  background: #FAE9A3;
  width: 300px;
  height: 70px;
  margin: 0 auto;
  bottom: -93px;
  left: 0;
  right: 0;
  border: 1px solid rgba(185, 149, 1, 0.47);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  padding: 11px;
  border-radius: 5px;

  p {
    color: #503E30;
    font-size: 16px;
    font-weight: 500 !important;
    padding: 0;
    margin: 0;
  }

  a {
    color: #503E30;
    font-size: 15px;
    font-weight: 400 !important;
    text-decoration: underline;
    padding: 0;
    margin: 0;
  }

  &:after {
    width: 15px;
    height: 15px;
    background-color: #FAE9A3;
    content: "";
    position: absolute;
    left: 47.2%;
    transform: rotate(135deg) skewX(5deg) skewY(5deg);
    top: -8px;
    border-left: 1px solid rgba(185, 149, 1, 0.47);
    border-bottom: 1px solid rgba(185, 149, 1, 0.47);
    box-shadow: -1px 1px 2px -1px rgba(185, 149, 1, 0.47);
  }
}
}
.iforgot-button {
	position: relative;
	display: block;
	width: 100%;
	margin-top: 30px; 

	.iforgot-spr {
		position: relative;
		display: inline-block;
		width: 1px;
		height: 20px;
		background: #e0e0e0;
		margin: auto 20px;
	}
	button {
		position: relative;
		display: inline-block;
		color: #08c;
		border: 0;
		background: transparent;
		font-size: 23px;
	}

	button:disabled {
		color: #b9b9b9;
	}

	.iforgot-loading {
		position: absolute;
		top: 10px;
		right: 90px;
		display: none;
		font-size: 18px;
		color: #08c;

		@media only screen 
			and (min-width : 320px) 
			and (max-width : 480px) {
				right: 10px;
			}
	}
}