/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

@import "compass", "bourbon";

@font-face {
  font-family: "sf-pro";
  src: url("../font/sf-pro-display-regular.eot"); /* IE9 Compat Modes */
  src: url("../font/sf-pro-display-regular.eot?#iefix") format("mbedded-opentype", /* IE6-IE8 */ url("../font/sf-pro-display-regular.woff") format("off", /* Modern Browsers */ url("../font/sf-pro-display-regular.ttf") format("ruetype", /* Safari, Android, iOS */ url("../font/sf-pro-display-regular.svg#80d8021909d835b751af094d043ad177") format("vg"; /* Legacy iOS */
}

@font-face {
  font-family: "sf-pro-light";
  src: url("../font/sf-pro-display-light.eot"); /* IE9 Compat Modes */
  src: url("../font/sf-pro-display-light.eot?#iefix") format("mbedded-opentype", /* IE6-IE8 */ url("../font/sf-pro-display-light.woff") format("off", /* Modern Browsers */ url("../font/sf-pro-display-light.ttf") format("ruetype", /* Safari, Android, iOS */ url("../font/sf-pro-display-light.svg#80d8021909d835b751af094d043ad177") format("vg"; /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "sf-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.noscroll {
  overflow: hidden;
}
header#floatmenu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.99);
  z-index: 99999;
  overflow: scroll;
  top: 48px;
  display: none;
  ul.folatsub {
    position: relative;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    li:last-child {
      border-bottom: 1px #999 solid;
    }
    li {
      position: relative;
      list-style:none;
      display: block;
      margin-left: 10%;
      padding: 0 !important;
      padding-top: 15px !important;
      padding-bottom: 10px !important;
      width: 80%;
      border-bottom: 1px #333 solid;
      input[type=text] {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        border: 0 #000 solid;
        background: #000;
        outline:none;
        width: 250px;
        color: #fff;
        font-family: 'sf-pro', Tahoma, Verdana, Segoe, sans-serif;
        font-size: 18px;
      }
      a {
        position: relative;
        display: block;
        width: 100% !important;
        height: 20px;
        margin: 0 !important;
        padding: 0 !important;
        &:hover {
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          opacity: 0.7;
        }
      }
      a.maclogos {
        background-repeat: no-repeat;
        background-size: 40px 60px;
        background-image: url("../img/aid/mac.svg");
        background-position: left center;
      }
      a.ipadlogos {
        background-repeat: no-repeat;
        background-size: 40px 70px;
        background-image: url("../img/aid/ipad.svg");
        background-position: left center;
      }

      a.iphonelogos {
        background-repeat: no-repeat;
        background-size: 60px 70px;
        background-image: url("../img/aid/iphone.svg");
        background-position: left center;
      }

      a.watchlogos {
        background-repeat: no-repeat;
        background-size: 60px 70px;
        background-image: url("../img/aid/watch.svg");
        background-position: left center;
      }

      a.tvlogos {
        background-repeat: no-repeat;
        background-size: 30px 50px;
        background-image: url("../img/aid/tv.svg");
        background-position: left center;
      }

      a.musiclogos {
        background-repeat: no-repeat;
        background-size: 50px 70px;
        background-image: url("../img/aid/music.svg");
        background-position: left center;
      }

      a.supportlogos {
        background-repeat: no-repeat;
        background-size: 70px 100px;
        background-image: url("../img/aid/support.svg");
        background-position: left center;
      }

      a.searchlogos {
        background-repeat: no-repeat;
        background-size: 30px 60px;
        background-image: url("../img/aid/search.svg");
        background-position: left center;
        max-width: 40px !important;
        display: inline-block !important;
      }
    }
  }
}
.bBlack {
  background-color: rgba(0,0,0,1) !important;
  -webkit-transition:background 0.4s;
  -moz-transition:background 0.4s;
  -o-transition:background 0.4s;
  transition:background 0.4s;
}
header#header {
  position: relative;
  background: #ffffff url("../img/aid/heros-splash.jpg");
  background-size: cover;
  background-position: center center;
  padding: 0;
  margin: 0;
  height: 275px;
  width: 100%;
  #headtop {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    height: 44px;
    width: 100%;
    -webkit-transition:background 0.4s;
    -moz-transition:background 0.4s;
    -o-transition:background 0.4s;
    transition:background 0.4s;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (max-width: 600px) {
      /* Styles */
      height: 48px;
    }

    .smallmenu {
      position: relative;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;

      a.menu-s {
        position: relative;
        float: left;
        color: #fff;
        width: 48px;
        height: 48px;
        padding-top: 20px;
        padding-left: 6px;
        @include transition(all 0.3s);
        cursor: pointer;
        &:hover {
          @include opacity(0.6);
        }
        span {
          position: relative;
          display: block;
          width: 17px;
          height: 1px;
          background: #ffffff;
          margin-bottom: 6px;
          @include transition(all 0.3s ease);
        }
        //span.top {
        //  @include transform(rotateZ(130deg));
        //}
        //span.bottom {
        //  bottom: 7px;
        //  @include transform(rotateZ(50deg));
        //}
      }
      a.applelogo {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 14px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
      }
      a.cartlogo2 {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 12px;
        right: 0;
        background-repeat: no-repeat;
        background-size: 30px 55px;
        background-image: url("../img/aid/cart.svg");
        background-position: center center;
        height: 30px;
        width: 30px;
        max-width: 30px;
      }
    }

    .topsearch {
      position: relative;
      padding: 0;
      margin: 0 auto;
      height: 100%;
      max-width: 1000px;
      a {
        cursor: pointer;
        &:hover {
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          opacity: 0.7;
        }
      }
      .searchlogo {
        position: absolute;
        margin-left: 10px;
        display: inline-block;
        height: 40px;
        a {
          display: block;
          margin-top: 2px;
          height: 40px;
        }
      }
      .searchclose {
        position: absolute;
        right: 3px;
        color: #fff;
        top: 8px;
      }
      .searchbody {
        position: absolute;
        display: inline-block;
        height: 40px;
        padding-top: 10px;
        left: 160px;
        i.searchlogo {
          position: relative;
          top: 2px;
          background-repeat: no-repeat;
          background-size: 20px 44px;
          background-image: url("../img/aid/search.svg");
          background-position: center center;
          height: 20px;
          width: 20px;
          max-width: 20px;
        }
        input {
          left: 7px;
          bottom: 3px;
          position: relative;
          background: transparent;
          border: 0;
          outline: none;
          color: #fff;
          font-family: "sf-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 15px;
          max-width: 640px;
          width: 640px;;
        }
      }
    }
    ul.topmenu {
      padding: 0;
      margin: 0 auto;
      height: 100%;
      max-width: 1000px;
      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        a {
          position: relative;
          display: block;
          height: 100%;
          margin: 0 10px;
          &:hover {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            opacity: 0.7;
          }
        }
      }
    }
  }
  #headmenu {
    background: #ffffff;
    opacity: 0.9;
    height: 61px;
    width: 100%;
    @media only screen and (min-width: 300px) and (max-width: 1200px) {

    }

    .logo {
      font-family: "sf-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 30px;
      padding-left: 80px;
      height: 100%;
      line-height: 55px;
      @media only screen and (max-width: 600px) {
        padding-left: 0 !important;
      }
    }
    ul.loginmenu {
      float: right;
      padding: 0;
      margin: 0;
      height: 100%;
      padding-right: 60px;
      li {
        display: inline-block;
        height: 100%;
        a {
          display: block;
          padding: 0 15px;
          color: #000;
          font-family: "sf-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          height: 100%;
          line-height: 60px;
        }
        a.loginin {
          color: #e0e0e0;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  #headlogin {
    position: relative;
    height: 540px;
    h1 {
      position: relative ;
      top: 40px;
      display: block;
      font-size: 35px;
      font-weight: 100px;
      font-font: 'sf-pro-light', "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #fff;
      text-align: center;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
  }
}

#main {
  position: relative;
  text-align: center;
  min-height: 300px;
  padding-bottom: 50px;

  h1.view {
    font-family: "sf-pro-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    font-weight: 200;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px !important;
    clear: both;
  }
  p.single {
    font-family: "sf-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }

  img.apps {
    margin: 48px auto;
  }
  a.learn {
    font-family: "sf-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #0088cc;
    margin: 0px 0;
    display: block;
    i {
      font-size: 10px;
      font-weight: 100;
    }
  }
  a.create {
    font-family: "sf-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #0088cc;
    margin: 0px 0;
    display: block;
    i {
      font-size: 10px;
      font-weight: 100;
    }
  }
}

footer#footer {
  position: relative;
  background-color: #f2f2f2;
  width: 100%;
  .footbody {
    width: 970px;
    padding-top: 20px;
    margin: 0 auto;
    //border-top: 1px #e0e0e0 solid;
    padding-bottom: 45px;
    @media only screen and (max-width: 1000px) {
      width: 100% !important;
    }
  }
  .footlefttop {
    font-size: 11px;
    color: #B3B3B3;
    margin-bottom: 18px;
    @media only screen and (max-width: 600px) {
      text-align: center !important;
    }
    a {
      color: #0070c9;
    }
  }
  .footleftbottom {
    font-size: 11px;
    color: #B3B3B3;
    @media only screen and (max-width: 600px) {
      text-align: center !important;
    }
    a {
      color: #0070c9;
    }
  }
  ul.footrightmenu {
    padding: 0;
    margin: 0;
    float: right;
    list-style: none;
    @media only screen and (max-width: 600px) {
      text-align: center !important;
      float: none !important;
      margin-top: 15px;
    }
    li {
      display: inline-block;
      a {
        display: block;
        font-size: 11px;
        color: #53585F;
        border-right: 1px #e0e0e0 solid;
        padding-right: 5px;
        img {
          width: 22px;
          height: 22px;
        }
      }
    }
    li:last-child a {
      border-right: 0;
    }
  }
}

//Menu button
a.applelogo {
  background-repeat: no-repeat;
  background-size: 20px 44px;
  background-image: url("../img/aid/image_large.svg");
  background-position: center center;
  width: 20px;
  height: 20px;
}

a.maclogo {
  background-repeat: no-repeat;
  background-size: 31px 44px;
  background-image: url("../img/aid/mac.svg");
  background-position: center center;
  height: 20px;
  width: 52.7px;
  max-width: 52.7px;
  margin-left: 47px !important;
}

a.ipadlogo {
  background-repeat: no-repeat;
  background-size: 31px 44px;
  background-image: url("../img/aid/ipad.svg");
  background-position: center center;
  height: 20px;
  width: 52.7px;
  max-width: 52.7px;
  margin-left: 38px !important;
}

a.iphonelogo {
  background-repeat: no-repeat;
  background-size: 48px 44px;
  background-image: url("../img/aid/iphone.svg");
  background-position: center center;
  height: 20px;
  width: 81.6px;
  max-width: 81.6px;
  margin-left: 29px !important;
}

a.watchlogo {
  background-repeat: no-repeat;
  background-size: 48px 44px;
  background-image: url("../img/aid/watch.svg");
  background-position: center center;
  height: 20px;
  width: 81.6px;
  max-width: 81.6px;
  margin-left: 25px !important;
}

a.tvlogo {
  background-repeat: no-repeat;
  background-size: 31px 44px;
  background-image: url("../img/aid/tv.svg");
  background-position: center center;
  height: 20px;
  width: 60.6px;
  max-width: 60.6px;
  margin-left: 18px !important;
}

a.musiclogo {
  background-repeat: no-repeat;
  background-size: 48px 44px;
  background-image: url("../img/aid/music.svg");
  background-position: center center;
  height: 20px;
  width: 60.6px;
  max-width: 60.6px;
  margin-left: 28px !important;
}

a.supportlogo {
  background-repeat: no-repeat;
  background-size: 57px 44px;
  background-image: url("../img/aid/support.svg");
  background-position: center center;
  height: 20px;
  width: 96.9px;
  max-width: 96.9px;
  margin-left: 28px !important;
}

a.searchlogo {
  background-repeat: no-repeat;
  background-size: 20px 44px;
  background-image: url("../img/aid/search.svg");
  background-position: center center;
  height: 20px;
  width: 20px;
  max-width: 20px;
  margin-left: 39px !important;
  cursor: pointer;
}

a.cartlogo {
  padding: 0 !important;
  margin: 0 !important;
  background-repeat: no-repeat;
  background-size: 18px 44px;
  background-image: url("../img/aid/cart.svg");
  background-position: center center;
  height: 20px;
  width: 18px;
  max-width: 18px;
  margin-left: 58px !important;
}

.forgotbutton {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  a {
    color: #ffffff;
    font-size: 13px;
  }
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Rows align
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left !important;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left !important;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left !important;
}

.hidden-sm {
  @media only screen and (max-width: 1200px) {
    display: none !important;
  }
}

.hidden-xs {
  @media only screen and (max-width: 1000px) {
    display: none !important;
  }
}

.content-head {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 35px;

  .subtitle {
    font-size: 24px;
    font-family: "sf-pro-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    outline: 0;
    line-height: 32px;
    margin-bottom: 8px;
    color: #777;
  }
  .description {
    font-size: 16px;
  }
}
.content-body {
  position: relative;
  display: block;

  .form-reset {
    position: relative;
    display: block;
    width: 360px;
    margin: 0 auto;
    @media only screen
    and (min-width: 300px)
    and (max-width: 1200px) {
      /* Styles */
      width: 300px !important;
    }

    .form-inputs {
      input[type=password], input[type=email] {
        font-size: 16px;
        display: block;
        height: 32px;
        width: 100%;
        padding: 6px;
        line-height: 1.33333;
        color: #555555;
        background-image: none;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        background: white;
        background-clip: padding-box;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
        font-weight: 400;
        letter-spacing: normal;
        margin: 20px auto 0px auto;
      }
    }
  }


  .password-strength-wrap {
    position: relative;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    width: 360px;
    display: inline-block;

    @media only screen
        and (min-width: 300px)
        and (max-width: 1200px) {
        /* Styles */
        width: 300px !important;
    }


    .password-strength {
      width: 360px;
      display: inline-block;
      margin-top: 5px;
      margin-left: 4px;

      @media only screen
      and (min-width: 300px)
      and (max-width: 1200px) {
        /* Styles */
        width: 300px !important;
      }

      .sub-heading {
        color: #000;
        font-size: 16px;
        font-weight: 200;
        font-family: "sf-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 10px auto;
      }
      .checkupSuccess {
        color: #83CE40 !important;
      }
      .checkup {
        display: table-row;
        font-size: 15px;
        font-weight: 100;
        font-family: "sf-pro-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #999;

        .fa-check-icon {
          font-weight: 100;
          margin-right: 5px;
        }
        .message1 {
          font-size: 15px;
          padding-left: 10px;
          display: table-cell;
          font-weight: 400;
        }
      }
      .title {
        margin: 15px 0 4px 0;
      }
      .hint {
        color: #333333;
        font-size: 13px;
        line-height: 18px;
        display: inline-block;
        font-weight: 400;
      }
      .errorMsg {
        color: #F5382F;
        font-size: 14px;
        line-height: 18px;
        display: none;
        font-weight: 400;
        text-align: left;
      }
      .progress {
        height: 5px;
        margin-bottom: 7px;
        border-radius: 0;
        box-shadow: none;
        background-color: #BABABA;
        overflow: hidden;
        .progress-bar {
          float: left;
          width: 0%;
          height: 100%;
          font-size: 12px;
          line-height: 20px;
          color: #fff;
          text-align: center;
          background-color: #337ab7;
          -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          -webkit-transition: width 0.6s ease;
          -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
          background-color: #F09025;
          min-width: 0%;
          height: 100%;
        }
      }
    }
  }
}

.form-submit {
  position: relative;
  display: block;
  margin-top: 30px;
  text-align: center;
  a, button {
    display: inline;
    text-decoration: none;
    outline: none;
    font-size: 18px;
    color: #08c;
    font-family: "sf-pro-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .line {
    border-left: 1px solid #D5D5DA;
    margin: 5px 20px 8px 20px;
    display: inline;
    font-size: 16px;
  }
  .submit-button {
    position: relative;
    display: inline;
    i {
      position: absolute;
      z-index: 99999;
      color: #08c;
      right: -25;
      top: -2px;
      font-size: 18px;
      display: none;
    }
    button {
      border: 0;
      background: transparent;
      font-weight: 200 !important;
    }
    button.disabled {
      color: #A6AAA8;
      cursor: not-allowed;
    }
    button.undisabled {
      color: #08c;
    }
  }

}
#stage2 {
  display: none;
}
.stage2-head {
  img {
    color: #5CC629;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 26px;
  }
  .description {
    font-size: 17px;
    line-height: 1.45;
  }
  .st2-foot {
    position: relative;
    margin-top: 40px;
    padding: 0 20px;
    display: block;
    a {
      font-size: 20px;
      margin-top: 20px;
      color: #07c;
      outline: none;
      line-height: 1.4446;
      letter-spacing: 0em;

    }
  }
}