/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

@import "compass/css3";

$control-count: 6;
$transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$transition-duration: .7s;
$color-active: white;

.segmented-control {
  position: relative; 
  display: inline-block;
  border: 1px solid currentColor;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  overflow: hidden;

  @include border-radius(2px);
  @include box-sizing(border-box);
  @include user-select(none);
  @include transition-duration($transition-duration);
  @include transition-timing-function($transition-timing-function);

  -webkit-tap-highlight-color: rgba(0,0,0,0);

  > input {
    position: absolute;
    left: -10000px;
    opacity: 0;

    &[type='checkbox'] ~ label {
      @include transition-duration(0);

      &:before {
        opacity: 0;
      }
    }

    @for $i from 1 through $control-count {
      &:disabled:nth-child(#{$i}) ~ label:nth-of-type(#{$i}) {
        opacity: 0.3;
        cursor: not-allowed;
      }

      &:nth-child(#{$i}):checked {
        ~ label:nth-of-type(#{$i}) {
          &:after, &:before { 
            opacity: 1; 
          }
        }

        @for $j from $i through $control-count {
          ~ label:first-of-type:nth-last-of-type(#{$j}) {
            &:after, &:before, & ~ label:after, & ~ label:before { 
              left: percentage((($i - 1) / 10) / ($j / 10)); 
            }
          }
        }
      }
    }
  }

  > label {
    display: inline-block;
    padding: 0 .71em;
    cursor: pointer;
    float: left;
    line-height: 3em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: inherit;

    @include transition-property(none);
    @include transition-duration(inherit);
    @include transition-timing-function(inherit);

    &:before, &:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &:after {
      color: $color-active;
      content: attr(data-value);
      text-align: center;
      padding: inherit;
      z-index: 10;
      font-style: inherit;
      text-decoration: inherit;
      font-weight: inherit;
      opacity: 0;

      @include transition-property(opacity, left);
      @include transition-duration(inherit);
      @include transition-timing-function(inherit);
    }

    &:after, & {
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      @include box-sizing(border-box);
    }

    &:before {
      content: '';
      color: inherit;
      background: currentColor;

      @include transition-property(left);
      @include transition-duration(inherit);
      @include transition-timing-function(inherit);
    }

    @for $i from 1 through $control-count {
      &:first-of-type:nth-last-of-type(#{$i}) {
        &, & ~ label {
          &, &:after, &:before {
            width: percentage(1/$i);
          }
        }
      }
    }
  }

  &.italic, .italic             { font-style: italic; }
  &.bold, .bold                 { font-weight: bold; }
  &.underline, .underline       { text-decoration: underline; }
  &.line-through, .line-through { text-decoration: line-through; }
}