/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

@import "setting";
$icon-font-path: "../font/";
$grid-gutter-width: 20px;
$container-lg: 1150px;
//* Tooltip max width
$tooltip-max-width:           200px;
//* Tooltip text color
$tooltip-color:               #fff;
//* Tooltip background color
$tooltip-bg:                  darken(#162330, 3%);
$tooltip-opacity:             1;
$zindex-tooltip:           99999999999;
//* Tooltip arrow width
$tooltip-arrow-width:         5px;
//* Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg;
$brand-primary:         #2980B9;
$brand-success:         #27AE60;
$brand-info:            #3498DB;
$brand-warning:         #F39C12;
$brand-danger:          #E74C3C;

//* Background color on `.list-group-item`
//$list-group-bg:                 #fff;
//* `.list-group-item` border color
$list-group-border:             #fff;
//* List group border radius
$list-group-border-radius:      2px;


$pagination-color:                     $brand-darkb;
$pagination-bg:                        #f0f0f0;
$pagination-border:                    #e0e0e0;

$pagination-hover-color:               #fff;
$pagination-hover-bg:                  lighten($brand-dark, 5%);
$pagination-hover-border:              $brand-darkb;

//$pagination-active-color:              #fff;
$pagination-active-bg:                 $brand-dark;
$pagination-active-border:             $brand-darkb;

//$pagination-disabled-color:            $gray-light;
//$pagination-disabled-bg:               #fff;
//$pagination-disabled-border:           #ddd;


@import "compass", "bourbon";
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
//@import "bootstrap/navs";
//@import "bootstrap/navbar";
//@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
//@import "bootstrap/jumbotron";
//@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";

@import "bootstrap/responsive-utilities";
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float:right !important;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float:right !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float:right !important;
}


