/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

a.info-box {
  color: #333; }

.info-devices {
  position: relative;
  display: block;
  min-height: 170px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
  overflow: hidden; }
  .info-devices span.info-device-del {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 0px;
    text-align: center;
    line-height: 30px;
    cursor: pointer; }
    .info-devices span.info-device-del i {
      color: #fff; }
    .info-devices span.info-device-del i.fa-spinner {
      display: none; }
  .info-devices .info-box-icon {
    position: relative;
    display: block;
    float: left;
    height: 190px;
    min-height: 100%;
    width: 170px;
    text-align: center;
    font-size: 45px;
    line-height: 180px;
    background: rgba(0, 0, 0, 0.2);
    /* Smartphones (portrait and landscape) ----------- */ }
      .info-devices .info-box-content {
    margin-left: 170px;
    padding-top: 10px; }

.noned {
  display: none; }

.checkexs, .checkexss, .checkexss2, .checkexss2m {
  position: relative; }
  .checkexs .checkexist, .checkexs .checkexists, .checkexs .checkexists2, .checkexs .checkexists2m, .checkexss .checkexist, .checkexss .checkexists, .checkexss .checkexists2, .checkexss .checkexists2m, .checkexss2 .checkexist, .checkexss2 .checkexists, .checkexss2 .checkexists2, .checkexss2 .checkexists2m, .checkexss2m .checkexist, .checkexss2m .checkexists, .checkexss2m .checkexists2, .checkexss2m .checkexists2m {
    position: absolute;
    right: 20px;
    top: 6px; }

.toggle.ios, .toggle-on.ios, .toggle-off.ios, .toggle-handle.ios {
  border-radius: 20px; }

.ios .toggle-handle {
  border-radius: 20px;
  width: 60px !important; }

@media only screen and (max-width: 600px) {
      .info-devices .info-box-icon {
        height: 220px;
        line-height: 210px; } }

/*# sourceMappingURL=admin.css.map */