/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

@font-face {
    font-family: 'SF Pro Icons';
    src: url('../font/new/SFProIcons-Regular.eot');
    src: local('SF Pro Icons Regular'), local('SFProIcons-Regular'),
    url('../font/new/SFProIcons-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFProIcons-Regular.woff2') format('woff2'),
    url('../font/new/SFProIcons-Regular.woff') format('woff'),
    url('../font/new/SFProIcons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Icons';
    src: url('../font/new/SFProIcons-Medium.eot');
    src: local('SF Pro Icons Medium'), local('SFProIcons-Medium'),
    url('../font/new/SFProIcons-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFProIcons-Medium.woff2') format('woff2'),
    url('../font/new/SFProIcons-Medium.woff') format('woff'),
    url('../font/new/SFProIcons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Icons';
    src: url('../font/new/SFProIcons-Light.eot');
    src: local('SF Pro Icons Light'), local('SFProIcons-Light'),
    url('../font/new/SFProIcons-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFProIcons-Light.woff2') format('woff2'),
    url('../font/new/SFProIcons-Light.woff') format('woff'),
    url('../font/new/SFProIcons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Text';
    src: url('../font/new/SFText-Bold.eot');
    src: local('SF Text Bold'), local('SFText-Bold'),
    url('../font/new/SFText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFText-Bold.woff2') format('woff2'),
    url('../font/new/SFText-Bold.woff') format('woff'),
    url('../font/new/SFText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../font/new/SFDisplay-Medium.eot');
    src: local('SF Display Medium'), local('SFDisplay-Medium'),
    url('../font/new/SFDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFDisplay-Medium.woff2') format('woff2'),
    url('../font/new/SFDisplay-Medium.woff') format('woff'),
    url('../font/new/SFDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../font/new/SFDisplay-Thin.eot');
    src: local('SF Display Thin'), local('SFDisplay-Thin'),
    url('../font/new/SFDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFDisplay-Thin.woff2') format('woff2'),
    url('../font/new/SFDisplay-Thin.woff') format('woff'),
    url('../font/new/SFDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Text';
    src: url('../font/new/SFText-Regular.eot');
    src: local('SF Text Regular'), local('SFText-Regular'),
    url('../font/new/SFText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFText-Regular.woff2') format('woff2'),
    url('../font/new/SFText-Regular.woff') format('woff'),
    url('../font/new/SFText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../font/new/SFDisplay-Regular.eot');
    src: local('SF Display Regular'), local('SFDisplay-Regular'),
    url('../font/new/SFDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFDisplay-Regular.woff2') format('woff2'),
    url('../font/new/SFDisplay-Regular.woff') format('woff'),
    url('../font/new/SFDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Text';
    src: url('../font/new/SFText-Light.eot');
    src: local('SF Text Light'), local('SFText-Light'),
    url('../font/new/SFText-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFText-Light.woff2') format('woff2'),
    url('../font/new/SFText-Light.woff') format('woff'),
    url('../font/new/SFText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../font/new/SFDisplay-Bold.eot');
    src: local('SF Display Bold'), local('SFDisplay-Bold'),
    url('../font/new/SFDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFDisplay-Bold.woff2') format('woff2'),
    url('../font/new/SFDisplay-Bold.woff') format('woff'),
    url('../font/new/SFDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../font/new/SFDisplay-Light.eot');
    src: local('SF Display Light'), local('SFDisplay-Light'),
    url('../font/new/SFDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFDisplay-Light.woff2') format('woff2'),
    url('../font/new/SFDisplay-Light.woff') format('woff'),
    url('../font/new/SFDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: "SF Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.noscroll {
    overflow: hidden;
}

header#floatmenu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.99);
    z-index: 99999;
    overflow: scroll;
    top: 48px;
    display: none;
}

header#floatmenu ul.folatsub {
    position: relative;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

header#floatmenu ul.folatsub li:last-child {
    border-bottom: 1px #999 solid;
}

header#floatmenu ul.folatsub li {
    position: relative;
    list-style: none;
    display: block;
    margin-left: 10%;
    padding: 0 !important;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
    width: 80%;
    border-bottom: 1px #333 solid;
}

header#floatmenu ul.folatsub li input[type=text] {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0 #000 solid;
    background: #000;
    outline: none;
    width: 250px;
    color: #fff;
    font-family: 'SF Text', Tahoma, Verdana, Segoe, sans-serif;
    font-size: 18px;
}

header#floatmenu ul.folatsub li a {
    position: relative;
    display: block;
    width: 100% !important;
    height: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
}

header#floatmenu ul.folatsub li a:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
}

header#floatmenu ul.folatsub li a.maclogos {
    background-repeat: no-repeat;
    background-size: 40px 60px;
    background-image: url("../img/aid/mac.svg");
    background-position: left center;
}

header#floatmenu ul.folatsub li a.ipadlogos {
    background-repeat: no-repeat;
    background-size: 40px 70px;
    background-image: url("../img/aid/ipad.svg");
    background-position: left center;
}

header#floatmenu ul.folatsub li a.iphonelogos {
    background-repeat: no-repeat;
    background-size: 60px 70px;
    background-image: url("../img/aid/iphone.svg");
    background-position: left center;
}

header#floatmenu ul.folatsub li a.watchlogos {
    background-repeat: no-repeat;
    background-size: 60px 70px;
    background-image: url("../img/aid/watch.svg");
    background-position: left center;
}

header#floatmenu ul.folatsub li a.tvlogos {
    background-repeat: no-repeat;
    background-size: 30px 50px;
    background-image: url("../img/aid/tv.svg");
    background-position: left center;
}

header#floatmenu ul.folatsub li a.musiclogos {
    background-repeat: no-repeat;
    background-size: 50px 70px;
    background-image: url("../img/aid/music.svg");
    background-position: left center;
}

header#floatmenu ul.folatsub li a.supportlogos {
    background-repeat: no-repeat;
    background-size: 70px 100px;
    background-image: url("../img/aid/support.svg");
    background-position: left center;
}

header#floatmenu ul.folatsub li a.searchlogos {
    background-repeat: no-repeat;
    background-size: 30px 60px;
    background-image: url("../img/aid/search.svg");
    background-position: left center;
    max-width: 40px !important;
    display: inline-block !important;
}

.bBlack {
    background-color: black !important;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
}

header#header {
    position: relative;
    background: #ffffff url("../img/aid/apple_id_desktop_2880x1260.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 645px;
    width: 100%;
}

header#header #headtop {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    height: 44px !important;
    width: 100%;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    /* Smartphones (portrait and landscape) ----------- */
}

header#header #headtop .smallmenu {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

header#header #headtop .smallmenu a.menu-s {
    position: relative;
    float: left;
    color: #fff;
    width: 48px;
    height: 48px !important;
    padding-top: 20px;
    padding-left: 6px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

header#header #headtop .smallmenu a.menu-s:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
}

header#header #headtop .smallmenu a.menu-s span {
    position: relative;
    display: block;
    width: 17px;
    height: 1px !important;
    background: #ffffff;
    margin-bottom: 6px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header#header #headtop .smallmenu a.applelogo {
    position: absolute;
    width: 25px;
    height: 25px !important;
    top: 14px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

header#header #headtop .smallmenu a.cartlogo2 {
    position: absolute;
    width: 25px;
    height: 25px !important;
    top: 12px;
    right: 0;
    background-repeat: no-repeat;
    background-size: 30px 55px;
    background-image: url("../img/aid/cart.svg");
    background-position: center center;
    height: 30px;
    width: 30px;
    max-width: 30px;
}

header#header #headtop .topsearch {
    position: relative;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
}

header#header #headtop .topsearch a {
    cursor: pointer;
}

header#header #headtop .topsearch a:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
}

header#header #headtop .topsearch .searchlogo {
    position: absolute;
    margin-left: 10px;
    display: inline-block;
    height: 40px;
}

header#header #headtop .topsearch .searchlogo a {
    display: block;
    margin-top: 2px;
    height: 40px;
}

header#header #headtop .topsearch .searchclose {
    position: absolute;
    right: 3px;
    color: #fff;
    top: 8px;
}

header#header #headtop .topsearch .searchbody {
    position: absolute;
    display: inline-block;
    height: 40px;
    padding-top: 10px;
    left: 160px;
}

header#header #headtop .topsearch .searchbody i.searchlogo {
    position: relative;
    top: 2px;
    background-repeat: no-repeat;
    background-size: 20px 44px;
    background-image: url("../img/aid/search.svg");
    background-position: center center;
    height: 20px;
    width: 20px;
    max-width: 20px;
}

header#header #headtop .topsearch .searchbody input {
    left: 7px;
    bottom: 3px;
    position: relative;
    background: transparent;
    border: 0;
    outline: none;
    color: #fff;
    font-family: "SF Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    max-width: 640px;
    width: 640px;
}

header#header #headtop ul.topmenu {
    padding: 0;
    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
}

header#header #headtop ul.topmenu li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

header#header #headtop ul.topmenu li a {
    position: relative;
    display: block;
    height: 100%;
    margin: 0 10px;
}

header#header #headtop ul.topmenu li a:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
}

header#header #headmenu {
    background: #ffffff;
    opacity: 0.9;
    height: 61px;
    width: 100%;
}

header#header #headmenu .logo {
    font-family: "SF Display","SF Pro Icons",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: .009em;
    font-size: 24px;
    padding-left: 80px;
    height: 100%;
    line-height: 60px;
}

header#header #headmenu ul.loginmenu {
    float: right;
    padding: 0;
    margin: 0;
    height: 100%;
    padding-right: 60px;
}

header#header #headmenu ul.loginmenu li {
    display: inline-block;
    height: 100%;
}

header#header #headmenu ul.loginmenu li a {
    display: block;
    padding: 0 15px;
    color: #000;
    font-family: "SF Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    line-height: 60px;
}

header#header #headmenu ul.loginmenu li a.loginin {
    color: #000;
    opacity: .6;
}

header#header #headmenu ul.loginmenu li a.loginin:hover {
    text-decoration: none;
}

header#header #headlogin {
    position: relative;
    height: 540px;
}

#main {
    position: relative;
    text-align: center;
    max-height: 500px;
    height: 500px;
    margin-bottom: 25px;
}

#main h1.view {
    font-family: "SF Text","SF Pro Icons",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 37px;
    font-weight: 500 !important;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px !important;
    clear: both;
    line-height: 1.1;
}

#main p.single {
    font-family: "SF Text","SF Pro Icons",Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    max-width: 430px;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -.022em;
    font-style: normal;
    color: #333;
    margin-top: 10px !important;
    line-height: 1.47059;
}

#main img.apps {
    margin: 48px auto;
}

#main a.learn {
    font-family: "SF Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #0088cc;
    margin: 0px 0;
    display: inline;
}

#main a.learn i {
    font-size: 10px;
    font-weight: 100;
}

#main a.create {
    font-family: "SF Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #0088cc;
    margin: 0px 0;
    display: block;
}

#main a.create i {
    font-size: 10px;
    font-weight: 100;
}

footer#footer {
    position: relative;
    background-color: #f2f2f2;
    width: 100%;
}

footer#footer .footbody {
    width: 960px;
    font-family: "SF Text", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 11px;
    font-weight: 200;
    padding: 17px 0 21px;
    padding-bottom: 30px;
    letter-spacing: -.008em;
    margin: 0 auto;
}

footer#footer .footlefttop {
    font-size: 11px;
    color: #888;
    margin-bottom: 5px;
}

footer#footer .footlefttop a {
    color: #0070c9;
}

footer#footer .footleftbottom {
    font-size: 11px;
    color: #888;
}

footer#footer .footleftbottom a:first-child {
    margin-left: 20px;
}

footer#footer .footleftbottom a {
    color: #53585F;
    padding: 0 6px;
}

footer#footer ul.footrightmenu {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    float: right;
    list-style: none;
}

footer#footer ul.footrightmenu li {
    display: inline-block;
}

footer#footer ul.footrightmenu li a {
    display: block;
    font-size: 11px;
    color: #53585F;
    border-right: 1px #e0e0e0 solid;
    padding-right: 5px;
}

footer#footer ul.footrightmenu li a img {
    width: 22px !important;
    height: 22px !important;
}

footer#footer ul.footrightmenu li:last-child a {
    border-right: 0;
}

a.applelogo {
    background-repeat: no-repeat;
    background-size: 20px 44px !important;
    background-image: url("../img/aid/image_large.svg");
    background-position: center center;
    width: 20px;
    height: 44px !important;
}

a.maclogo {
    background-repeat: no-repeat;
    background-size: 31px 44px !important;
    background-image: url("../img/aid/mac.svg");
    background-position: center center;
    height: 44px !important;
    width: 52.7px;
    max-width: 52.7px;
    margin-left: 47px !important;
}

a.ipadlogo {
    background-repeat: no-repeat;
    background-size: 31px 44px !important;
    background-image: url("../img/aid/ipad.svg");
    background-position: center center;
    height: 44px !important;
    width: 52.7px;
    max-width: 52.7px;
    margin-left: 38px !important;
}

a.iphonelogo {
    background-repeat: no-repeat;
    background-size: 48px 44px !important;
    background-image: url("../img/aid/iphone.svg");
    background-position: center center;
    height: 44px !important;
    width: 81.6px;
    max-width: 81.6px;
    margin-left: 29px !important;
}

a.watchlogo {
    background-repeat: no-repeat;
    background-size: 48px 44px !important;
    background-image: url("../img/aid/watch.svg");
    background-position: center center;
    height: 44px !important;
    width: 81.6px;
    max-width: 81.6px;
    margin-left: 25px !important;
}

a.tvlogo {
    background-repeat: no-repeat;
    background-size: 31px 44px !important;
    background-image: url("../img/aid/tv.svg");
    background-position: center center;
    height: 44px !important;
    width: 60.6px;
    max-width: 60.6px;
    margin-left: 18px !important;
}

a.musiclogo {
    background-repeat: no-repeat;
    background-size: 48px 44px !important;
    background-image: url("../img/aid/music.svg");
    background-position: center center;
    height: 44px !important;
    width: 60.6px;
    max-width: 60.6px;
    margin-left: 28px !important;
}

a.supportlogo {
    background-repeat: no-repeat;
    background-size: 57px 44px !important;
    background-image: url("../img/aid/support.svg");
    background-position: center center;
    height: 44px !important;
    width: 96.9px;
    max-width: 96.9px;
    margin-left: 28px !important;
}

a.searchlogo {
    background-repeat: no-repeat;
    background-size: 20px 44px !important;
    background-image: url("../img/aid/search.svg");
    background-position: center center;
    height: 44px !important;
    width: 20px;
    max-width: 20px;
    margin-left: 39px !important;
    cursor: pointer;
}

a.cartlogo {
    padding: 0 !important;
    margin: 0 !important;
    background-repeat: no-repeat;
    background-size: 18px 44px !important;
    background-image: url("../img/aid/cart.svg");
    background-position: center center;
    height: 44px !important;
    width: 18px;
    max-width: 18px;
    margin-left: 58px !important;
}

.forgotbutton {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.forgotbutton a {
    color: #ffffff;
    font-family: "SF Text", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    line-height: 1.42861;
    font-weight: 300;
    letter-spacing: -.016em;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left !important;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left !important;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left !important;
}

@media only screen and (max-width: 600px) {
    header#header #headtop {
        /* Styles */
        height: 48px;
    }

    header#header #headmenu .logo {
        padding-left: 0 !important;
    }

    footer#footer .footlefttop {
        text-align: center !important;
    }

    footer#footer .footleftbottom {
        text-align: center !important;
    }

    footer#footer ul.footrightmenu {
        text-align: center !important;
        float: none !important;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    footer#footer .footbody {
        width: 100% !important;
    }

    .hidden-xs {
        display: none !important;
    }
}

@media only screen and (max-width: 1200px) {
    .hidden-sm {
        display: none !important;
    }
}

/*# sourceMappingURL=aid.css.map */