/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

body {
    position: relative;
    padding: 0;
    margin: 0;
    background: #FFFFFF url("../img/background.png") repeat top center fixed;
    background-size: cover;
    direction: ltr;
    height: 100vh;
    font-family: 'SF Pro Text', Tahoma;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

*::-webkit-input-placeholder {
    color: #999;
    font-family: 'SF Pro Text', Tahoma;
    opacity: 1;
    filter: alpha(opacity=1);
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: #999;
    font-family: 'SF Pro Text', Tahoma;
    opacity: 1;
    filter: alpha(opacity=1);
}

*::-moz-placeholder {
    /* FF 19+ */
    color: #999;
    font-family: 'SF Pro Text', Tahoma;
    opacity: 1;
    filter: alpha(opacity=1);
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
    font-family: 'SF Pro Text', Tahoma;
    opacity: 1;
    filter: alpha(opacity=1);
}

body.find {
    background: #e0e0e0 repeat-x top center;
    background-image: url("../img/map.png"), url("../img/map2.png");
    background-size: cover;
}

.hiden {
    display: none !important;
}

.show {
    display: block !important;
}

.snippet-container {
    word-break: break-all;
    text-align: left !important;
    white-space: nowrap;
    word-wrap: break-word;
    max-height: 200px !important;
    overflow-z: auto;
}

.applef {
    font-size: 11px;
    font-family: 'SF Pro Text', Tahoma;
    font-weight: 300 !important;
}

a, a:hover, input {
    text-decoration: none;
    outline: none !important;
}

.container-fluid {
    padding: 0 10px !important;
}

#header .rightH {
    position: relative;
    min-height: 44px;
    padding-top: 11px;
}

#header .rightH a, #header .rightH span {
    position: relative;
    cursor: default;
    display: inline-block;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#header .rightH > a.help {
    position: absolute;
    right: 15px;
    height: 22px;
    width: 22px;
    padding: 0 10px;
    background: url("../img/help.png") no-repeat 0px 0px;
    margin-right: 3px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

#header .rightH > a.help:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
}

#header .rightH > span.spreat {
    position: absolute;
    right: 44px;
    display: inline-block;
    width: 1px;
    top: 13px;
    background: #fff;
    height: 22px;
    margin: -2px 7px 0 8px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
}

#header .rightH > a.setup {
    position: absolute;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.7;
    top: 8px;
    display: inline-block;
    right: 62px;
    font: 21px 'SF Pro Text', Tahoma;
    /* Smartphones (portrait and landscape) ----------- */
}

#header .rightH > a.setup:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 1;
}

#header .leftH {
    position: relative;
}

#header .leftH span.icloud {
    position: absolute;
    display: inline-block;
    width: 56px;
    height: 16px;
    background: url("../img/icloud.png") no-repeat 0 0;
    top: 14px;
    left: 13px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

#header2 {
    background: #fff;
    color: #24a337;
}

#header2 .rightH {
    position: relative;
    min-height: 44px;
    padding-top: 11px;
}

#header2 .rightH a, #header2 .rightH span {
    cursor: default;
    display: inline-block;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#header2 .rightH > a.help {
    position: relative;
    height: 22px;
    width: 22px;
    padding: 0 10px;
    background: url("../img/help2.png") no-repeat 0px 0px;
    margin-right: 3px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

#header2 .rightH > a.help:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
}

#header2 .rightH > span.spreat {
    position: relative;
    width: 1px;
    background: #24a337;
    height: 22px;
    margin: -2px 7px 0 8px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
}

#header2 .rightH > a.setup {
    position: absolute;
    color: #24a337;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    top: 8px;
    right: 58px;
    font: normal 21px 'SF Pro Text', Tahoma;
    /* Smartphones (portrait and landscape) ----------- */
}

#header2 .rightH > a.setup:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

#header2 .leftH {
    position: relative;
}

#header2 .leftH span.find {
    position: absolute;
    left: 75px;
    top: 10px;
    font: normal normal 300 20px 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif;
}

#header2 .leftH span.icloud {
    position: absolute;
    display: inline-block;
    width: 56px;
    height: 16px;
    background: url("../img/icloud.png") no-repeat;
    background-position: -56px 0;
    top: 14px;
    left: 13px;
    float: left;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

#header2 .leftH a {
    position: relative;
    color: #24a337;
    font: normal normal 500 20px 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif;
    top: 10px;
    right: 140px;
}

.imessage {
    position: relative;
    margin: 65px auto 0 auto;
    min-height: 200px;
    width: 100%;
    text-align: center !important;
    direction: ltr !important;
}

.imessage a {
    position: relative;
    display: block;
}

.imessage a img {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.imessage a span {
    position: relative;
    display: block;
    font: 18px 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif;
    color: #fff;
    text-align: center;
    padding: 15px 0 50px 0;
    text-shadow: 1px 1px 14px rgba(0, 0, 0, 0.5);
}

.login-form {
    position: relative;
    width: 328px;
    margin: 0 auto 0 auto;
    padding-top: 75px;
}

.login-form img.img-cloud {
    position: relative;
    margin: 0px auto;
}

.login-form h2 {
    position: relative;
    font: 23px 'SF Pro Text', Tahoma;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
    opacity: 0.95;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 12px;
}

.login-form form.cloud-login {
    position: relative;
    display: none;
    background: rgba(255, 255, 255, 0.75);
    background-clip: padding-box;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    cursor: default;
    margin-top: 15px;
}

.login-form form.cloud-login input[type=text], .login-form form.cloud-login input[type=password] {
    position: relative;
    width: 100%;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 1);
    text-align: left;
    font: 17px 'SF Pro Text', Tahoma;
    color: #333;
    font-weight: 300 !important;
    border: 1px solid rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none !important;
}

.login-form form.cloud-login > input[type=text] {
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-form form.cloud-login > input[type=text]:focus {
    box-shadow: inset 0 0 1px 0px #1780fb;
    border: 1px #1780fb solid;
}

.login-form form.cloud-login > input[type=password] {
    z-index: 99;
    border-top: 0;
    border-radius: 0 0 6px 6px;
    padding-right: 40px;
    direction: ltr !important;
}

.login-form form.cloud-login > input[type=password]:focus {
    box-shadow: 0 -1px 0 0px #1780fb;
    border: 1px #1780fb solid;
    border-top: 0;
}

.login-form form.cloud-login > input[type=submit] {
    position: absolute;
    top: 50px;
    right: 12px;
    background: transparent url("../img/login.png") no-repeat;
    width: 26px;
    height: 26px;
    border: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    z-index: 99999;
}

.login-form form.cloud-login img.loading {
    position: absolute;
    top: 50px;
    right: 12px;
    width: 26px;
    height: 26px;
    border: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    z-index: 999;
    display: none;
}

.login-form form.cloud-login .alrt {
    position: absolute;
    z-index: 9999;
    width: 298px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: #f5e49c;
    direction: ltr;
    padding: 10px 20px;
    top: 89px;
    text-align: center;
    height: 84px;
    border-radius: 6px;
    border: 1px rgba(80, 62, 48, 0.2) solid;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.login-form form.cloud-login .alrt:after {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f5e49c;
    z-index: 99999;
}

.login-form form.cloud-login .alrt h3 {
    margin: 0;
    padding: 0;
    font: 16px 'SF Pro Text', Tahoma;
    color: #503e30;
    text-align: center;
}

.login-form form.cloud-login .alrt p {
    margin: 0;
    padding: 0;
    font: 14px 'SF Pro Text', Tahoma;
    font-weight: bold !important;
    color: #503e30;
    text-align: center;
}

.login-form form.cloud-login .alrt a {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-weight: 100 !important;
    font: 16px 'SF Pro Text', Tahoma;
    color: #503e30;
    padding: 5px 0px;
}

.login-form .keepme {
    position: relative;
    margin-top: 15px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px !important;
    font-family: 'SF Pro Text', Tahoma !important;
}

.login-form .keepme span {
    position: relative;
    display: inline-block;
}

.login-form .keepme i {
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

.login-form .forget {
    position: relative;
    margin-top: 10px;
    display: block;
    background: transparent url("../img/HR_gradient_light.png") no-repeat top center;
    padding: 15px 0;
    color: #fff;
    font-family: 'SF Pro Text', Tahoma;
    text-align: center;
}

.login-form .forget a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    direction: ltr !important;
}

.login-form .forget a:hover {
    text-decoration: underline;
}

.login-form .create {
    position: relative;
    display: block;
    text-align: center;
    color: #fff;
    font-family: 'SF Pro Text', Tahoma;
}

.login-form .create a {
    color: #fff;
    text-decoration: none;
}

.login-form .create a:hover {
    text-decoration: underline;
}

.dologin {
    background: transparent url("../img/login2.png") no-repeat !important;
    z-index: 999 !important;
}

footer.foot {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: transparent;
    height: 41px;
    text-align: left;
}

footer.foot .apple {
    position: relative;
}

footer.foot .apple a.apple-logo {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 35px;
    background: transparent url("../img/apple.png") no-repeat;
    left: 3px;
    top: 4px;
}

footer.foot .foot-link {
    position: relative;
    text-align: right;
    padding-top: 10px;
    direction: ltr;
    color: #fff;
    font-family: 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif;
    font-size: 13px;
    font-weight: 500 !important;
}

footer.foot .foot-link a {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 0 12px;
    letter-spacing: 0.5px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}

footer.foot .foot-link a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

footer.foot .foot-link span.copyright {
    padding: 0 5px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}

footer.foot .foot-link span.footer-link-separator {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 1px;
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
}

.text-center {
    text-align: center !important;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}

/* IE7 */
#compass {
    position: absolute;
    z-index: 999;
    height: 100%;
    min-height: 100%;
    width: 100%;
    background: #e0e0e0 repeat-x center center;
    background-image: url("../img/map.png"), url("../img/map2.png");
    background-size: cover;
}

#compass .compass {
    position: relative;
    display: block;
    width: 222px;
    height: 222px;
    margin: 0 auto;
    top: 100px;
}

#compass .compass img {
    position: absolute;
}

#compass .compass img.compass1 {
    top: 7px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: compass-oscillate 3s ease-in-out infinite;
    animation: compass-oscillate 3s ease-in-out infinite;
}

#compass .compass img.compass2 {
    top: 75px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#compass .compass img.compass3 {
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#compass .compass span {
    position: absolute;
    display: block;
    text-align: center;
    color: #777;
    font: normal normal 300 20px 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif;
    direction: ltr;
    width: 100%;
    bottom: -50px;
}

.findmap {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.first-load {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: #cf6f2a url("../img/bg-first.png") repeat-x top center;
    background-attachment: fixed;
    background-size: contain;
    z-index: 999999;
}

.overlay {
    background: #fff;
    position: relative;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: auto;
}

.spinner {
    font-size: 26px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.090em;
    height: 0.2777em;
    border-radius: 0.5em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    -webkit-animation: spinner-fade 1s infinite linear;
    animation: spinner-fade 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

@-webkit-keyframes spinner-fade {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes spinner-fade {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: transparent;
    }
}

@-webkit-keyframes compass-oscillate {
    0% {
        -webkit-transform: rotate(-25deg);
    }
    70% {
        -webkit-transform: rotate(35deg);
    }
    100% {
        -webkit-transform: rotate(-25deg);
    }
}

@keyframes compass-oscillate {
    0% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    70% {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    100% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
}

.ltr {
    direction: ltr !important;
}

.rtl {
    direction: rtl !important;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #header .rightH > a.setup {
        /* Styles */
        font-size: 18px;
        top: 10px;
    }

    #header2 .rightH > a.setup {
        /* Styles */
        font-size: 18px;
        top: 10px;
    }

    .login-form {
        /* Styles */
        width: 300px;
    }

    .login-form form.cloud-login .alrt {
        /* Styles */
        width: 300px;
        right: 0px;
        padding-bottom: 10px;
    }

    .login-form form.cloud-login .alrt h3 {
        font-size: 13px;
        text-align: center;
    }

    .login-form form.cloud-login .alrt p {
        font-size: 13px;
        margin-bottom: 10px;
        text-align: center;
    }

    .login-form form.cloud-login .alrt a {
        padding: 2px 5px;
        position: relative;
    }

    footer.foot {
        /* Styles */
        height: auto;
        position: relative;
        text-align: center !important;
    }

    footer.foot .apple a.apple-logo {
        /* Styles */
        top: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
    }

    footer.foot .foot-link {
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    footer#footer .footbody {
        width: 100% !important;
    }

    .hidden-xs {
        display: none !important;
    }
}

@media only screen and (max-width: 1200px) {
    .hidden-sm {
        display: none !important;
    }
}