/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

.signin h1 {
  font-family: "SF Text", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin-top: 15px !important;
  margin-bottom: 0;
  font-size: 19px;
  line-height: 1.38105;
  font-weight: 200;
  letter-spacing: .011em;
  /*font-weight: 200 !important; */
}

.hero.signin {
  margin: 0 auto;
  text-align: center;
  color: #ffffff; }
.focusd {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1) !important;
  opacity: 1 !important;
}
.hiden {
  display: none !important;
}

.show {
  display: block !important;
}
.si-frame {
  /* iPhone 4 ----------- */ }
  
form.login-form {
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 325px;
  top: 7px; }
  form.login-form input[type=text], form.login-form input[type=password] {
    position: relative;
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    padding: 10px 12px;
    font-size: 16px;
    color: #111; }
  form.login-form input.username {
    box-shadow: inset 0px -1px 0 0px rgba(0, 0, 0, 0.4);
    border-radius: 6px 6px 0 0; }
    form.login-form input.username:focus {
      box-shadow: 0 0 0 1px #0066cc, inset 0 -1px 0 0px #0066cc; }
  form.login-form input.password {
    border-radius: 0 0 6px 6px;
    padding-right: 40px; }
    form.login-form input.password:focus {
      z-index: 9999;
      box-shadow: 0 0 0 1px #0066cc; }
  form.login-form input.submit {
    position: absolute;
    z-index: 99999;
    border: 0;
    width: 26px;
    height: 26px;
    background: transparent url("../img/login.png") no-repeat center center;
    bottom: 9px;
    right: 10px; }

.dologin {
  background: transparent url("../img/login2.png") no-repeat !important;
  z-index: 99999999 !important; }

.loading {
  position: absolute;
  z-index: 99999;
  border: 0;
  width: 26px;
  height: 26px;
  bottom: 9px;
  right: 10px;
  display: none; }

.error {
  position: absolute;
  z-index: 9999;
  display: none;
  background: #FAE9A3;
  width: 300px;
  margin: 0 auto;
  bottom: -110px;
  left: 0;
  right: 0;
  border: 1px solid rgba(185, 149, 1, 0.47);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  padding: 11px;
  border-radius: 5px; }
  .error p {
    color: #503E30;
    font-size: 14px;
    font-weight: 600 !important;
    padding: 0;
    font-family: "SF Display";
    margin: 0; }
  .error a {
    color: #503E30;
    font-size: 14px;
    font-weight: 400 !important;
    text-decoration: underline;
    padding: 0;
    font-family: "SF Display";
    margin: 0; }
  .error:after {
    width: 15px;
    height: 15px;
    background-color: #FAE9A3;
    content: "";
    position: absolute;
    left: 47.2%;
    -webkit-transform: rotate(135deg) skewX(5deg) skewY(5deg);
            transform: rotate(135deg) skewX(5deg) skewY(5deg);
    top: -8px;
    border-left: 1px solid rgba(185, 149, 1, 0.47);
    border-bottom: 1px solid rgba(185, 149, 1, 0.47);
    box-shadow: -1px 1px 2px -1px rgba(185, 149, 1, 0.47); }

.si-remember-password {
  position: relative !important;
  display: inline-block;
  width: auto;
  top: 8px;
  color: #fff;
  direction: rtl; }
  .si-remember-password input {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    -webkit-appearance: checkbox;
    background-color: initial;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
  }
  .si-remember-password label {
    font-family: "SF Text", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 17px;
    line-height: 1.29412;
    font-weight: 300;
    letter-spacing: -.021em;
    padding-left: 4px; }

.overlay {
  background: #fff;
  position: relative;
  left: 0;
  right: 0;
  top: 240px;
  bottom: 0;
  margin: auto; }

.spinner {
  font-size: 26px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em; }

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.090em;
  height: 0.2777em;
  border-radius: 0.5em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  -webkit-animation: spinner-fade 1s infinite linear;
  animation: spinner-fade 1s infinite linear; }

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg); }

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg); }

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg); }

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg); }

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg); }

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg); }

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg); }

@-webkit-keyframes spinner-fade {
  0% {
    background-color: #fff; }
  100% {
    background-color: transparent; } }
@keyframes spinner-fade {
  0% {
    background-color: #fff; }
  100% {
    background-color: transparent; } }

@media only screen and (max-width: 600px) {
    .hero.signin {
      height: 300px !important; } 
    .si-frame {
      width: 300px !important;
      margin: 0 auto !important;
      left: 0;
      right: 0;
      position: absolute !important; } }

/*# sourceMappingURL=appleid.css.map */