/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

@font-face {
    font-family: 'SF Pro Icons';
    src: url('../font/new/SFProIcons-Regular.eot');
    src: local('SF Pro Icons Regular'), local('SFProIcons-Regular'),
    url('../font/new/SFProIcons-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFProIcons-Regular.woff2') format('woff2'),
    url('../font/new/SFProIcons-Regular.woff') format('woff'),
    url('../font/new/SFProIcons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Icons';
    src: url('../font/new/SFProIcons-Medium.eot');
    src: local('SF Pro Icons Medium'), local('SFProIcons-Medium'),
    url('../font/new/SFProIcons-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFProIcons-Medium.woff2') format('woff2'),
    url('../font/new/SFProIcons-Medium.woff') format('woff'),
    url('../font/new/SFProIcons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Icons';
    src: url('../font/new/SFProIcons-Light.eot');
    src: local('SF Pro Icons Light'), local('SFProIcons-Light'),
    url('../font/new/SFProIcons-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFProIcons-Light.woff2') format('woff2'),
    url('../font/new/SFProIcons-Light.woff') format('woff'),
    url('../font/new/SFProIcons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/new/SFText-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFText-Bold'),
    url('../font/new/SFText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFText-Bold.woff2') format('woff2'),
    url('../font/new/SFText-Bold.woff') format('woff'),
    url('../font/new/SFText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../font/new/SFDisplay-Medium.eot');
    src: local('SF Display Medium'), local('SFDisplay-Medium'),
    url('../font/new/SFDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFDisplay-Medium.woff2') format('woff2'),
    url('../font/new/SFDisplay-Medium.woff') format('woff'),
    url('../font/new/SFDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../font/new/SFDisplay-Thin.eot');
    src: local('SF Display Thin'), local('SFDisplay-Thin'),
    url('../font/new/SFDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFDisplay-Thin.woff2') format('woff2'),
    url('../font/new/SFDisplay-Thin.woff') format('woff'),
    url('../font/new/SFDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/new/SFText-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFText-Regular'),
    url('../font/new/SFText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFText-Regular.woff2') format('woff2'),
    url('../font/new/SFText-Regular.woff') format('woff'),
    url('../font/new/SFText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../font/new/SFDisplay-Regular.eot');
    src: local('SF Display Regular'), local('SFDisplay-Regular'),
    url('../font/new/SFDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFDisplay-Regular.woff2') format('woff2'),
    url('../font/new/SFDisplay-Regular.woff') format('woff'),
    url('../font/new/SFDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/new/SFText-Light.eot');
    src: local('SF Pro Display Light'), local('SFText-Light'),
    url('../font/new/SFText-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFText-Light.woff2') format('woff2'),
    url('../font/new/SFText-Light.woff') format('woff'),
    url('../font/new/SFText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../font/new/SFDisplay-Bold.eot');
    src: local('SF Display Bold'), local('SFDisplay-Bold'),
    url('../font/new/SFDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFDisplay-Bold.woff2') format('woff2'),
    url('../font/new/SFDisplay-Bold.woff') format('woff'),
    url('../font/new/SFDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../font/new/SFDisplay-Light.eot');
    src: local('SF Display Light'), local('SFDisplay-Light'),
    url('../font/new/SFDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/new/SFDisplay-Light.woff2') format('woff2'),
    url('../font/new/SFDisplay-Light.woff') format('woff'),
    url('../font/new/SFDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

html {
    height: 100vh;
}
body {
    position: relative;
    padding: 0;
    margin: 0;
    background: #fff;
    direction: rtl;
    min-height: 100%;
    height: 100vh;
    font-family: 'SF Pro Display', Tahoma, Verdana, Segoe, sans-serif !important;
    /*min-height: 100%;*/
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 100 !important;
}

body.find {
    background: #e0e0e0 repeat-x top left;
    background-image: url("../img/map.png"), url("../img/map2.png");
    background-size: cover;
}

.hiden {
    display: none !important;
}

.show {
    display: block !important;
}

.snippet-container {
    word-break: break-all;
    text-align: left !important;
    white-space: nowrap;
    word-wrap: break-word;
    max-height: 200px !important;
    overflow-z: auto;
}

.applef {
    font-size: 11px;
    font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
    font-weight: 300 !important;
}

a, a:hover, input {
    text-decoration: none;
    outline: none !important;
}
.foot {
    position: relative;
    bottom: 0;
    display: block;
}
.container-fluid {
    padding: 0 10px !important;
}

.login-form {
    position: relative;
    max-width: 324px;
    min-width: 300px;
    display: block;
    height: 560px;
    margin: 0 auto 0 auto;
}

.login-form img.img-cloud {
    position: relative;
    margin: 0px auto;
}

.login-form h2 {
    position: relative;
    font: 2em 'SF Pro Display', 'SF Pro Icons', Arial, Helvetica, sans-serif;
    color: #111;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
    opacity: 0.95;
    text-align: center;
    margin-bottom: 10px;
}

.login-form form.cloud-login {
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    background-clip: padding-box;
    border-radius: 12px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    cursor: default;
    margin-top: 25px;
}

.login-form form.cloud-login span.applids, .login-form form.cloud-login span.applepwds {
    position: absolute;
    left: 15px;
    text-align: left;
    font: 0.9em 'SF Pro Text', 'SF Text', Arial, Helvetica, sans-serif;
    font-weight: 300 !important;
    z-index: 99999;
}

.login-form form.cloud-login span.applids {
    top: 1.2em;
}

.login-form form.cloud-login span.applepwds {
    top: 0px;
    z-index: 0 !important;
}

.login-form form.cloud-login input[type=text], .login-form form.cloud-login input[type=password] {
    position: relative;
    width: 100%;
    padding: 14px 20px;
    padding-left: 7.2em;
    border: 0px;
    background: transparent;
    text-align: left;
    font: 18px 'SF Pro Display', Arial, Helvetica, sans-serif;
    font-weight: 100 !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none !important;
}

.login-form form.cloud-login > input[type=text] {
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-form form.cloud-login > input[type=password] {
    z-index: 99;
    border-radius: 0 0 12px 12px;
}

.login-form form.cloud-login > input[type=submit] {
    position: absolute;
    top: 130px;
    display: none;
    right: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.2);
    direction: ltr;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.01em;
    background: transparent;
    width: auto;
    font: 24px 'SF Pro Display', Tahoma, Verdana, Segoe, sans-serif;
    border: 0;
    letter-spacing: 1px !important;
    z-index: 9999;
}

.login-form form.cloud-login img.loading {
    position: absolute;
    top: 135px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 26px;
    height: 26px;
    border: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    z-index: 9;
    display: none;
}

.login-form .forget {
    position: absolute;
    top: 420px;
    left: 0;
    right: 0;
    display: block;
    background: transparent;
    color: #239e00 !important;
    font-family: 'SF Pro Text', 'SF Pro Icons', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.login-form .forget a {
    display: block;
    margin-bottom: 0px;
    color: #239e00;
    text-decoration: none;
    font-weight: 600px;

}

.dologin {
    color: #24a337 !important;
}

.text-center {
    text-align: center !important;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}

/* IE7 */
#compass {
    position: absolute;
    z-index: 999;
    height: 100vh;
    min-height: 100%;
    width: 100%;
    background: #e0e0e0 repeat-x top left;
    background-image: url("../img/map.png"), url("../img/map2.png");
    background-size: cover;
}

#compass .compass {
    position: relative;
    display: block;
    width: 222px;
    height: 222px;
    margin: 0 auto;
    top: 100px;
}

#compass .compass img {
    position: absolute;
}

#compass .compass img.compass1 {
    top: 7px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: compass-oscillate 3s ease-in-out infinite;
    animation: compass-oscillate 3s ease-in-out infinite;
}

#compass .compass img.compass2 {
    top: 75px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#compass .compass img.compass3 {
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#compass .compass span {
    position: absolute;
    display: block;
    text-align: center;
    color: #777;
    font: normal normal 300 20px 'SF Pro Display', Tahoma, Verdana, Segoe, sans-serif;
    direction: ltr;
    width: 100%;
    bottom: -50px;
}

section.alert {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh !important;
    min-height: 100% !important;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999999;
}

section.alert .alert-body {
    position: absolute;
    width: 300px;
    height: 150px;
    background: white;
    top: 50%;
    margin-top: -75px;
    /* half of #content height*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 1px #eee solid;
    direction: ltr;
    text-align: center;
    font-family: 'SF Pro Display', Tahoma, Verdana, Segoe, sans-serif;
}

section.alert .alert-body h1 {
    font-size: 20px;
}

section.alert .alert-body p {
    font-size: 15px;
    font-family: 'SF Pro Display', Tahoma, Verdana, Segoe, sans-serif;
}

section.alert .alert-body span.alert-foot {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 12px 0;
    border-top: 1px #e0e0e0 solid;
    color: #24a337;
    font-size: 20px;
    cursor: pointer;
}

#findmap {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes compass-oscillate {
    0% {
        -webkit-transform: rotate(-25deg);
    }
    70% {
        -webkit-transform: rotate(35deg);
    }
    100% {
        -webkit-transform: rotate(-25deg);
    }
}

@keyframes compass-oscillate {
    0% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    70% {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    100% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
}

.ltr {
    direction: ltr !important;
}

.rtl {
    direction: rtl !important;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .login-form {
        /* Styles */
        width: 100%;
        margin-top: -270px;
        top: 50%;
        padding: 0 15px;
    }
}

/*# sourceMappingURL=applefind.css.map */