/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

.signin form.login-form {
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 1);
    background-clip: padding-box;
    /*box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 2px 2px -2px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 2px 2px -2px rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 2px 2px -2px rgba(0, 0, 0, 0.3);*/
    /*-o-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 2px 2px -2px rgba(0, 0, 0, 0.3);*/
    border-radius: 9px;
    cursor: default;
    margin-top: 5px;
    margin-bottom: 60px;
    z-index: 99;
}

.signin form.login-form input[type=text], .signin form.login-form input[type=password] {
    position: relative;
    width: 100%;
    padding: 12px 20px 11px 12px;
    background: rgba(255, 255, 255, 1);
    text-align: left;
    font: 17px 'SF Text', Tahoma;
    color: #333;
    font-weight: 300 !important;
    border: 1px solid rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none !important;
    z-index: 99;
    letter-spacing: -.021em;
}

.signin form.login-form > input[type=text] {
    z-index: 99;
    direction: ltr !important;
    padding-left: 15px;
    padding-right: 45px;
    border-radius: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.signin form.login-form > input[type=text]:focus {
    box-shadow: inset 0 0 1px 0px #1780fb;
    border: 1px #1780fb solid;
}

.signin form.login-form > input[type=password] {
    position: absolute;
    z-index: 98;
    top: 0px;
    display: block;
    border-top: 0;
    border-radius: 8px;
    padding-right: 40px;
    direction: ltr !important;
}

.signin form.login-form > input[type=password]:focus {
    border: 1px #1780fb solid;
    border-top: 0;
}


.signin form.login-form > input[type=button] {
    position: absolute;
    top: 10px;
    right: 14px;
    background: transparent url("../img/login.png") no-repeat;
    width: 26px;
    height: 26px;
    border: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    z-index: 99999;
    cursor: text;
}

.signin form.login-form > input[type=submit] {
    position: absolute;
    display: none;
    top: 54px;
    right: 12px;
    background: transparent url("../img/login.png") no-repeat;
    width: 26px;
    height: 26px;
    border: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    z-index: 99999;
}

.signin form.login-form img.loadingd {
    position: absolute;
    top: 10px;
    right: 14px;
    width: 26px;
    height: 26px;
    border: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    z-index: 999;
    display: none;
}

.signin form.login-form img.loading {
    position: absolute;
    top: 54px;
    right: 12px;
    width: 26px;
    height: 26px;
    border: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    z-index: 999;
    display: none;
}

.signin form.login-form .alrt {
    position: absolute;
    z-index: 9999;
    width: 300px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: #f5e49c;
    direction: ltr;
    padding: 10px;
    top: 93px;
    text-align: center;
    height: 66px;
    border-radius: 6px;
    border: 1px rgba(80, 62, 48, 0.2) solid;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.signin form.login-form .alrt:after {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f5e49c;
    z-index: 99999;
}

.signin form.login-form .alrt h3 {
    margin: 0;
    padding: 0;
    font: 16px 'SF Text', Tahoma;
    color: #503e30;
    text-align: center;
    z-index: 99;
}

.signin form.login-form .alrt p {
    margin: 0;
    padding: 0;
    font-weight: 600 !important;
    font: 13px 'SF Text', Tahoma;
    color: #503e30;
    text-align: center;
    z-index: 99;
}

.signin form.login-form .alrt a {
    display: block;
    text-align: center;
    text-decoration: underline;
    font: 14px 'SF Text', Tahoma;
    color: #503e30;
    padding: 5px 0px;
    z-index: 99;
}

.signin .keepme {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 15px !important;
    font-weight: 300;
    font-family: 'SF Text', Tahoma !important;
}

.signin .keepme span {
    position: relative;
    margin-left: 5px;
    display: inline-block;
}

.signin .keepme i {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    z-index: 99;
}

.signin .forget {
    position: relative;
    margin-top: 10px;
    display: block;
    background: transparent url("../img/HR_gradient_light_new.png") no-repeat top center;
    padding: 20px 0px 5px 0px;
    color: #fff;
    font-family: 'SF Text', Tahoma;
    text-align: center;

}

.signin .forget a {
    color: #fff;
    font-size: 15px;
    letter-spacing: -0.025em;
    text-decoration: none;
    direction: ltr !important;
}

.signin .forget a:hover {
    text-decoration: underline;
}

.signin .create {
    position: relative;
    display: block;
    text-align: center;
    color: #fff;
    font-family: 'SF Text', Tahoma;
}

.signin .create a {
    color: #fff;
    font-family: 'SF Text', Tahoma;
    text-decoration: none;
}

.signin .create a:hover {
    text-decoration: underline;
}

.dologin {
    background: transparent url("../img/login2.png") no-repeat !important;
    z-index: 999 !important;
    cursor: pointer !important;
}