/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

body {
  position: relative;
  padding: 0;
  margin: 0;
  background: #fff;
  background-size: cover;
  direction: rtl;
  height: 100vh;
  font-family: 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif !important;
  min-height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 100 !important; }

body.find {
  background: #e0e0e0 repeat-x top left;
  background-image: url("../img/map.png"), url("../img/map2.png");
  background-size: cover; }

.hiden {
  display: none !important; }

.show {
  display: block !important; }

.snippet-container {
  word-break: break-all;
  text-align: left !important;
  white-space: nowrap;
  word-wrap: break-word;
  max-height: 200px !important;
  overflow-z: auto; }

.applef {
  font-size: 11px;
  font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
  font-weight: 300 !important; }

a, a:hover, input {
  text-decoration: none;
  outline: none !important; }

.container-fluid {
  padding: 0 10px !important; }

.login-form {
  position: relative;
  width: 324px;
  margin: 0 auto 0 auto;
  padding-top: 30px; }
    .login-form img.img-cloud {
    position: relative;
    margin: 0px auto; }
  .login-form h2 {
    position: relative;
    font: 32px 'SF Pro Text', Arial, Helvetica, sans-serif;
    color: #111;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
    opacity: 0.95;
    text-align: center;
    margin-bottom: 10px; }
  .login-form form.cloud-login {
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    background-clip: padding-box;
    border-radius: 12px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    cursor: default;
    margin-top: 25px; }
    .login-form form.cloud-login span.applids, .login-form form.cloud-login span.applepwds {
      position: absolute;
      left: 15px;
      text-align: left;
      font: 17px 'SF Pro Text', Arial, Helvetica, sans-serif;
      font-weight: 100 !important;
      z-index: 99999; }
    .login-form form.cloud-login span.applids {
      top: 13px; }
    .login-form form.cloud-login span.applepwds {
      top: 60px; }
    .login-form form.cloud-login input[type=text], .login-form form.cloud-login input[type=password] {
      position: relative;
      width: 100%;
      padding: 12px 10px;
      padding-left: 110px;
      border: 0px;
      background: transparent;
      text-align: left;
      font: 18px 'SF Pro Text', Arial, Helvetica, sans-serif;
      font-weight: 100 !important;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      outline: none !important; }
    .login-form form.cloud-login > input[type=text] {
      border-radius: 12px 12px 0 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    .login-form form.cloud-login > input[type=password] {
      z-index: 99;
      border-radius: 0 0 12px 12px; }
    .login-form form.cloud-login > input[type=submit] {
      position: absolute;
      bottom: -60px;
      right: 0;
      left: 0;
      color: rgba(36, 163, 55, 0.8);
      direction: ltr;
      margin-left: auto;
      margin-right: auto;
      background: transparent;
      width: auto;
      font: 24px 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif;
      border: 0;
      z-index: 9999; }
    .login-form form.cloud-login img.loading {
      position: absolute;
      top: 125px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      width: 26px;
      height: 26px;
      border: 0;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8;
      z-index: 9;
      display: none; }
  .login-form .forget {
    position: relative;
    margin-top: 90px;
    display: block;
    background: transparent;
    color: rgba(36, 163, 55, 0.2) !important;
    font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center; }
    .login-form .forget a {
      display: block;
      margin-bottom: 0px;
      color: rgba(36, 163, 55, 0.7);
      text-decoration: none; }

.dologin {
  color: #24a337 !important; }

.text-center {
  text-align: center !important; }

/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
#compass {
  position: absolute;
  z-index: 999;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  background: #e0e0e0 repeat-x top left;
  background-image: url("../img/map.png"), url("../img/map2.png");
  background-size: cover; }
  #compass .compass {
    position: relative;
    display: block;
    width: 222px;
    height: 222px;
    margin: 0 auto;
    top: 100px; }
    #compass .compass img {
      position: absolute; }
    #compass .compass img.compass1 {
      top: 7px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      -webkit-animation: compass-oscillate 3s ease-in-out infinite;
      animation: compass-oscillate 3s ease-in-out infinite; }
    #compass .compass img.compass2 {
      top: 75px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
    #compass .compass img.compass3 {
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
    #compass .compass span {
      position: absolute;
      display: block;
      text-align: center;
      color: #777;
      font: normal normal 300 20px 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif;
      direction: ltr;
      width: 100%;
      bottom: -50px; }

section.alert {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999999; }
  section.alert .alert-body {
    position: absolute;
    width: 300px;
    height: 150px;
    background: white;
    top: 50%;
    margin-top: -150px;
    /* half of #content height*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 1px #eee solid;
    direction: ltr;
    text-align: center;
    font-family: 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif; }
    section.alert .alert-body h1 {
      font-size: 20px; }
    section.alert .alert-body p {
      font-size: 15px;
      font-family: 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif; }
    section.alert .alert-body span.alert-foot {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      padding: 12px 0;
      border-top: 1px #e0e0e0 solid;
      color: #24a337;
      font-size: 20px;
      cursor: pointer; }

#findmap {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

@-webkit-keyframes compass-oscillate {
  0% {
    -webkit-transform: rotate(-25deg); }
  70% {
    -webkit-transform: rotate(35deg); }
  100% {
    -webkit-transform: rotate(-25deg); } }
@keyframes compass-oscillate {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg); }
  70% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg); }
  100% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg); } }
.ltr {
  direction: ltr !important; }

.rtl {
  direction: rtl !important; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .login-form {
      /* Styles */
      width: 300px; } }

/*# sourceMappingURL=applefind.css.map */