/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

.login-form {
    /*height: 100% !important;*/
    position: absolute;
    left:0;
    right:0;
    margin: -250px auto 0px auto !important;
    top: 50%;
}
.login-form form.cloud-login {
    position: relative;
    background: rgba(255, 255, 255, 1);
    background-clip: padding-box;
    /*box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 2px 2px -2px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 2px 2px -2px rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 2px 2px -2px rgba(0, 0, 0, 0.3);*/
    /*-o-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 2px 2px -2px rgba(0, 0, 0, 0.3);*/
    border-radius: 9px;
    cursor: default;
    margin-top: 15px;
    margin-bottom: 60px;
    z-index: 99;
    overflow: visible !important;
}

.login-form form.cloud-login input[type=text], .login-form form.cloud-login input[type=password] {
    position: relative;
    width: 100%;
    text-align: left;
    font: 17px 'sf-pro', Tahoma;
    color: #333;
    font-weight: 300 !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none !important;
    z-index: 99;
}

.login-form form.cloud-login > input[type=text] {
    z-index: 99;
    direction: ltr !important;
    border-bottom: 0 transparent solid;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: #fff;
    padding-left: 115px !important;
    height: 48px !important;
}

.login-form form.cloud-login > input[type=password] {
    position: absolute;
    z-index: 98;
    top: 0px;
    display: block;
    border-top: 0;
    border-radius: 8px;
    direction: ltr !important;
    height: 48px !important;
}

.login-form form.cloud-login > input[type=password]:focus {

}

.login-form form.cloud-login > input[type=button] {
    position: absolute;
    top: 130px;
    right: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.2);
    direction: ltr;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    width: auto;
    font: 24px 'sf-pro-light', Tahoma, Verdana, Segoe, sans-serif;
    border: 0;
    z-index: 9999;
    -webkit-transition: color 0.05s ease;
    -moz-transition: color 0.05s ease;
    -o-transition: color 0.05s ease;
    transition: color 0.05s ease;
    letter-spacing: 1px !important;
}

/*.login-form form.cloud-login > input[type=submit] {*/
/*position: absolute;*/
/*display: none;*/
/*top: 54px;*/
/*right: 12px;*/
/*background: transparent url("../img/login.png") no-repeat;*/
/*width: 26px;*/
/*height: 26px;*/
/*border: 0;*/
/*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);*/
/*opacity: 0.8;*/
/*z-index: 99999;*/
/*}*/


.login-form form.cloud-login span {
    color: rgba(0,0,0,0.6);
    font-family: 'sf-pro-light';
}
@media only screen and (min-width: 1900px) and (max-width: 2000px) {
    .login-form {
        position: relative;
        width: 328px;
        margin: -247px auto 0px auto !important;
        top: 50%;
        z-index: 99;
    }
}
@media only screen and (min-width: 1350px) and (max-width: 1900px) and (min-height: 700px) {
    .login-form {
        position: relative;
        width: 328px;
        margin: -250px auto 0px auto !important;
        top: 50%;
        z-index: 99;
    }
}

@media only screen and (min-width: 1350px) and (max-width: 1900px) and (min-height: 1000px) {
    .login-form {
        position: relative;
        width: 328px;
        margin: -225px auto 0px auto !important;
        top: 50%;
        z-index: 99;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1112px) and (min-height: 820px) {
    .login-form {
        position: relative;
        width: 328px;
        margin: -130px auto 0px auto !important;
        top: 50%;
        z-index: 99;
    }
}