/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

@font-face {
  font-family: 'sf-pro';
  src: url("../font/sf-pro-display-regular.eot");
  /* IE9 Compat Modes */
  src: url("../font/sf-pro-display-regular.eot?#iefix") format("embedded-opentype"), url("../font/sf-pro-display-regular.woff") format("woff"), url("../font/sf-pro-display-regular.ttf") format("truetype"), url("../font/sf-pro-display-regular.svg#80d8021909d835b751af094d043ad177") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'sf-pro-light';
  src: url("../font/sf-pro-display-light.eot");
  /* IE9 Compat Modes */
  src: url("../font/sf-pro-display-light.eot?#iefix") format("embedded-opentype"), url("../font/sf-pro-display-light.woff") format("woff"), url("../font/sf-pro-display-light.ttf") format("truetype"), url("../font/sf-pro-display-light.svg#80d8021909d835b751af094d043ad177") format("svg");
  /* Legacy iOS */ }
body {
  color: rgba(0, 0, 0, 0.87);
  direction: ltr;
  font-family: 'sf-pro', sans-serif;
  font-size: 14px;
  line-height: 20px; }

.VYMape {
  background: #e0e0e0; }

.VYMape {
  background: #fff;
  bottom: 0;
  direction: ltr;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10; }

.login-box {
  position: relative;
  display: block;
  background: #fff;
  width: 450px;
  height: 500px;
  margin: 6.5% auto 0 auto;
  padding: 48px 40px 36px;
  /*height: auto;*/
  min-height: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

.form-body {
  position: relative;
  display: block; }
  .form-body h1 {
    position: relative;
    display: block;
    font: normal normal 18px 'sf-pro', Sans-Serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding: 0;
    margin: 0 0 44px 0; }
    .form-body h1 small {
      display: block;
      font: normal normal 14px 'sf-pro-ligh', Sans-Serif;
      font-weight: 300;
      line-height: 20px; }
  .form-body .form-inputs .email-inputs input.email-input {
    display: block;
    border: 0;
    border-bottom: 1px #e0e0e0 solid;
    width: 100%;
    outline: none; }

.forgot {
  position: relative;
  display: block;
  padding: 15px 0 20px 0; }
  .forgot a {
    position: relative;
    color: #4285f4;
    text-decoration: none;
    display: block;
    width: auto;
    height: 24px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    white-space: normal;
    font-family: 'sf-pro', Sans-Serif; }

.has-error-msg {
  color: #D50000 !important;
  font-size: 13px;
  display: none; }

.custom-form {
  margin: 0;
  padding: 0; }
  .custom-form .form-groups {
    position: relative;
    padding-top: 16px;
    margin-bottom: 5px; }
    .custom-form .form-groups .animated-labels {
      position: absolute;
      top: 24px;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      opacity: 0.5;
      cursor: text;
      -webkit-transition: 0.2s ease all;
      transition: 0.2s ease all;
      margin: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
      font-family: 'sf-pro', Sans-Serif;
      font-size: 15px;
      font-weight: 500;
      color: #000000; }
      .custom-form .form-groups .animated-labels:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 45%;
        height: 2px;
        width: 10px;
        visibility: hidden;
        background-color: #4285F4;
        -webkit-transition: 0.2s ease all;
        transition: 0.2s ease all; }
    .custom-form .form-groups.not-empty .animated-labels {
      top: 0;
      font-size: 15px; }
    .custom-form .form-groups .form-controls {
      position: relative;
      z-index: 1;
      width: 100%;
      border-radius: 0;
      border-width: 0 0 1px;
      border-bottom-color: rgba(0, 0, 0, 0.25);
      height: auto;
      padding: 10px 0 2px;
      outline: none;
      font-size: 16px; }
      .custom-form .form-groups .form-controls:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        border-bottom-color: rgba(0, 0, 0, 0.12); }
        .custom-form .form-groups .form-controls:focus ~ .animated-labels {
          top: -10px;
          opacity: 1;
          color: #4285F4;
          font-size: 12px; }
          .custom-form .form-groups .form-controls:focus ~ .animated-labels:after {
            visibility: visible;
            width: 100%;
            left: 0; }

.form-bottom {
  padding-top: 13px; }
  .form-bottom button.btn-next {
    position: relative;
    background: #4285f4;
    padding: 0 !important;
    white-space: nowrap;
    line-height: 15px !important;
    min-width: 88px;
    height: 36px !important;
    color: #ffffff;
    -webkit-transition: all ease 1s !important;
    transition: all ease 1s !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 0; }

.no-p {
  padding: 0 !important;
  margin: 0 !important; }

.has-error .animated-labels {
  color: #333; }
  .has-error .animated-labels:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 2px;
    width: 10px;
    visibility: hidden;
    background-color: #D50000 !important;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all; }
.has-error.not-empty .animated-labels {
  top: 0;
  font-size: 15px; }
.has-error .form-controls {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 0;
  border-width: 0 0 1px;
  border-bottom: 2px #D50000 solid !important;
  height: auto;
  padding: 10px 0 2px;
  outline: none;
  font-size: 16px; }
  .has-error .form-controls:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom-color: #D50000; }
    .has-error .form-controls:focus ~ .animated-labels {
      top: -10px;
      opacity: 1;
      color: #D50000 !important;
      font-size: 12px; }
      .has-error .form-controls:focus ~ .animated-labels:after {
        visibility: visible;
        width: 100%;
        left: 0; }

.dropdown-button {
  position: relative;
  margin-top: 10px;
  color: #4285f4;
  text-decoration: none;
  display: block;
  width: auto;
  height: 24px;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  white-space: normal;
  font-family: 'sf-pro', Sans-Serif; }
  .dropdown-button:hover {
    color: #4285f4;
    text-decoration: none; }

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  overflow: hidden;
  width: 100%;
  display: none; }

.loader {
  height: 5px;
  position: absolute;
  top: 0px;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%); }

.loader1 {
  width: 100%;
  background: #34a853;
  z-index: 1;
  -webkit-animation: one 2s ease-out infinite;
          animation: one 2s ease-out infinite; }

.loader2 {
  width: 0%;
  background: #4285f4;
  z-index: 2;
  -webkit-animation: two 2s ease-out infinite;
          animation: two 2s ease-out infinite; }

.loader3 {
  width: 0%;
  z-index: 3;
  background: #fbbc05;
  -webkit-animation: three 2s ease-out infinite;
          animation: three 2s ease-out infinite; }

.loader4 {
  width: 0%;
  z-index: 4;
  background: #ea4335;
  -webkit-animation: four 2s ease-out infinite;
          animation: four 2s ease-out infinite; }

@-webkit-keyframes two {
  0%, 75%, 100% {
    width: 0%; }
  25%, 50% {
    width: 100%; } }

@keyframes two {
  0%, 75%, 100% {
    width: 0%; }
  25%, 50% {
    width: 100%; } }
@-webkit-keyframes three {
  0%, 25%, 100% {
    width: 0%; }
  50%, 75% {
    width: 100%; } }
@keyframes three {
  0%, 25%, 100% {
    width: 0%; }
  50%, 75% {
    width: 100%; } }
@-webkit-keyframes four {
  0%, 50% {
    width: 0%; }
  75%, 100% {
    width: 100%; } }
@keyframes four {
  0%, 50% {
    width: 0%; }
  75%, 100% {
    width: 100%; } }
@-webkit-keyframes one {
  0%, 25% {
    z-index: 1;
    width: 100%; }
  50%, 74% {
    z-index: 1;
    width: 0%; }
  75% {
    z-index: 100; }
  100% {
    width: 100%;
    z-index: 100; } }
@keyframes one {
  0%, 25% {
    z-index: 1;
    width: 100%; }
  50%, 74% {
    z-index: 1;
    width: 0%; }
  75% {
    z-index: 100; }
  100% {
    width: 100%;
    z-index: 100; } }
.foot-box {
  position: relative;
  display: block;
  width: 450px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 13px;
  color: #777; }
  .foot-box a {
    color: #777;
    text-decoration: none;
    padding: 0 0 0 30px; }

#dropdown1 {
  width: 100% !important;
  padding: 15px 0;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important; }
  #dropdown1 a {
    font-size: 15px;
    font-family: 'sf-pro', Sans-Serif;
    text-decoration: none !important;
    color: #111 !important; }

#form-box {
  position: absolute;
  top: 90px;
  width: 82%;
  height: auto;
  z-index: 999999999 !important; }

.getBacktoEmail {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 30px; }

.welcome-email {
  position: absolute;
  left: 40px;
  top: 31px; }

span.caret {
  right: 50px !important;
  top: 5px !important; }

input.select-dropdown {
  padding: 0 !important;
  border-bottom: 0px solid #9e9e9e !important;
  outline: none;
  height: 20px !important;
  line-height: 20px !important;
  margin: 0 !important; }

ul.select-dropdown {
  max-height: auto;
  min-height: 550px;
  height: auto !important;
  bottom: 0 !important;
  top: 0;
  z-index: 99999999999999999999;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
  min-width: 177px !important;
  max-width: 200px !important; }
  ul.select-dropdown li {
    min-height: auto !important;
    line-height: auto !important; }
  ul.select-dropdown li span {
    color: #222 !important;
    padding: 10px 16px !important;
    font-size: 12px !important;
    font-family: 'sp-pro', Sans-Serif; }

/*# sourceMappingURL=cne.css.map */