/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

.content1:first-child {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  opacity: 0.99; }

.content1 {
  position: relative;
  background: #ecf0f1;
  min-height: 200px;
  margin: 10px 0;
  border: 1px #e3e3e3 solid;
  border-radius: 2px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); }
  .content1 .content-img {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    max-height: 200px;
    cursor: pointer; }
    .content1 .content-img img {
      position: relative;
      width: 100%;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .content1 .content-img i {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .content1 .content-img a.cont-time {
      position: absolute;
      top: 20px;
      right: 20px; }
    .content1 .content-img a.cont-cat {
      position: absolute;
      bottom: 20px;
      right: 20px; }
    .content1 .content-img:hover img {
      -webkit-transform: translate(-50%, 0) scale(1.05);
      -ms-transform: translate(-50%, 0) scale(1.05);
      transform: translate(-50%, 0) scale(1.05);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8; }
  .content1 h2.content-tit {
    position: relative;
    padding: 0;
    margin: 0;
    background: #192330;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .content1 h2.content-tit a {
      position: relative;
      padding: 10px;
      display: block;
      color: #ECF0F1;
      font: bold 20px 'jf', Tahoma, Verdana, Segoe, sans-serif;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      direction: rtl !important;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .content1 .content-bod {
    position: relative;
    padding: 10px;
    margin: 0;
    border-bottom: 1px #e3e3e3 solid; }
    .content1 .content-bod p {
      display: block;
      width: 100%;
      text-align: center;
      font: 13px 'jf', Tahoma, Verdana, Segoe, sans-serif;
      color: #192330; }
  .content1 .content-foot {
    position: static;
    background: #f5f7f7;
    padding: 10px;
    border-top: 1px #FFFFFF solid;
    z-index: 9999999999999 !important; }
  .content1:hover .content-img i {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }

/*# sourceMappingURL=content.css.map */