/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

@import url(tables.css);
@font-face {
  font-family: "jf";
  font-style: normal;
  font-weight: normal;
  src: url('../font/JF-Flat-regular.eot?&1392583428#iefix') format("embedded-opentype"), url('../font/JF-Flat-regular.woff2?1392583428') format("woff2"), url('../font/JF-Flat-regular.woff?1392583428') format("woff"), url('../font/JF-Flat-regular.ttf?1392583428') format("truetype"), url('../font/JF-Flat-regular.svg?1392583428#jf') format("svg"); }
body, html {
  direction: rtl !important;
  padding: 0;
  margin: 0;
  background: #e0e0e0 repeat top left;
  -webkit-font-smoothing: subpixel-antialiased;
  image-rendering: optimizeSpeed;
  font-family: 'jf', Tahoma, Verdana, Segoe, sans-serif !important;
  height: 100%;
  text-align: right; }

* {
  -webkit-font-smoothing: subpixel-antialiased;
  direction: rtl; }

.fa {
  margin: 0 6px; }

.box > .row {
  height: 100%;
  margin-left: 0;
  margin-right: 0; }

.column:before, .column:after {
  content: "";
  display: table; }

.column:after {
  clear: both; }

.column {
  height: 100%;
  overflow: auto;
  *zoom: 1; }

.column .padding {
  padding: 10px; }

.box {
  bottom: 0;
  /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 50px;
  background: #192330;
  /* Portrait */ }
  
#main {
  background-color: #fdfdfd;
  /* Portrait */ }
  
#sidebar {
  padding: 10px 0 !important;
  color: #ECF0F1; }
  #sidebar form.SideForm {
    position: relative;
    padding: 0px 10px; }
    #sidebar form.SideForm i {
      position: absolute;
      right: 10px;
      z-index: 999;
      font-size: 15px;
      color: #ECF0F1; }
    #sidebar form.SideForm input[type='text'] {
      position: relative;
      border: 0;
      padding: 0 30px 5px 30px;
      background: #192330;
      border-bottom: 1px #2a3b52 solid;
      width: 100%;
      color: #ECF0F1;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #sidebar form.SideForm input[type='text']:hover {
        border-bottom: 1px #4d6c95 solid; }
      #sidebar form.SideForm input[type='text']:focus {
        border-bottom: 1px #4d6c95 solid;
        padding: 20px 30px 5px 30px; }

.col-md-9.full {
  width: 100%;
  padding-bottom: 60px;
  overflow: hidden; }

.nemo {
  border: 1px #333 solid !important; }

/* Header Reference */
header.topHead {
  position: fixed;
  width: 100%;
  background: #192330;
  min-height: 50px;
  padding: 10px 0;
  z-index: 99999999;
  /* Smartphones (portrait and landscape) ----------- */ }
    header.topHead h1.logo {
    padding-right: 20px;
    margin: 0 5px 0 0;
    color: #ECF0F1;
    display: inline-block;
    font: bold 25px 'jf', Tahoma, Verdana, Segoe, sans-serif;
    border-radius: 2px; }
        header.topHead a.topA {
    position: relative;
    display: inline-block;
    padding: 2px 5px 0 5px;
    font-size: 21px;
    background: #2C3E50;
    color: #18BC9C;
    float: left;
    margin: 0 2px;
    border-radius: 4px; }
        header.topHead a.topA i.badge {
      position: absolute;
      top: -5px;
      right: -5px;
      padding: 2px 4px !important;
      font-size: 11px !important;
      font-family: Tahoma, Verdana, Segoe, sans-serif;
      border-radius: 2px;
      background: #E74C3C;
      color: #ECF0F1; }
    header.topHead a.topA span {
      text-align: center; }
    header.topHead a.topA:hover {
      color: #fff;
      background: #192330; }
  header.topHead .user-infos {
    margin: 0 2px;
    float: left; }
      header.topHead ul.global-drop {
    background: #192330;
    border: 0; }
    header.topHead ul.global-drop li a {
      padding: 7px 20px;
      white-space: nowrap;
      overflow: hidden;
      color: #ECF0F1;
      border-bottom: 5px transparent solid; }
      header.topHead ul.global-drop li a:hover {
        background: #18BC9C;
        color: #fff;
        border-bottom: 5px #128f76 solid; }
        header.topHead ul.global-drop li a:hover i {
          color: #fff; }
      header.topHead ul.global-drop li a i {
        margin: 0 6px;
        color: #BDC3C7;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    header.topHead ul.global-drop li.divider {
      background-color: #2e4058; }
    header.topHead ul.global-drop li.dropdown-header {
      color: #18BC9C; }
    header.topHead ul.global-drop li.logout a:hover {
      background: #E74C3C;
      border-bottom: 5px #d62c1a solid; }
  header.topHead ul.message-drop {
    min-width: 250px;
    max-width: 250px;
    background: #192330;
    border: 0; }
    header.topHead ul.message-drop li a {
      padding: 5px 5px 0px 5px;
      white-space: nowrap;
      overflow: hidden;
      border-bottom: 1px #253447 solid; }
      header.topHead ul.message-drop li a i {
        margin: 0 6px; }
      header.topHead ul.message-drop li a p {
        padding: 0 30px 0 10px;
        font-size: 11px;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        direction: rtl; }
    header.topHead ul.message-drop li.last-li a {
      padding: 5px;
      border-bottom: 0;
      font-size: 12px; }
  header.topHead ul.ul-scroll {
    height: 300px;
    overflow: scroll;
    direction: ltr; }
    header.topHead ul.ul-scroll li a {
      position: relative;
      display: block;
      padding: 5px 5px 0px 5px;
      white-space: nowrap;
      overflow: hidden;
      color: #18BC9C;
      border-bottom: 1px #253447 solid; }
      header.topHead ul.ul-scroll li a:hover {
        background: #18BC9C;
        color: #ECF0F1; }
        header.topHead ul.ul-scroll li a:hover i {
          color: #ECF0F1; }
        header.topHead ul.ul-scroll li a:hover p {
          color: #ECF0F1; }
          header.topHead ul.ul-scroll li a:hover p i {
            color: #ECF0F1; }
      header.topHead ul.ul-scroll li a i {
        position: relative;
        margin: 0 6px;
        color: #95a5a6;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      header.topHead ul.ul-scroll li a p {
        position: relative;
        padding: 0 30px 0 10px;
        margin-bottom: 4px;
        font-size: 12px;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        direction: rtl;
        color: #95a5a6;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      header.topHead ul.ul-scroll li a p.p-date {
        margin-bottom: 10px;
        padding-right: 25px; }
        header.topHead ul.ul-scroll li a p.p-date i {
          color: #ECF0F1;
          font-weight: normal !important;
          font-size: 11px; }

/* index-info */
.index-info {
  position: relative;
  overflow: hidden;
  padding: 30px 0;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 10px 10px -10px rgba(0, 0, 0, 0.1); }
  .index-info > span.icn-bk {
    position: absolute;
    top: 30px;
    display: block;
    right: -20px;
    color: rgba(255, 255, 255, 0.15);
    font-size: 130px;
    height: 130px;
    -webkit-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    -webkit-transform: rotateZ(-10deg !important);
    -ms-transform: rotateZ(-10deg !important);
    transform: rotateZ(-10deg !important);
    z-index: 99; }
  .index-info > span.info-tit {
    position: relative;
    display: block;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 10px; }
  .index-info > span.info-cont {
    position: relative;
    display: block;
    font-size: 16px;
    z-index: 999; }
  .index-info:hover > span.icn-bk {
    -webkit-transform: rotateZ(-20deg) scale(1.5) !important;
    -ms-transform: rotateZ(-20deg) scale(1.5) !important;
    transform: rotateZ(-20deg) scale(1.5) !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2; }

/*###############################################################
######################## index Status 2 ########################
###############################################################*/
.index-info2 {
  position: relative;
  padding: 20px 0 !important;
  margin-bottom: 20px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  min-height: 130px; }
  .index-info2 span {
    position: absolute;
    display: block;
    height: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .index-info2 span.layer1 {
    top: 0;
    left: 0; }
    .index-info2 span.layer1 i {
      position: relative;
      font-size: 80px;
      text-align: center;
      padding-top: 10px; }
    .index-info2 span.layer1 p {
      position: relative;
      font-size: 20px; }
  .index-info2 span.layer2 {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    padding: 0;
    margin: 0;
    left: 0; }
    .index-info2 span.layer2 p {
      padding: 0;
      margin: 0;
      display: block;
      width: 100% !important;
      min-width: 100%;
      height: 100%;
      font: 20px/130px 'jf', Tahoma, Verdana, Segoe, sans-serif;
      color: #ECF0F1; }
  .index-info2:hover span.layer1 {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    top: -100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .index-info2:hover span.layer2 {
    top: 0;
    background: #192330;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0; }

.loginBody {
  direction: rtl !important;
  position: relative;
  padding: 30px 10px 10px 10px; }
  .loginBody h2 {
    font: bold 30px 'jf', Tahoma, Verdana, Segoe, sans-serif;
    color: #333; }
  .loginBody .loginBox {
    position: relative;
    margin: 0 auto;
    width: 65%;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px rgba(0, 0, 0, 0.15) solid;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
    border-radius: 3px; }
    .loginBody .loginBox h2 {
      font: 20px 'jf', Tahoma, Verdana, Segoe, sans-serif;
      color: #555; }
    .loginBody .loginBox .login-group {
      position: relative;
      margin-bottom: 20px; }
      .loginBody .loginBox .login-group input[type='text'], .loginBody .loginBox .login-group input[type='password'] {
        position: relative;
        width: 100%;
        text-align: right;
        padding: 8px 30px 8px 8px;
        background: #fff;
        border: 2px #e0e0e0 solid;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-radius: 3px; }
        .loginBody .loginBox .login-group input[type='text']:hover, .loginBody .loginBox .login-group input[type='text']:focus, .loginBody .loginBox .login-group input[type='password']:hover, .loginBody .loginBox .login-group input[type='password']:focus {
          border: 2px #b0b0b0 solid; }
      .loginBody .loginBox .login-group input[type='checkbox'] {
        position: relative;
        margin-left: 5px; }
      .loginBody .loginBox .login-group > i {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
        font-size: 20px; }
      .loginBody .loginBox .login-group button {
        position: relative;
        border: 0;
        background: #192330;
        color: #ECF0F1;
        width: 110px;
        display: inline-block;
        padding: 10px 0;
        left: -10px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
                .loginBody .loginBox .login-group button:hover {
          background: #95A5A6; }
      .loginBody .loginBox .login-group .checkbox {
        position: relative;
        display: inline-block;
        width: 200px; }
      .loginBody .loginBox .login-group a {
        color: #3498DB; }
      .loginBody .loginBox .login-group a.login-soci {
        position: relative;
        display: inline-block;
        padding: 8px 10px;
        width: 32.5%;
        background: #BDC3C7;
        color: #ECF0F1;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
                .loginBody .loginBox .login-group a.login-soci i {
          position: absolute;
          left: 10px !important;
          font-size: 20px;
          top: 10px; }
      .loginBody .loginBox .login-group a.facebook {
        background: #3b5998; }
        .loginBody .loginBox .login-group a.facebook:hover {
          background: #2d4373; }
      .loginBody .loginBox .login-group a.twitter {
        background: #00aced; }
        .loginBody .loginBox .login-group a.twitter:hover {
          background: #0087ba; }
      .loginBody .loginBox .login-group a.google {
        background: #dd4b39; }
        .loginBody .loginBox .login-group a.google:hover {
          background: #c23321; }

.event-index {
  position: relative;
  display: block; }
  .event-index span {
    position: relative;
    display: block;
    font: 15px/3em 'jf', Tahoma, Verdana, Segoe, sans-serif;
    border-bottom: 1px #f0f0f0 solid;
    box-shadow: inset 0 -15px 15px -15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .event-index span:hover {
      box-shadow: 0	0	0	0 #fff; }
    .event-index span:nth-of-type(odd) {
      background: #f9e8a0; }
      .event-index span:nth-of-type(odd) i.fa {
        background: #f7dc6f;
        border-left: 1px #F1C40F solid; }
    .event-index span i.fa {
      position: relative;
      background: #fbfcfc;
      color: #192330;
      display: inline-block;
      border-left: 1px #ECF0F1 solid;
      height: 100%;
      width: 10%;
      font-size: 15px;
      line-height: 3.1em;
      margin: 0 0 0 10px; }
    .event-index span i.label {
      position: absolute;
      font-size: 10px;
      left: 10px;
      top: 15px; }

/* Global Reference */
.badge {
  font: Tahoma, Verdana, Segoe, sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  padding-top: 5px !important; }

.clr {
  height: 1px; }
  .clr::after {
    clear: both;
    content: "";
    display: table; }

[data-sr] {
  visibility: hidden;
  z-index: inherited;
  opacity: inherited; }

[class^="col-"] {
  position: relative;
  float: right !important;
  direction: ltr !important; }

/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
::-moz-selection {
  background: #192330;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #192330;
  color: #fff;
  text-shadow: none; }

.column {
  -webkit-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px); }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

a, a:hover {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

a, input, button {
  outline: none !important; }

.rtl {
  direction: rtl !important; }

.ltr {
  direction: ltr !important; }

.line {
  border-bottom: 1px #e0e0e0 solid;
  width: 100%; }

.noM {
  margin-top: 0;
  margin-bottom: 0; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt40 {
  margin-top: 40px; }

.mt50 {
  margin-top: 50px; }

.mt60 {
  margin-top: 60px; }

.mt70 {
  margin-top: 70px; }

.mt80 {
  margin-top: 80px; }

.mt90 {
  margin-top: 90px; }

.mt100 {
  margin-top: 100px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 40px; }

.mb50 {
  margin-bottom: 50px; }

.mb60 {
  margin-bottom: 60px; }

.mb70 {
  margin-bottom: 70px; }

.mb80 {
  margin-bottom: 80px; }

.mb90 {
  margin-bottom: 90px; }

.mb100 {
  margin-bottom: 100px; }

.noP {
  padding-bottom: 0;
  padding-top: 0; }

.pt10 {
  margin-top: 10px; }

.pt20 {
  margin-top: 20px; }

.pt30 {
  margin-top: 30px; }

.pt40 {
  margin-top: 40px; }

.pt50 {
  margin-top: 50px; }

.pt60 {
  margin-top: 60px; }

.pt70 {
  margin-top: 70px; }

.pt80 {
  margin-top: 80px; }

.pt90 {
  margin-top: 90px; }

.pt100 {
  margin-top: 100px; }

.pb10 {
  margin-bottom: 10px; }

.pb20 {
  margin-bottom: 20px; }

.pb30 {
  margin-bottom: 30px; }

.pb40 {
  margin-bottom: 40px; }

.pb50 {
  margin-bottom: 50px; }

.pb60 {
  margin-bottom: 60px; }

.pb70 {
  margin-bottom: 70px; }

.pb80 {
  margin-bottom: 80px; }

.pb90 {
  margin-bottom: 90px; }

.pb100 {
  margin-bottom: 100px; }

.prl10 {
  padding-right: 10px;
  padding-left: 10px; }

.prl20 {
  padding-right: 20px;
  padding-left: 20px; }

.prl30 {
  padding-right: 30px;
  padding-left: 30px; }

.prl40 {
  padding-right: 40px;
  padding-left: 40px; }

.prl50 {
  padding-right: 50px;
  padding-left: 50px; }

.text-xs {
  font-size: 12px; }

.text-sm {
  font-size: 14px; }

.text-md {
  font-size: 16px; }

.text-lg {
  font-size: 20px; }

.text-flat {
  font-family: 'jf', Tahoma, Verdana, Segoe, sans-serif !important; }

.bold {
  font-weight: bold; }

.text-success {
  color: #18BC9C; }

.icn-xs {
  font-size: 20px !important; }

.icn-sm {
  font-size: 30px !important; }

.icn-md {
  font-size: 50px !important; }

.icn-lg {
  font-size: 60px !important; }

.icn-xlg {
  font-size: 80px !important; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

.cen-obj {
  left: 0;
  right: 0;
  margin: 0 auto; }

.top10 {
  top: 10px; }

.top20 {
  top: 20px; }

.top30 {
  top: 30px; }

.top40 {
  top: 40px; }

.top50 {
  top: 50px; }

.top60 {
  top: 60px; }

.top70 {
  top: 70px; }

.top80 {
  top: 80px; }

.top90 {
  top: 90px; }

.top100 {
  top: 100px; }

.whiteB {
  background: #FFFFFF !important;
  color: #192330 !important; }

.bbRed {
  border-bottom-color: #E74C3C !important; }

.li2 {
  width: 50%; }

.li3 {
  width: 33.3%; }

.li4 {
  width: 25%; }

.li5 {
  width: 20%; }

.text-red {
  color: #E74C3C !important; }

.text-redH {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .text-redH:hover {
    color: #E74C3C; }

.dropdown-menu.bottom-up {
  top: auto !important;
  bottom: 100% !important;
  margin-bottom: 2px; }

.alert h4 {
  font: bold 20px 'jf', Tahoma, Verdana, Segoe, sans-serif; }

.alert {
  position: relative;
  overflow: hidden !important; }

.shadow {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 10px 10px -10px rgba(0, 0, 0, 0.1); }

.alert > h1, .alert > h2, .alert > h3, .alert > h4, .alert > h5, .alert > h6 {
  margin: 0 0 10px 0;
  font-size: 25px;
  font-weight: bold; }

.panel-title, h1, h2, h3, h4, h5, h6 {
  font-family: 'jf', Tahoma, Verdana, Segoe, sans-serif !important; }

.tahoma {
  font-family: Tahoma, Verdana, Segoe, sans-serif !important; }

.fullWidth {
  width: 100% !important; }

.bfh-datepicker-calendar {
  z-index: 9999;
  position: absolute; }

.bfh-number, .bfh-slider {
  z-index: 999; }

.bs-component {
  padding: 30px 20px; }

.alert-primary {
  background: #2C3E50;
  color: #fff; }

.alert-default {
  background: #b4bcc2;
  color: #fff; }

input[type=email] {
  padding-right: 40px !important; }

.gotopage {
  margin: 21px 0 !important; }

.gotopage input[type=number] {
  width: 70px !important;
  padding: 0 !important;
  padding-right: 5px !important; }

.has-error .form-control {
  border-color: #E74C3C !important; }
.has-error .control-label {
  color: #E74C3C !important; }
.has-error .help-block {
  color: #E74C3C !important; }

.with-errors {
  background: #E74C3C !important;
  color: #fff !important;
  border-radius: 5px; }
  .with-errors ul.list-unstyled {
    padding: 10px;
    color: #fff !important; }

.nav-tabs {
  border-bottom: 0 !important;
  border-right: 1px #ecf0f1 solid;
  border-left: 1px #ecf0f1 solid; }

.nav-tabs > li {
  float: right;
  background: #2C3E50;
  text-align: center;
  border-radius: 0 !important;
  margin: 0 !important; }
  .nav-tabs > li a {
    color: #ECF0F1;
    border-radius: 0 !important;
    margin: 0 !important;
    border: 0 !important; }
    .nav-tabs > li a:hover {
      background: #192330;
      color: #ECF0F1;
      border: 0 !important; }

.nav-tabs > li.active {
  border-top: 2px #192330 solid;
  border-bottom: 0; }

.tab-pane {
  position: relative !important;
  background: #fff;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2), inset 0 -20px 0px -20px rgba(0, 0, 0, 0.8);
  border-bottom-width: 3px !important;
  border-bottom-color: #2C3E50 !important;
  border-bottom-style: solid !important;
  border-radius: 0 !important; }
  .tab-pane p {
    box-shadow: inset 0 10px 10px -12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    overflow: auto;
    max-height: 300px; }

.nav-tabs > li:first-child > a {
  margin-right: 0px !important; }

.date {
  font: 19px 'jf', Tahoma, Verdana, Segoe, sans-serif;
  cursor: help; }

.zindexup {
  z-index: 9999; }

.zindexupp {
  z-index: 99999; }

.displaynone {
  display: none; }

.form-group {
  position: relative; }

.tooltip-inner {
  font: 14px 'jf', Tahoma, Verdana, Segoe, sans-serif;
  border-radius: 3px !important;
  padding: 5px 10px !important; }

.list-group-item {
  direction: rtl !important; }

.btn-mobileSelect-gen {
  direction: ltr !important; }

.mobileSelect-container, .mobileSelect-title, .list-container {
  z-index: 999999 !important; }

.toggle.android {
  border-radius: 0px; }

.toggle.android .toggle-handle {
  border-radius: 0px;
  background: #fff !important; }

.bfh-number-btn {
  cursor: pointer; }
  .bfh-number-btn:hover {
    background: #192330 !important; }
    .bfh-number-btn:hover span {
      color: #fff !important; }

.pagination li {
  float: right; }
  .pagination li a, .pagination li span {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s; }

.index-tab {
  border: 1px #ecf0f1 solid;
  border-top: 0;
  border-radius: 0 0 3px 3px; }
  .index-tab h3.h3Tab {
    padding: 15px;
    border-bottom: 1px #f8f9fa solid;
    margin: 0;
    font: bold 16px 'jf', Tahoma, Verdana, Segoe, sans-serif;
    background: #fff; }

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-left: 0px; }

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important; }

.form-horizontal .control-label {
  direction: rtl !important; }
.form-horizontal .help-block {
  font-size: 13px;
  direction: rtl !important; }
.form-horizontal .input-grup input[type='text'], .form-horizontal .input-grup input[type='password'] {
  position: relative;
  padding-right: 40px; }
.form-horizontal .input-grup i {
  position: absolute;
  top: 10px;
  right: 22px;
  z-index: 9;
  font-size: 22px;
  color: #95A5A6; }
.form-horizontal .input-grup2 input[type='text'], .form-horizontal .input-grup2 input[type='password'] {
  position: relative;
  padding-left: 35px; }
.form-horizontal .input-grup2 i {
  position: absolute;
  top: 10px;
  left: 22px;
  z-index: 9;
  font-size: 22px;
  color: #95A5A6; }
.form-horizontal input, .form-horizontal textarea {
  box-shadow: 0 0 0 0 #000 !important;
  border-width: 3px; }
.form-horizontal .checkbox label {
  padding-right: 10px; }
.form-horizontal span.toggle-handle.btn.btn-default.btn-sm {
  background-color: #fff !important;
  border-radius: 0; }

.upload-img {
  position: relative;
  display: block;
  cursor: pointer; }
  .upload-img span {
    position: relative;
    font-size: 100px;
    top: 0; }

.image-preview {
  position: relative;
  display: block;
  width: 100px; }
  .image-preview img {
    position: relative;
    width: 100px;
    height: 100px;
    left: 0 !important; }

.btn-table {
  background: #fff;
  color: #192330;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-table:hover {
    color: #192330;
    background: rgba(0, 0, 0, 0.05); }

.btn-bnfsg {
  background: #674172;
  color: #ECF0F1 !important; }
  .btn-bnfsg:hover {
    background: #4a2e52; }

.btn-orng {
  background: #F27935;
  color: #ECF0F1 !important; }
  .btn-orng:hover {
    background: #e55c0f; }

.btn-darkw {
  background: #f0f0f0;
  color: #192330 !important; }
  .btn-darkw:hover {
    background: #d6d6d6; }
  .btn-darkw > span.icn-bk {
    color: rgba(0, 0, 0, 0.1) !important; }

.res-menu {
  position: relative;
  padding-left: 10px;
  cursor: pointer; }
  .res-menu:hover {
    color: #f0f0f0; }

.res-menu-up {
  right: 0 !important; }

ul.sideBar {
  position: relative;
  padding: 10px 0 0 0;
  margin: 0; }
  ul.sideBar li.liactive {
    background: #18BC9C !important;
    overflow: visible !important;
    white-space: normal !important; }
    ul.sideBar li.liactive > i, ul.sideBar li.liactive a > i {
      margin-right: 20px !important; }
    ul.sideBar li.liactive > i.sideDown {
      position: absolute;
      margin-right: 0;
      margin-left: 0;
      left: 0px;
      z-index: 99 !important;
      -webkit-transform: scaleY(1.1) !important;
      -ms-transform: scaleY(1.1) !important;
      transform: scaleY(1.1) !important;
      background: #15a185 !important; }
  ul.sideBar > li {
    padding: 0;
    margin: 0;
    display: block; }
    ul.sideBar > li a {
      display: block;
      padding: 13px 0;
      color: #ECF0F1;
      background: #192330;
      border-bottom: 1px #2a3b52 solid;
      font: 15px 'jf', Tahoma, Verdana, Segoe, sans-serif;
      z-index: 99;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      ul.sideBar > li a > i {
        font-size: 16px;
        margin-right: 10px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      ul.sideBar > li a > i.sideDown {
        font-size: 12px;
        margin-top: 3px;
        margin-left: 20px;
        left: 10px; }
      ul.sideBar > li a:hover {
        background: #18BC9C;
        overflow: visible;
        white-space: normal; }
        ul.sideBar > li a:hover > i {
          margin-right: 20px; }
        ul.sideBar > li a:hover > i.sideDown {
          margin-left: 30px; }
  ul.sideBar > li.menu {
    position: relative;
    display: block;
    padding: 13px 0;
    color: #ECF0F1;
    background: #192330;
    border-bottom: 1px #2a3b52 solid;
    font: 15px 'jf', Tahoma, Verdana, Segoe, sans-serif;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 999; }
    ul.sideBar > li.menu i {
      font-size: 16px;
      margin-right: 10px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    ul.sideBar > li.menu i.sideDown {
      position: absolute;
      top: 0;
      left: 0px;
      display: block;
      margin: 0;
      width: 45px;
      height: 100%;
      text-align: center;
      line-height: 3.5em;
      font-size: 12px;
      color: #BDC3C7;
      background: #121923;
      z-index: 99; }
    ul.sideBar > li.menu:hover {
      background: #18BC9C; }
      ul.sideBar > li.menu:hover > i {
        margin-right: 20px; }
      ul.sideBar > li.menu:hover > i.sideDown {
        position: absolute;
        margin-right: 0;
        margin-left: 0;
        left: 0px;
        z-index: 99;
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
        background: #15a185; }
    ul.sideBar > li.menu ul.sideChild {
      position: relative;
      display: none;
      width: 100%;
      padding: 0 !important;
      margin: 0 !important;
      top: 13px;
      right: 0;
      z-index: 99999; }
      ul.sideBar > li.menu ul.sideChild li {
        list-style: none; }
        ul.sideBar > li.menu ul.sideChild li a.aactive {
          background: #334862 !important; }
        ul.sideBar > li.menu ul.sideChild li a {
          background: #27374b;
          padding: 10px 10px; }
          ul.sideBar > li.menu ul.sideChild li a:hover {
            background: #334862; }
        ul.sideBar > li.menu ul.sideChild li form.sideChildForm {
          position: relative;
          padding: 10px;
          margin: 0;
          background: #222f41;
          border-bottom: 1px #2a3b52 solid; }
          ul.sideBar > li.menu ul.sideChild li form.sideChildForm i {
            position: absolute;
            top: 12px;
            right: 10px;
            z-index: 999;
            color: #BDC3C7;
            font-size: 14px; }
          ul.sideBar > li.menu ul.sideChild li form.sideChildForm input[type='text'] {
            position: relative;
            margin: 0 auto;
            width: 100%;
            border: 1px #0f141c solid;
            border-radius: 2px;
            padding: 5px 25px 5px 5px;
            background: #192330;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            font-size: 14px; }
            ul.sideBar > li.menu ul.sideChild li form.sideChildForm input[type='text']:hover, ul.sideBar > li.menu ul.sideChild li form.sideChildForm input[type='text']:focus {
              background: #10171f; }

footer.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  footer.foot .footCont {
    position: relative;
    left: -10px;
    padding: 0 10px;
    background: #192330;
    width: 100%;
    display: block; }
.select-obj {
  position: relative;
  margin-top: 10px; }
  .select-obj .select-itm {
    position: relative;
    display: inline-block;
    width: 30%;
    padding: 15px 0;
    background: #fff;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .select-obj .select-itm input[type=radio] {
      display: none; }
    .select-obj .select-itm span {
      position: relative;
      display: block;
      text-align: center;
      font-size: 50px; }
    .select-obj .select-itm:hover {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9); }

#response {
  display: none; }

i.mce-ico, i.mce-i-outdent {
  font-size: 9px !important;
  padding: 0 !important;
  margin: 0 !important;
  float: none !important; }

@media screen and (max-width: 800px) {
    .box {
      /* Portrait styles */
      top: 60px; } }

@media screen and (max-width: 600px) {
    #main {
      /* Portrait styles */
      padding-top: 40px; } }

@media only screen and (max-width: 600px) {
    header.topHead {
      padding: 10px 0; } }

@media (max-width: 400px) {
      header.topHead h1.logo {
        text-align: center; } 
    header.topHead .topNav {
      text-align: center; } 
      header.topHead a.topA {
        float: none;
        margin: 5px 0 0 0; } 
      header.topHead .user-infos {
        float: none;
        margin: 0 !important; } 
          .loginBody .loginBox .login-group button {
            width: 90%; } 
          .loginBody .loginBox .login-group a.login-soci {
            width: 100%;
            margin-bottom: 5px; } }

@media (max-width: 801px) {
  #sidebar {
    position: fixed;
    top: 80px;
    z-index: 99999;
    width: 70% !important;
    right: -1000px;
    background: #192330;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; } }

@media (max-width: 1100px) {
  .loginBox {
    width: 100% !important; } }

@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
    direction: rtl !important; }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-right: 30%;
    white-space: normal;
    text-align: right; }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/right values mimic padding */
    top: 10px;
    right: 6px;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-weight: bold; }

  /*
  Label the data
  */
  #no-more-tables td:before {
    content: attr(data-title); } 
  #flip-scroll .cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

  #flip-scroll * html .cf {
    zoom: 1; }

  #flip-scroll *:first-child + html .cf {
    zoom: 1; }

  #flip-scroll table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }

  #flip-scroll th,
  #flip-scroll td {
    margin: 0;
    vertical-align: top; }

  #flip-scroll th {
    text-align: left; }

  #flip-scroll table {
    display: block;
    position: relative;
    width: 100%; }

  #flip-scroll thead {
    display: block;
    float: left; }

  #flip-scroll tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap; }

  #flip-scroll thead tr {
    display: block; }

  #flip-scroll th {
    display: block;
    text-align: right; }

  #flip-scroll tbody tr {
    display: inline-block;
    vertical-align: top; }

  #flip-scroll td {
    display: block;
    min-height: 1.25em;
    text-align: left; }

  /* sort out borders */
  #flip-scroll th {
    border-bottom: 0;
    border-left: 0; }

  #flip-scroll td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }

  #flip-scroll tbody tr {
    border-left: 1px solid #babcbf; }

  #flip-scroll th:last-child,
  #flip-scroll td:last-child {
    border-bottom: 1px solid #babcbf; } }

/*# sourceMappingURL=layout.css.map */