/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

.login-passc {
    position: relative;
    width: 338px;
    margin: 85px auto 50px auto;
    top: 50%;
    z-index: 99;
}
.login-passc img.img-cloudc {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
}
.login-passc h2 {
    max-width: 380px;
    margin: 5px auto 13px auto;
    word-break: break-word;
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #fff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -ms-content-zooming: none;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    font-style: normal;
}
.login-passc h3 {
    max-width: 380px;
    margin: 13px auto 13px auto;
    word-break: break-word;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #fff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -ms-content-zooming: none;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    font-style: normal;
}
.login-passc input.input_pass {
    width: 45px;
    height: 45px;
    font-size: 24px;
    padding: 0;
    text-align: center;
    color: #494949;
    font-size: 21px;
    line-height: 1.29412;
    font-weight: 400;
    letter-spacing: -.021em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "sf-pro","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: #fff;
    background-clip: padding-box;
    display: inline-block;
    margin-left: 7px;
}
.login-passc input.input_pass.input_pass_first {
    margin-left: 0px !important;
}
.login-passc input.input_pass.input_pass_spar {
    margin-left: 18px;
}
.login-passc input.input_pass:focus {
    border: 1px solid #97CEE5;
    -webkit-appearance: none;
    border-color: #0070c9;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(131,192,253,0.5);
    outline: 3px solid #c1e0fe;
    outline: 3px solid rgba(131,192,253,0.5);
    outline-offset: 1px;
}

.main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 1;
}

.section-bgs {
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 1;
}

.section-bgs canvas {
    min-height: 100%;
    width: 100%;
    z-index: 1;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.loader {
    position: absolute;
    top: 155px;
    right: -45px;
    margin: 0px auto;
    font-size: 13px;

    text-indent: -9999em;
    border-top: 0.3em solid rgba(255, 255, 255, 0.05);
    border-right: 0.3em solid rgba(255, 255, 255, 0.05);
    border-bottom: 0.3em solid rgba(255, 255, 255, 0.05);
    border-left: 0.3em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}