.table{background:#f0f0f0;box-shadow:0 20px 20px -20px rgba(0,0,0,0.3);border:1px #e0e0e0 solid;border-radius:5px}.table tbody tr{-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.table tbody tr:hover{background:#fff}.table tbody tr td{border-bottom:1px #c9c9c9 solid;box-shadow:inset 0 -20px 20px -20px rgba(0,0,0,0.1);padding:10px 10px;text-align:right !important}.table thead{border-radius:5px !important;overflow:hidden}.table thead>tr>th{background:#222f41;color:#ECF0F1}.table a.btn i{position:relative;margin-left:5px}.table-bordered thead tr th{border:0px #c9c9c9 solid !important}.table-bordered tbody tr td{border-bottom:1px #c9c9c9 solid !important;border:1px #c9c9c9 solid !important}.table-bordered tbody tr td:first-child,.table-bordered tbody tr td:last-child{border-left:0px #192330 solid !important;border-right:0px #192330 solid !important}

