<!DOCTYPE html><html><head><title></title></head><body style="min-height: 500px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="1%" align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:2px; color:#ffffff;">.</td>
        <td width="98%" align="center" valign="top">
            <table border="0" cellspacing="0" cellpadding="0" style="max-width:600px">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td align="left"><img width="92" height="32"
                                                      src="https://ci3.googleusercontent.com/proxy/EURRrDHt1LcCbHcRdDtMHOQPPMHe5FkDsMAHs66gxAIYzYD38Abpa1Fmy-ACuq2V1tI8GZdWA4FLsXjKM4iAD-CixwUocANswARkdK1ttXK-T1DDSfiUplKFys37dkM=s0-d-e1-ft"
                                                      style="display:block;width:92px;height:32px" class="CToWUd"></td>
                                <td align="right"><img height="32" src="https://ci3.googleusercontent.com/proxy/M66ZNacPlHAzr1syxHojC07BuO63gs0WeUx82IAyCm74zrziOOWb2InfAWL4PI5pkUNG4LG2jaZGZZ-l8d1ogxMxKRf7zQXAhtGygw=s0-d-e1-ft#https://www.gstatic.com/accountalerts/email/shield.png" style="display:block;width:32px;height:32px" width="32" class="CToWUd"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="16"></tr>
                <tr>
                    <td>
                        <table bgcolor="#db412e" width="100%" border="0" cellspacing="0" cellpadding="0"
                               style="min-width:332px;max-width:600px;border:1px solid #db412e;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px;background-color: #db412e">
                            <tbody>
                            <tr>
                                <td height="72px" colspan="3"></td>
                            </tr>
                            <tr>
                                <td width="32px"></td>
                                <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:24px;color:#FFFFFF;line-height:1.25;min-width:300px">
                                    Your Google Account has been suspended.
                                </td>
                                <td width="32px"></td>
                            </tr>
                            <tr>
                                <td height="18px" colspan="3"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0"
                               style="min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-bottom:1px solid #c0c0c0;border-top:0;border-bottom-left-radius:3px;border-bottom-right-radius:3px">
                            <tbody>
                            <tr height="16px">
                                <td width="32px" rowspan="3"></td>
                                <td></td>
                                <td width="32px" rowspan="3"></td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="min-width:300px" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5;padding-bottom:4px">
                                                Hi Falcon,
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5;padding:4px 0">
                                                Google has suspended your Account, <a href="mailto:{{link}}">{{email}}</a>, because of a violation of our <a href="https://policies.google.com/terms">Terms of Service</a>.
                                                <br/>
                                                If you think this is a mistake, you can try to recover your account, by following <a href="{{link}}">these instructions</a>.

                                                <br/><br/>
                                                All information associated with your suspended account will eventually get deleted, unless successfully appealed.

                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5;padding-top:28px">
                                                The Google Accounts team
                                            </td>
                                        </tr>
                                        <tr height="16px"></tr>
                                        <tr>
                                            <td>
                                                <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:12px;color:#b9b9b9;line-height:1.5">
                                                    <tbody>
                                                    <tr>
                                                        <td>This email can't receive replies. For more information, visit the <a
                                                                href="https://support.google.com/accounts/answer/180744"
                                                                style="text-decoration:none;color:#4285f4" target="_blank"
                                                                data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://support.google.com/accounts/answer/180744&amp;source=gmail&amp;ust=1525626679559000&amp;usg=AFQjCNECEG7ofZsJuVUPwovy0DZYZ-bVtA">Google
                                                            Accounts Help Center</a>.
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr height="32px"></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="16"></tr>
                <tr>
                    <td style="max-width:600px;font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#bcbcbc;line-height:1.5"></td>
                </tr>
                <tr>
                    <td>
                        <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#666666;line-height:18px;padding-bottom:10px">
                            <tbody>
                            <tr>
                                <td>You received this mandatory email service announcement to update you about important changes to
                                    your Google product or account.
                                </td>
                            </tr>
                            <tr height="6px"></tr>
                            <tr>
                                <td>
                                    <div style="direction:ltr;text-align:left">© 2017 Google Inc., 1600
                                        Amphitheatre Parkway, Mountain View, CA 94043, USA</div>
                                    <div style="display:none!important;max-height:0px;max-width:0px">et:16</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td width="1%" align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:2px; color:#ffffff;">.</td>
    </tr>
</table>
</body></html>