/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

#ffmilogin {
    position: relative;
    width: 100%;
    height: 91%;
    text-align: center;
}

#ffmilogin form.fmi-login {
    position: relative;
    width: 300px;
    height: auto;
    margin: 0 auto;
}
#ffmilogin form.fmi-login img.fmilogo {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-top: 135px;
}

#ffmilogin form.fmi-login span {
    position: relative;
    width: 100%;
    display: block;
    color: #555;
    font-family: 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif;
}
#ffmilogin form.fmi-login span.sign-in {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 100 !important;
}
#ffmilogin form.fmi-login span.useremail {
    font-size: 18px;
    margin-bottom: 20px;
}
#ffmilogin form.fmi-login input.pwd {
    position: relative;
    width: 98%;
    height: 38px;
    background: #fff;
    font-size: 18px;
    border: 1px #c9c9c9 solid;
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#ffmilogin form.fmi-login input.c_logs {
    position: relative;
    width: auto;
    height: 30px;
    color: #24a337;
    border: 0px;
    outline: none;
    background: transparent;
    font-family: 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
}

.not {
    position: absolute;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    color: #24a337;
    font-size: 16px;
    font-weight: 200;
    font-family: 'SF Pro Text', Tahoma, Verdana, Segoe, sans-serif;
}
.not a {
    color: #24a337;
    text-decoration: underline;
}

.loginbut {
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 20px;
}
.loginbut .overlays {
    background: #24a337;
    position: absolute;
    margin-right: 30px;
    top: 5px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 70px;
    display: none;
}

.spinners {
    font-size: 20px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em; }

.spinners.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

.spinners .spinners-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.090em;
    height: 0.2777em;
    border-radius: 0.5em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    -webkit-animation: spinners-fade 1s infinite linear;
    animation: spinners-fade 1s infinite linear; }

.spinners .spinners-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

.spinners .spinners-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }

.spinners .spinners-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }

.spinners .spinners-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

.spinners .spinners-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg); }

.spinners .spinners-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg); }

.spinners .spinners-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.spinners .spinners-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg); }

.spinners .spinners-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg); }

.spinners .spinners-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }

.spinners .spinners-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg); }

.spinners .spinners-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg); }

@-webkit-keyframes spinners-fade {
    0% {
        background-color: #24a337; }
    100% {
        background-color: transparent; } }
@keyframes spinners-fade {
    0% {
        background-color: #24a337; }
    100% {
        background-color: transparent; } }