/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 10000px rgba(255, 255, 255, 1) inset !important;
    -webkit-text-fill-color: #333 !important;
}

*::-webkit-input-placeholder {
    color: #999;
    font-family: 'SF Pro Text', Tahoma;
    opacity: 1;
    filter: alpha(opacity=1);
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: #999;
    font-family: 'SF Pro Text', Tahoma;
    opacity: 1;
    filter: alpha(opacity=1);
}

*::-moz-placeholder {
    /* FF 19+ */
    color: #999;
    font-family: 'SF Pro Text', Tahoma;
    opacity: 1;
    filter: alpha(opacity=1);
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
    font-family: 'SF Pro Text', Tahoma;
    opacity: 1;
    filter: alpha(opacity=1);
}

/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* General Demo Style */
body {
    font-family: 'SF Pro Text', Georgia, serif;
    background: #000;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

#bodybg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: rgba(26, 26, 26, 0.95);
    padding-top: 8px;
}

#header .logo img {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -5px;
}

#header .logo {
    font-family: 'SF Pro Text', Georgia, serif !important;
    font-size: 20px;
}

#header .help {
    text-align: right;
}

#header .help a {
    font-family: 'SF Pro Text', Georgia, Serif !important;
    color: rgba(225, 225, 225, 0.7);
    font-size: 20px;
    text-decoration: none;
}

#header .help a:hover {
    color: rgba(225, 225, 225, 0.9);
}

#mainform {
    position: absolute;
    top: 171px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 366px !important;
}

#mainform img {
    margin-right: 50px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 38px;
    padding-top: 10px;
}

.footer-label {
    display: none;
    font-family: 'SF Pro Text', Georgia, serif !important;
    font-size: 13px;
}

.footer-label span {
    font-family: 'SF Pro Text', Georgia, Serif !important;
    font-size: 13px;
}

@media {

}

@media only screen and (max-width: 700px) {
    #footer .copyrights {
        display: none !important;
    }
}

#footer .copyrights {
    color: rgba(225, 225, 225, 0.9);
    font-family: 'SF Pro Text', Georgia, Serif !important;
    font-size: 13px;
    text-align: right;
}

#footer .copyrights a {
    color: rgba(225, 225, 225, 0.8);
    text-decoration: none;
    margin-right: 10px;
}

#footer .copyrights a:hover {
    color: rgba(225, 225, 225, 1);
}

#footer .copyrights span {
    margin-left: 10px;
}

.login-form {
    position: relative;
    width: 298px;
    margin: 0 auto 0 auto;
    padding-top: 0px;
}

.login-form form.cloud-login {
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 0.75);
    background-clip: padding-box;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1), 0 2px 2px -2px rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    cursor: default;
    margin-top: 0px;
}

.login-form form.cloud-login input[type=text], .login-form form.cloud-login input[type=password] {
    position: relative;
    width: 100%;
    padding: 12px 12px;
    background: rgba(255, 255, 255, 1);
    text-align: left;
    font: 17px 'SF Pro Text', Tahoma;
    color: #333;
    font-weight: 300 !important;
    border: 1px solid rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none !important;
}

.login-form form.cloud-login > input[type=text] {
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.login-form form.cloud-login > input[type=text]:focus {
    box-shadow: inset 0 0 1px 0px #1780fb;
    border: 1px #1780fb solid;
}

.login-form form.cloud-login > input[type=password] {
    z-index: 99;
    border-top: 0;
    border-radius: 0 0 6px 6px;
    padding-right: 40px;
    direction: ltr !important;
}

.login-form form.cloud-login > input[type=password]:focus {
    box-shadow: 0 -1px 0 0px #1780fb;
    border: 1px #1780fb solid;
    border-top: 0;
}

.login-form form.cloud-login > input[type=submit] {
    position: absolute;
    top: 57px;
    right: 10px;
    background: transparent url("../img/login.png") no-repeat;
    width: 26px;
    height: 26px;
    border: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    z-index: 99999;
    display: block;
}

.login-form form.cloud-login img.loading {
    position: absolute;
    top: 57px;
    float: right;
    right: -40px;
    width: 26px;
    height: 26px;
    border: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    z-index: 999;
    display: none;
}

.login-form form.cloud-login .alrt {
    position: absolute;
    z-index: 9999;
    width: 298px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: #f5e49c;
    direction: ltr;
    padding: 10px 20px;
    top: 97px;
    text-align: center;
    height: 84px;
    border-radius: 6px;
    border: 1px rgba(80, 62, 48, 0.2) solid;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.login-form form.cloud-login .alrt:after {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f5e49c;
    z-index: 99999;
}

.login-form form.cloud-login .alrt h3 {
    margin: 0;
    padding: 0;
    font: 16px 'SF Pro Text', Tahoma;
    color: #503e30;
    text-align: center;
}

.login-form form.cloud-login .alrt p {
    margin: 0;
    padding: 0;
    font: 14px 'SF Pro Text', Tahoma;
    font-weight: bold !important;
    color: #503e30;
    text-align: center;
}

.login-form form.cloud-login .alrt a {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-weight: 100 !important;
    font: 16px 'SF Pro Text', Tahoma;
    color: #503e30;
    padding: 5px 0px;
}

.login-form .keepme {
    position: relative;
    margin-top: 15px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px !important;
    font-family: 'SF Pro Text', Tahoma !important;
}

.login-form .forget {
    position: relative;
    margin-top: 10px;
    display: block;
    background: transparent url("../img/HR_gradient_light.png") no-repeat top center;
    padding: 15px 0;
    color: #fff;
    font-family: 'SF Pro Text', Tahoma;
    text-align: center;
}

.login-form .forget a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    direction: ltr !important;
}

.login-form .forget a:hover {
    text-decoration: underline;
}

.login-form .create {
    position: relative;
    display: block;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'SF Pro Text', Tahoma;
}

.login-form .create a {
    color: #fff;
    text-decoration: underline;
}

.login-form .create a:hover {
    text-decoration: underline;
}

.dologin {
    background: transparent url("../img/login2.png") no-repeat !important;
    z-index: 999 !important;
}

.no-p {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left !important;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left !important;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left !important;
}