/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license
 * or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

@import "compass";

body {
	margin: 0;
	padding: 0;
	background: #fff url('../img/bg.png') repeat center center;
	//background-clip: cover;
}
.container-installer {
	position: relative;
	width: 100%;
	height: auto;
	margin: 50px auto;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);


	.header-installer {
		position: relative;
		width: 100%;
		height: 28px;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		background: #e0e0e2 url('../img/headbg.png') repeat left center;
		border-bottom: 1px #c0c0c0 solid; 
		span.head-installer {
			position: relative;
			display: block;
			height: 28px;
			background: #fff url('../img/header.png') no-repeat left center;
			width: 63px;
		}
	}

	.body-installer {
		position: relative;
		width: 100%;
		min-height: 300px;
		background: #e9e9e9;
		border-radius: 0 0 5px 5px;
		padding: 20px 0;

		.logo-installer {
			position: relative;
			display: block;
			width: 160px;
			height: 160px;
			margin: 0px auto;
			background: url('../img/install4.png') no-repeat center center;
		}
		.success-installer {
			position: relative;
			display: block;
			width: 160px;
			height: 160px;
			margin: 0px auto;
			background: url('../img/success.png') no-repeat center center;
		}

		.text-installer {
			position: relative;
			display: block;
			font-family: 'sf-pro', sans-serif;
			text-align: center;

			h1.installer-h1 {
				font-family: 'sf-pro', sans-serif;
				font-size: 30px !important;
				font-weight: 300 !important;
				text-align: center;
			}
			p {
				font-family: 'sf-pro', sans-serif;
				font-size: 15px;
				font-weight: 300 !important;
				text-align: center;
			}
		}

		.alert-installer {
			position: relative;
			padding: 20px 40px 0 40px;

			.alert-error {
				position: relative;
				width: 100%;
				padding: 10px 20px;
				background: rgba(188, 19, 57, 0.5);
				border: 1px rgba(188, 19, 57, 0.5) solid;
				color: #fff;
				border-radius: 5px;
			}
		}
		.form-installer {
			position: relative;
			width: 100%;
			padding: 30px 0 0 0;
			text-align: center;

			table.table-installer {
				position: relative;
				width: 100%;
				//border: 1px #e0e0e0 solid;
				margin-bottom: 20px;
				margin: 0 auto;
				tr td {
					padding: 5px;
				}
			}

			form.stage1 {
				input[type=text] {
					position: relative;
					border:0;
					padding: 5px 10px;
					min-width: 280px;
					border-radius: 5px;
					outline: none;
					border: 1px #e0e0e0 solid;
					margin-right: 10px;
				}
				button {
					position: relative;
					background: url('../img/button.png') no-repeat;
					width: 26px;
					height: 26px;
					border: 0;
					top: 5px;
				}
			}
			form.stage3 {
				position: relative;
				width: 280px;
				margin: 0 auto;
				text-align: center;
				input[type=text] {
					position: relative;
					border:0;
					padding: 5px 10px;
					min-width: 280px;
					border-radius: 5px;
					outline: none;
					margin-right: 10px;
					margin-bottom: 5px;
				}
				button {
					position: relative;
					background: url('../img/button.png') no-repeat;
					width: 26px;
					height: 26px;
					border: 0;
					margin-top: 10px;
				}
			}
		}

		.footer-installer {
			position: relative;
			width: 100%;
			text-align: center;
			margin-top: 50px;
			margin-bottom: 10px;

			a.button-installer {
				position: relative;
				display: inline-block;
				color: #333;
				font-family: 'sf-pro', sans-serif;
				font-weight: 300 !important;
				text-align: center;
				margin: 0 50px;

				img {
					position: relative;
				}
				span {
					font-size: 15px;
					position: relative;
					display: block;
					margin-top: 7px;
				}
			}
		}
	}
}
