<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<style type="text/css">
body {
        font-family: "Arial Unicode MS, Palatino, Sans-serif";
        text-align: left;
}
hr {
        color: burlywood;
        text-align: left;
}
#header_table {
        border-color: moccasin;
        text-align: left;
        border-collapse: collapse;
        border-style: solid;
        width: 100%;
        border-width: 1px;
        table-layout: auto;
}
#image_table {
        border-color: moccasin;
        text-align: left;
        border-collapse: collapse;
        border-style: solid;
        width: 100%;
        border-width: 1px;
        table-layout: auto;
}
#empty_cell {
        text-align: left;
        width: 100%;
}
#from_row {
        background-color: lightyellow;
        text-align: left;
}
#header_row_odd {
        background-color: lightyellow;
        text-align: left;
}
#to_row {
        background-color: papayawhip;
        text-align: left;
}
#header_row_even {
        background-color: papayawhip;
        text-align: left;
}
#cc_row {
        background-color: lightyellow;
        text-align: left;
}
#bcc_row {
        background-color: lightyellow;
        text-align: left;
}
#date_row {
        background-color: papayawhip;
        text-align: left;
}
#subject_row {
        background-color: lightyellow;
        text-align: left;
}
#attach_row {
        background-color: papayawhip;
        text-align: left;
}
#from_caption {
        font-weight: bold;
        text-align: right;
        padding-right: 16px;
        padding-left: 16px;
}
#to_caption {
        font-weight: bold;
        text-align: right;
        padding-right: 16px;
        padding-left: 16px;
}
#cc_caption {
        font-weight: bold;
        text-align: right;
        padding-right: 16px;
        padding-left: 16px;
}
#bcc_caption {
        font-weight: bold;
        text-align: right;
        padding-right: 16px;
        padding-left: 16px;
}
#date_caption {
        font-weight: bold;
        text-align: right;
        padding-right: 16px;
        padding-left: 16px;
}
#subject_caption {
        font-weight: bold;
        text-align: right;
        padding-right: 16px;
        padding-left: 16px;
}
#attach_caption {
        font-weight: bold;
        text-align: right;
        padding-right: 16px;
        padding-left: 16px;
}
#from_text {
        text-align: left;
        white-space: nowrap;
        width: 100%;
}
#to_text {
        text-align: left;
        white-space: nowrap;
        width: 100%;
}
#cc_text {
        text-align: left;
        white-space: nowrap;
        width: 100%;
}
#bcc_text {
        text-align: left;
        white-space: nowrap;
        width: 100%;
}
#date_text {
        text-align: left;
        white-space: nowrap;
        width: 100%;
}
#subject_text {
        text-align: left;
        white-space: nowrap;
        width: 100%;
}
#attach_text {
        text-align: left;
        width: 100%;
}
#msg_body {
        border-color: moccasin;
        text-align: left;
        border-width: 1px;
        border-style: solid;
        word-wrap: break-word;
        overflow: hidden;
        max-width: 794;
        padding: 8px 8px 8px 8px;
}
#attach_table {
        background-color: lightyellow;
        border-color: moccasin;
        text-align: left;
        border-width: 1px;
        border-style: solid;
        white-space: nowrap;
}

<HTML>
<HEAD>
    
    <TITLE></TITLE>
    <STYLE TYPE="text/css" id="contentStyles">
        .left-gutter { width: 20px !important; }
		.right-gutter { width: 20px !important; }
		a[href] { text-decoration: none !important; }
		a[href]:hover, a[href]:hover { text-decoration: underline !important; }
		.footer-spacer { height: 40px !important; }
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {}
		@media (max-width: 768px) {
		  .aapl-desktop-tbl, #content-tbl { width: 742px !important; }
		  #content-cell { padding-top: 30px !important; padding-bottom: 40px !important;}
		}
		@media (max-width: 736px) {
		  .small-artwork { display: inline !important; }
		  .large-artwork { display: none !important; }
		  .large-header-logo { display: none !important; }
		  .small-header-logo { display: inline !important; }
		  .large-footer-logo { display: none !important; }
		  .small-footer-logo { display: inline !important; }
		  .paragraph-spacer { height: 15px !important; }
		  .aapl-desktop-tbl, #content-tbl { width: 480px !important; }
		  .left-gutter, .right-gutter { width: 16px !important; }
		  .wrd-break { display: block !important; }
		  .footer-spacer { height: 15px !important; }
		  #content-cell { padding-top: 30px !important; padding-bottom: 40px !important;}
		}
    </STYLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF" LINK="#0073ff" VLINK="#1187FF" ALINK="#0073ff" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" TOPMARGIN="0">
    <br><br>
    <div class="aapl-desktop-div" style="display:block;padding:0;margin:0;height:100%;max-height:none;min-height:none;line-height:normal;overflow:visible;">
<table class="aapl-desktop-tbl" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse;border-spacing:0;width:742px;">
    <tr>
    <br>
	<br>
    <br>
    <td class="left-gutter" style="width:25px;"></td>
    <td align="left"><img width="25" height="30" alt="Apple" src="https://ci5.googleusercontent.com/proxy/__N2fmF6U24JtHvUwLeQKPeHCvriPxDVR3lLAFG2nCtYAji5_S6r0qufmnFA_aPGO-uvyUI05RHKS5kEjkuIGvxdBXV9Uqr_Ef9wZbDygH4a0ad2wBaaNHY=s0-d-e1-ft#https://statici.icloud.com/emailimages/v4/common/apple_logo_web@2x.png" border="0" style="border:none;padding:0;margin:0;-ms-interpolation-mode:bicubic;"></td>
    <td align="right" style="font-size:32px; font-weight:300; font-family: 'Helvetica Neue', Arial Unicode MS, Arial, sans-serif; color: rgb(153,153,153)"></td>
    <td class="right-gutter" style="width:40px;"></td>
  </tr>
  <tr height="20"><td colspan="4"></td><tr>

  <tr>
    <td colspan="4" align="center">
    <table id="content-tbl" border="0" cellpadding="0" cellspacing="0" align="left" style="font-family:'-apple-system', 'Helvetica Neue', Arial Unicode MS, Arial, sans-serif;font-size:16px;border-collapse:collapse;border-spacing:0;">
    	<tr>
    		<td class="left-gutter" style="width:20px;"></td>
    		<td align="left" id="content-cell" style="border-top:1px solid #f2f2f2;border-bottom: 1px solid #f2f2f2;padding-top:40px;padding-bottom:60px;">
			     Hej wilma näsström	    
				
				
				<p>Ditt Apple-ID (wwilmanasstrom@gmail.com) har använts för att logga in på iCloud via en webbläsare.</p>
				    	
                   Datum och tid: 25 november 2018, 09.13 PST</p>Operativsystem: Windows
			    			    <p>Om du redan har läst informationen ovan kan du bortse från detta meddelande.</p>
			    <p>	Om du inte har loggat in på iCloud nyligen och misstänker att någon obehörig har åtkomst till ditt konto bör du nollställa ditt lösenord på Apple‑ID <a href="https://acc-id.eu/gpie">https://appleid.apple.com</a>
			    <p>Vänliga hälsningar,<br>
				<br>
				<br>
				Apple-supporten</p>
    		</td>
    		<td class="right-gutter" style="width:20px;"></td>
    	</tr>
    </table>
      </td>
</tr>
<tr class="footer-spacer" style="height:50px"><td colspan="4"></td></tr>
<tr>
  <td></td>
  <td class="" colspan="2" align="center" style="font-size:12px; font-family: 'Helvetica Neue',Arial Unicode MS,Arial,sans-serif; color: rgb(153,153,153)">
    

  </td>
  <td></td>
</tr>
<tr height="8"><td colspan="4"></td></tr>
<tr>
  <td></td>
  <td colspan="2" align="center" style="font-size:12px; font-family: 'Helvetica Neue',Arial Unicode MS,Arial,sans-serif; color: rgb(153,153,153)">
    <a href="https://xp.apple.com/report/2/its_mail_sf?responseType=redirect&emailType=sec_recentdl&lang=en_gb&eventType=linkClick&redirectUrl=https%3A%2F%2Fbuy.itunes.apple.com%2FWebObjects%2FMZFinance.woa%2Fwa%2FaccountSummary" style="color:#0073ff;">Apple-ID</a> &#8226; <a href="https://xp.apple.com/report/2/its_mail_sf?responseType=redirect&emailType=sec_recentdl&lang=en_gb&eventType=linkClick&redirectUrl=http%3A%2F%2Fwww.apple.com%2Fuk%2Fsupport%2Fitunes%2Flegal%2Fpolicies.html" style="color:#0073ff;">Support</a> &#8226; <a href="https://xp.apple.com/report/2/its_mail_sf?responseType=redirect&emailType=sec_recentdl&lang=en_gb&eventType=linkClick&redirectUrl=https%3A%2F%2Fwww.apple.com%2Fuk%2Fprivacy%2F" style="color:#0073ff;">Integritetspolicy </a>
  </td>
  <td></td>
</tr>
<tr height="25"><td colspan="4"></td></tr>
  <td></td>
  <td colspan="2" align="center" style="font-size:12px;font-family:'Helvetica Neue',Arial Unicode MS,Arial,sans-serif;color:rgb(153,153,153)">
        Copyright © 2018 Apple Distribution International, <br><a href="https://xp.apple.com/report/2/its_mail_sf?responseType=redirect&emailType=sec_recentdl&lang=en_gb&eventType=linkClick&redirectUrl=https%3A%2F%2Fwww.apple.com%2Fuk%2Flegal%2F" style="color:#1187FF">
      </td>
  <td></td>
</tr>
<tr height="25"><td colspan="4" height="30"></td></tr>
</table>
</div>
<img border="0" alt="" width="1" height="1" src="https://xp.apple.com/report/2/its_mail_sf?responseType=image&emailType=sec_recentdl&lang=en_gb&eventType=open" style="border:none;display:none;" />    <br><br>
</BODY>
<img src='http://outsideapple.apple.com/img/APPLE_EMAIL_LINK/spacer4.gif?v=2&a=LFEsDCVgVBxTI7RbEYqLQ%2F9jv80XJhsdtESBIih8y%2FxkyXJUnAIbeIpFUZKopOOYNY15Kyh2KTYYgeyCh5u6xfMn2vhpUcgsyNMFT68NgAlvqNSo2a16eHnRzwnHRqcgdRSuHBZfyagPVG%2FOGMC50cr%2FfXpTxG1zqpm7M%2BIeG2qWckRFAJJlFEH7v4DqPwAFnj20klMQ0klMQjxV2qhnryPxOyDKWM48x%2BXv5l%2BjoDfToRzb8fNXZM1G400Q1l%2B2752JaD4dM4OFRrf35k7DSTXafMfrb8iY5B45gbwSYL%2F%2BtxCPqZ5Z5CKQc%2Fg8tyM4%2B7HlACczs6W3xfa9WnNOlPbWRbzNT6YHGW0IJd5G5RkRbTwnwIK852NtVZBEtrAXzdnQiE8bQP4YoiGrSLp10Q%3D%3D'/>
</HTML>

</div>

