/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

/*
editor_gecko.css
==================

This file contains styles to used by all Gecko based browsers (Firefox) only.
*/

/* Base it on editor.css, overriding it with styles defined in this file. */
@import "../../components/editor";

.cke_bottom
{
    padding-bottom: 3px;
}

.cke_combo_text
{
    margin-bottom: -1px;
    margin-top: 1px;
}
