/*!
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,
 * Applekit is a paid software not for Commercial activity,
 * It must using under an valid license any attempt to using it under an hacked license or decode version it will be reported
 * And we are responsible for that report,
 * Support us by paying for our effort :).
 */

/*
editor_ie8.css
===============

This file contains styles to used by Internet Explorer 8 only.
*/

/* Base it on editor_ie.css, overriding it with styles defined in this file. */
@import "../../components/editor";

.cke_toolbox_collapser .cke_arrow
{
    border-width:4px;
}
.cke_toolbox_collapser.cke_toolbox_collapser_min .cke_arrow
{
    border-width:3px;
}
.cke_toolbox_collapser .cke_arrow
{
    margin-top: 0;
}
