<!DOCTYPE html>
<html>
    <body>

        <div dir="ltr" id="left-align-on-reply" style="margin: 0px auto 50px; padding: 0px; width: 685px; color: rgb(51, 51, 51); font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', sans-serif, Arial, Helvetica, Verdana, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <div id="main" style="margin-top: 40px; padding-right: 60px; padding-left: 60px;">
                <div id="logo-row-box" style="width: 100% !important; text-align: right !important; padding-bottom: 47px !important; padding-top: 0px !important;"><img id="apple-logo-in-row-box" src="https://statici.icloud.com/emailimages/v4/common/apple_logo_web@2x.png" style="display: inline-block; height: 28px; width: 24px; right: 0px;"></div>

                <table border="0" cellpadding="0" cellspacing="0" id="message-body-wrapper">
                    <tbody>
                        <tr>
                            <td id="message-body-left-margin" width="0"></td>
                            <td id="message-body">

                                <table border="0" cellpadding="0" cellspacing="0" id="paragraphs">
                                    <tbody>
                                        <tr>
                                            <td class="paragraph" style="line-height: 18px; padding: 0px 0px 18px !important;">{{name}},</td>
                                        </tr>
                                        <tr>
                                            <td class="paragraph" style="line-height: 18px; padding: 0px 0px 18px !important;">You recently made a request to reset your Account ID. Please click the link below to complete the process.</td>
                                        </tr>
                                        <tr>
                                            <td class="paragraph" style="line-height: 18px; padding: 0px 0px 18px !important;"><a href="{{link}}" role="link" style="color: rgb(0, 136, 204); text-decoration: none;">Reset now &gt;</a></td>
                                        </tr>
                                        <tr>
                                            <td class="paragraph" style="line-height: 18px; padding: 0px 0px 18px !important;">If you did not make this change or you believe an unauthorised person has accessed your account, go to&nbsp;<a href="https://iforgot.apple.com/password" role="link" style="color: rgb(0, 136, 204); text-decoration: none;">iforgot.apple.com</a>&nbsp;to reset your password without delay. Following this, sign into your Account ID  page to review and update your security settings.</td>
                                        </tr>
                                        <tr>
                                            <td class="paragraph" style="line-height: 18px; padding: 0px 0px 18px !important;">Sincerely,</td>
                                        </tr>
                                        <tr>
                                            <td id="signature" style="line-height: 18px; padding: 18px 0px 50px !important;">Apple Support</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <footer style="font-size: 11px; line-height: 15px; font-family: Geneva, Verdana, Arial, Helvetica, sans-serif; color: rgb(136, 136, 136); width: 685px;">

                <table border="0" cellpadding="0" cellspacing="0" id="footer-paragraphs" style="width: 685px;">
                    <tbody>
                        <tr>
                            <td id="footer-hr-cell">
                                <div class="footer-hr" height="1" style="height: 1px; background-color: rgb(254, 254, 254); background-image: -webkit-linear-gradient(left, rgb(254, 254, 254) 0%, rgb(234, 234, 234) 6%, rgb(234, 234, 234) 94%, rgb(254, 254, 254) 100%);"></div>
                            </td>
                        </tr>
                        <tr>
                            <td id="footer-gradient-img-cell" style="width: 685px;"><img id="footer-gradient" src="https://statici.icloud.com/emailimages/v4/common/footer_gradient_web.png" height="16" style="display: block; width: 100% !important; height: 16px !important;"></td>
                        </tr>
                        <tr>
                            <td id="footer-links" style="padding: 0px; text-align: center; line-height: 15px;">&nbsp;<a href="" role="link" style="color: rgb(0, 136, 204); text-decoration: none;">Support</a>&nbsp;|&nbsp;<a href="" role="link" style="color: rgb(0, 136, 204); text-decoration: none;">Privacy Policy</a></td>
                        </tr>
                        <tr>
                            <td id="copyright-cell" style="padding: 0px; margin-bottom: 0px; text-align: center; line-height: 15px;">Copyright &copy; 2017&nbsp;<span class="unlink " dir="ltr" id="apple-address">Apple Inc. 1 Infinite Loop, Cupertino, CA 95014, United States.&rlm;</span>&nbsp;<span id="all-rights-reserved">All Rights Reserved.<br><br></span></td>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </div>
    </body>
</html>

