/**************************************************************************************************
 * All Copyright (c) 2018. goes to Nemoze.net @MustaphaOthman Applekit developer,                 *
 * Applekit is a paid software not for Commercial activity,                                       *
 * It must using under an valid license any attempt to using it under an hacked license           *
 * or decode version it will be reported                                                          *
 * And we are responsible for that report,                                                        *
 * Support us by paying for our effort :).                                                        *
 **************************************************************************************************/

@font-face {
  font-family: 'sf-pro';
  src: url('../font/sf-pro-display-regular.eot'); /* IE9 Compat Modes */
  src: url('../font/sf-pro-display-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/sf-pro-display-regular.woff') format('woff'), /* Modern Browsers */ url('../font/sf-pro-display-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/sf-pro-display-regular.svg#80d8021909d835b751af094d043ad177') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'sf-pro-light';
  src: url('../font/sf-pro-display-light.eot'); /* IE9 Compat Modes */
  src: url('../font/sf-pro-display-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/sf-pro-display-light.woff') format('woff'), /* Modern Browsers */ url('../font/sf-pro-display-light.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/sf-pro-display-light.svg#80d8021909d835b751af094d043ad177') format('svg'); /* Legacy iOS */
}
body {
  margin: 0;
  padding: 0;
  background: #fff url("../img/bg.png") repeat center center; }

a {
  text-decoration: none !important;
}
.container-installer {
  position: relative;
  width: 100%;
  height: auto;
  margin: 70px auto;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3); }
  .container-installer .header-installer {
    position: relative;
    width: 100%;
    height: 28px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background: #e0e0e2 url("../img/headbg.png") repeat left center;
    border-bottom: 1px #c0c0c0 solid; }
    .container-installer .header-installer span.head-installer {
      position: relative;
      display: block;
      height: 28px;
      background: #fff url("../img/header.png") no-repeat left center;
      width: 63px; }
  .container-installer .body-installer {
    position: relative;
    width: 100%;
    min-height: 300px;
    background: #e9e9e9;
    border-radius: 0 0 5px 5px;
    padding: 20px 0; }
    .container-installer .body-installer .logo-installer {
      position: relative;
      display: block;
      width: 160px;
      height: 160px;
      margin: 0px auto;
      background: url("../img/install4.png") no-repeat center center; }
    .container-installer .body-installer .success-installer {
      position: relative;
      display: block;
      width: 160px;
      height: 160px;
      margin: 0px auto;
      background: url("../img/success.png") no-repeat center center; }
    .container-installer .body-installer .text-installer {
      position: relative;
      display: block;
      font-family: 'sf-pro', sans-serif;
      text-align: center; }
      .container-installer .body-installer .text-installer h1.installer-h1 {
        font-family: 'sf-pro', sans-serif;
        font-size: 30px !important;
        font-weight: 300 !important;
        text-align: center; }
      .container-installer .body-installer .text-installer p {
        font-family: 'sf-pro', sans-serif;
        font-size: 15px;
        font-weight: 300 !important;
        text-align: center; }
    .container-installer .body-installer .alert-installer {
      position: relative;
      padding: 20px 40px 0 40px; }
      .container-installer .body-installer .alert-installer .alert-error {
        position: relative;
        width: 100%;
        padding: 10px 20px;
        background: rgba(188, 19, 57, 0.5);
        border: 1px rgba(188, 19, 57, 0.5) solid;
        color: #fff;
        border-radius: 5px; }
    .container-installer .body-installer .form-installer {
      position: relative;
      width: 100%;
      padding: 30px 0 0 0;
      text-align: center; }
      .container-installer .body-installer .form-installer table.table-installer {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        margin: 0 auto; }
        .container-installer .body-installer .form-installer table.table-installer tr td {
          padding: 5px; }
      .container-installer .body-installer .form-installer form.stage1 input[type=text] {
        position: relative;
        border: 0;
        padding: 5px 10px;
        min-width: 280px;
        border-radius: 5px;
        outline: none;
        border: 1px #e0e0e0 solid;
        margin-right: 10px; }
      .container-installer .body-installer .form-installer form.stage1 button {
        position: relative;
        background: url("../img/button.png") no-repeat;
        width: 26px;
        height: 26px;
        border: 0;
        top: 5px; }
      .container-installer .body-installer .form-installer form.stage3 {
        position: relative;
        width: 280px;
        margin: 0 auto;
        text-align: center; }
        .container-installer .body-installer .form-installer form.stage3 input[type=text] {
          position: relative;
          border: 0;
          padding: 5px 10px;
          min-width: 280px;
          border-radius: 5px;
          outline: none;
          margin-right: 10px;
          margin-bottom: 5px; }
        .container-installer .body-installer .form-installer form.stage3 button {
          position: relative;
          background: url("../img/button.png") no-repeat;
          width: 26px;
          height: 26px;
          border: 0;
          margin-top: 10px; }
    .container-installer .body-installer .footer-installer {
      position: relative;
      width: 100%;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 10px; }
      .container-installer .body-installer .footer-installer a.button-installer {
        position: relative;
        display: inline-block;
        color: #333;
        font-family: 'sf-pro', sans-serif;
        font-weight: 300 !important;
        text-align: center;
        margin: 0 50px; }
        .container-installer .body-installer .footer-installer a.button-installer img {
          position: relative; }
        .container-installer .body-installer .footer-installer a.button-installer span {
          font-size: 15px;
          position: relative;
          display: block;
          margin-top: 7px; }
